@import '~src/assets/scss/theme-color.scss';
@import '~src/assets/scss/font-size.scss';



.astrolger_services {
    margin-top: 20px;
    .box_item {
        background-color: $background_white_color;
        text-align: center;
        border-radius: 8px;
        box-shadow: $box_shadow_astrolger_services;
        padding: 15px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        text-decoration: none;
        min-height: 200px;
        transition: $transition_out_5s;
        &:hover{
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            border-color: $border_color_articles;
            border-radius: 10px;
            background: $background_gradient_articles_hover;
            position: relative;
            bottom: 2px;
        }
        .icon {
            width: 80px;
            border-radius: 100%;
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            height: 80px;
            margin: 0 auto 25px;
            span {
                display: block;
            }
            img{
                width: 80px;
                height: 80px;
            }
        }
        .text {
            margin-top: 10px;
            color: $title_color;
            height: 21px;
            font-family: "Roboto Mono", monospace;
            font-size: $title_size_22px;
            font-weight: $font-weight_500;
        }
    }
}


.heading h2 {
    font-size: $title_size_30px;
    display: inline-block;
    margin: 25px 10px;
    line-height: 45px;
    font-family: "Roboto Mono", monospace;
    font-weight: $font-weight_600;
    letter-spacing: 1.5px;
    color: $title_color;
}

.heading button {
    float: right;
    margin-top: 30px;
    outline: none;
    border: none;
    background: transparent;
    text-decoration: underline;
    font-size: $title_size_18px;
    font-weight: $font-weight_600;
    padding: 10px;
    cursor: pointer;
}




@media only screen  and (max-width: 600px) {
.slider-banner{ padding: 10px 0; height: auto;}
.heading h2{ font-size: 15px; margin: 0px; }

.astrolger_services{
    margin-top: 5px;
    .col-6.col-sm-6.col-md-3.mbile_vrsn{
        width: 30.2%;
        margin: 0 5px;
        float: none;
        display: inline-block;
        padding: 0;
        .box_item{
            min-height: auto;
            margin-bottom: 10px;
            padding: 5px 0;
            .icon{
                width: 30px;
                height: 30px;
                margin-bottom: 0px;
                img{
                    width: 30px;
                    height: 30px;
                }
            }
            .text{
                font-size: 12px;
                margin-top: 5px;
            }
        }
    }
}


}