
/**************Font-Size**************/
$title_size_10px: 10px;
$title_size_12px: 12px;
$title_size_13px: 13px;
$title_size_14px: 14px;
$title_size_15px: 15px;
$title_size_16px: 16px;
$title_size_17px: 17px;
$title_size_18px: 18px;
$title_size_20px: 20px;
$title_size_22px: 22px;
$title_size_23px: 23px;
$title_size_25px: 25px;
$title_size_30px: 30px;

$font-weight_300: 300;
$font-weight_400: 400;
$font-weight_500: 500;
$font-weight_600: 600;
$font-weight_700: 700;
