
/**************Gradient-Color*************/

$background_gradient : linear-gradient(90.53deg, rgb(188 174 152 / 34%) 0%, rgba(221, 186, 15, 0.13) 50%, #ee940c40 100%);
$background_gradient_color : linear-gradient(to right, #ffeb6878, #fa88194f, #fa881940, #ffb25f61, #ffb25fa8);
$background_gradient_free_astrolger_services :linear-gradient(42deg, rgb(188 174 152 / 0%) 0%, rgba(221, 186, 15, 0.13) 50%, rgb(238 148 12 / 10%) 100%);
$background_gradient_slider: linear-gradient(42deg, rgba(0, 0, 0, 0.1215686275) 0%, rgb(239 236 222 / 22%) 50%,rgba(0, 0, 0, 0.1215686275) 100%);
$background_gradient_tabs:linear-gradient(90.53deg, #fafafa5c 0%, #fafafa14 50%, #fafafa63 100%);
$background_gradient_we_have_color: linear-gradient(90.53deg, rgb(209 175 122 / 50%) 0%, rgb(186 182 163 / 13%) 50%, rgb(163 153 139 / 8%) 100%);
$background_gradient_articles :linear-gradient(42deg, rgb(188 174 152 / 0%) 0%, rgba(221, 186, 15, 0.13) 50%, rgb(238 148 12 / 10%) 100%);
$background_gradient_articles_hover: linear-gradient(1deg, rgb(255 221 49 / 26%) 20%, rgb(255 255 255 / 50%) 100%);
$background_gradient_best_astro : linear-gradient(42deg, rgba(0, 0, 0, 0.1215686275) 0%, rgba(239, 236, 222, 0.22) 50%, rgba(0, 0, 0, 0.1215686275) 100%);
$background_menu_color: linear-gradient(42deg, rgb(188 174 152 / 63%) 0%, rgb(221 186 15 / 22%) 50%, rgb(238 148 12 / 38%) 100%);
$background_blog_inner_page : linear-gradient(90.53deg, #fafafa5c 0%, #fafafa14 50%, #fafafa63 100%);
$background_blog_inner_shadow: linear-gradient(359.56deg, rgba(0, 0, 0, 0.49) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0) 100%);


/**************transition/transform-in/out*************/

$transition_out_5s: 0.5s all ease-in-out;
$transition_out_3s: 0.3s all ease-in-out;
$transform_hover_3d_deg_item: rotate3d(1, 1, 1, 93deg);
$box_shadow_astrolger_services: rgba(0, 0, 0, 0.1) -7px 7px 20px 0px;


/**************Color**************/

$title_color: #000000;
$title_white_color: #ffffff;
$title_gray_color: #cccccc;
$title_light_gray_color: #eeeeee;
$browes_title-color: #333;
$articles_title_color: #000000;
$border_color: #000000;

$hover_text: #333333;
$hover_white_color: #ffffff;
$hover_menu_text_color :#fa8819;

$border_color_articles: #ffffff;
$border_color_tell: #a2a597c2;
$border_why_choose_us_color:#cccccc57;

$choose_text_color: #000000;
$choose_icon_color: #000000;

$enquiry_number_color:#000000;
$enquiry_background_color:#ffffff;
$login_btn_color: #000000;

$button_text_color: #ffffff;
$button_background_color : #fa8819;

$border_light_pink_color : rgb(252, 205, 202);
$border_shadow_astrolger_color: #eeeeee;

$background_menu_color: rgb(255, 247, 237);
$background_white_color: #ffffff;
$background_articles_color: #ffffff;

$footer_text_white_color: #ffffff;
$footer_text_black_color: #000000;
$footer_background_color: #000000;

$footer_light_border_color: rgb(19 12 12 / 9%);
$footer_black_border_color: #130c0c38;
$footer_gray_border_color: #666666;

$amount_talkchat_text_white_color: #ffffff;
$amount_talkchat_text_black_color: #000000;
$amount_talkchat_amountsign_gray_color: #cccccc;
$amount_talkchat_icon_color: #000000;
$talkchat_color: #454545;
$talkchat_border_color: #dee2e6;
$talkchat_text_color: #000000;
$talkchat_text_gray_color: #333333;

$wallet_amounts_color : #000000;
$avatar_border_color: #000000;
$user_onlogin_border_color : #333333;


