:root {
    --body-bg-color: #e5ecef;
    --theme-bg-color: #fff;
    --settings-icon-hover: #9fa7ac;
    --developer-color: #f9fafb;
    --input-bg: #f8f8fa;
    --input-chat-color: #a2a2a2;
    --border-color: #eef2f4;
    --body-color: #273346;
    --settings-icon-color: #c1c7cd;
    --msg-message: #969eaa;
    --chat-text-bg: #f1f2f6;
    --theme-color: #0086ff;
    --msg-date: #c0c7d2;
    --button-bg-color: #f0f7ff;
    --button-color: var(--theme-color);
    --detail-font-color: #919ca2;
    --msg-hover-bg: rgba(238, 242, 244, 0.4);
    --active-conversation-bg: linear-gradient(
     to right,
     rgba(238, 242, 244, 0.4) 0%,
     rgba(238, 242, 244, 0) 100%
    );
    --overlay-bg: linear-gradient(
     to bottom,
     rgba(255, 255, 255, 0) 0%,
     rgba(255, 255, 255, 1) 65%,
     rgba(255, 255, 255, 1) 100%
    );
    --chat-header-bg: linear-gradient(
     to bottom,
     rgba(255, 255, 255, 1) 0%,
     rgba(255, 255, 255, 1) 78%,
     rgba(255, 255, 255, 0) 100%
    );
   }
   
   [data-theme="purple"] {
    --theme-color: #9f7aea;
    --button-color: #9f7aea;
    --button-bg-color: rgba(159, 122, 234, 0.12);
   }
   
   [data-theme="green"] {
    --theme-color: #38b2ac;
    --button-color: #38b2ac;
    --button-bg-color: rgba(56, 178, 171, 0.15);
   }
   
   [data-theme="orange"] {
    --theme-color: #ed8936;
    --button-color: #ed8936;
    --button-bg-color: rgba(237, 137, 54, 0.12);
   }
   
   .dark-mode {
    --body-bg-color: #1d1d1d;
    --theme-bg-color: #27292d;
    --border-color: #323336;
    --body-color: #d1d1d2;
    --active-conversation-bg: linear-gradient(
     to right,
     rgba(47, 50, 56, 0.54),
     rgba(238, 242, 244, 0) 100%
    );
    --msg-hover-bg: rgba(47, 50, 56, 0.54);
    --chat-text-bg: #383b40;
    --chat-text-color: #b5b7ba;
    --msg-date: #626466;
    --msg-message: var(--msg-date);
    --overlay-bg: linear-gradient(
     to bottom,
     rgba(0, 0, 0, 0) 0%,
     #27292d 65%,
     #27292d 100%
    );
    --input-bg: #2f3236;
    --chat-header-bg: linear-gradient(
     to bottom,
     #27292d 0%,
     #27292d 78%,
     rgba(255, 255, 255, 0) 100%
    );
    --settings-icon-color: #7c7e80;
    --developer-color: var(--border-color);
    --button-bg-color: #393b40;
    --button-color: var(--body-color);
    --input-chat-color: #6f7073;
    --detail-font-color: var(--input-chat-color);
   }
   
   .blue {
    background-color: #0086ff;
   }
   
   .purple {
    background-color: #9f7aea;
   }
   
   .green {
    background-color: #38b2ac;
   }
   
   .orange {
    background-color: #ed8936;
   }

   // Variables
// --------------------------------------
$scrollbar-width:              10px;
$chat-thread-bgd-color:        rgba(25,147,147,0.2);
$chat-thread-msg-arrow-size:   15px;
$chat-thread-avatar-size:      50px;
$chat-thread-offset:           #{$chat-thread-avatar-size + 30px};
$chat-waiting-screen:  rgba(8, 9, 9, 0.5803921569);
/**************Gradient-Color*************/

$background_gradient : linear-gradient(90.53deg, rgb(188 174 152 / 34%) 0%, rgba(221, 186, 15, 0.13) 50%, #ee940c40 100%);
$background_gradient_color : linear-gradient(to right, #ffeb6878, #fa88194f, #fa881940, #ffb25f61, #ffb25fa8);
$background_gradient_free_astrolger_services :linear-gradient(42deg, rgb(188 174 152 / 0%) 0%, rgba(221, 186, 15, 0.13) 50%, rgb(238 148 12 / 10%) 100%);
$background_gradient_slider: linear-gradient(42deg, rgba(0, 0, 0, 0.1215686275) 0%, rgb(239 236 222 / 22%) 50%,rgba(0, 0, 0, 0.1215686275) 100%);
$background_gradient_tabs:linear-gradient(90.53deg, #fafafa5c 0%, #fafafa14 50%, #fafafa63 100%);
$background_gradient_we_have_color: linear-gradient(90.53deg, rgb(209 175 122 / 50%) 0%, rgb(186 182 163 / 13%) 50%, rgb(163 153 139 / 8%) 100%);
$background_gradient_articles :linear-gradient(42deg, rgb(188 174 152 / 0%) 0%, rgba(221, 186, 15, 0.13) 50%, rgb(238 148 12 / 10%) 100%);
$background_gradient_articles_hover: linear-gradient(1deg, rgb(255 221 49 / 26%) 20%, rgb(255 255 255 / 50%) 100%);
$background_gradient_best_astro: linear-gradient(42deg, rgba(0, 0, 0, 0.1215686275) 0%, rgba(239, 236, 222, 0.22) 50%, rgba(0, 0, 0, 0.1215686275) 100%);
$background_menu_color: linear-gradient(42deg, rgb(188 174 152 / 63%) 0%, rgb(221 186 15 / 22%) 50%, rgb(238 148 12 / 38%) 100%);
$background_blog_inner_page: linear-gradient(90.53deg, #fafafa5c 0%, #fafafa14 50%, #fafafa63 100%);
$background_blog_inner_shadow: linear-gradient(359.56deg, rgba(0, 0, 0, 0.49) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0) 100%);
$background_blog_view_count_section: linear-gradient(90.53deg, #e5ae52c4 0%, rgb(165 165 165 / 92%) 50%, rgb(139 132 130 / 71%) 100%);
$background_blog_card_section: linear-gradient(90.53deg, rgba(188, 174, 152, 0.34) 0%, rgba(221, 186, 15, 0.13) 50%, rgba(238, 148, 12, 0.2509803922) 100%);
$background_blog_Side_bar: linear-gradient(90.53deg, rgba(188, 174, 152, 0.34) 0%, rgba(221, 186, 15, 0.13) 50%, rgba(238, 148, 12, 0.2509803922) 100%);
$background_blog_side_bar_hover :linear-gradient(1deg, rgba(255, 221, 49, 0.26) 20%, rgba(255, 255, 255, 0.5) 100%);
$background_unfollow_bg_color: linear-gradient(42deg, #e94a0d 0%, rgb(221 139 15 / 92%) 50%, rgb(116 113 109 / 95%) 100%);
$background_gradient_profile_gallery_bg : linear-gradient(top, #555, #333);
$background_gradient_profile_bg: linear-gradient(90.53deg, rgba(188, 174, 152, 0.34) 0%, rgba(221, 186, 15, 0.13) 50%, rgba(238, 148, 12, 0.2509803922) 100%);

/**************transition/transform-in/out*************/

$transition_out_5s: 0.5s all ease-in-out;
$transition_out_3s: 0.3s all ease-in-out;
$transform_hover_3d_deg_item: rotate3d(1, 1, 1, 93deg);
$transform_hover_blog_card_section: scale(1.03);


/**************box-shadow-color*************/
$box_shadow_fixed_header: rgba(0, 0, 0, 0.18) 2px 2px 16px 0px;
$box_shadow_astrolger_services: rgba(0, 0, 0, 0.1) -7px 7px 20px 0px;
$box_shadow_blog_page : rgba(0, 0, 0, 0.1) 0px 16px 20px 2px;
$box_shadow_blog_card_section : rgba(0, 0, 0, 0.1) 0px 16px 20px 2px;
$box_shadow_blog_single_section : (54 51 51 / 12%) -1px -9px 20px 2px;
$box_shadow_blog_side_bar: rgba(0, 0, 0, 0.1) -7px 7px 20px 0px;
$box_shadow_blog_side_bar_inner: inset rgba(0, 0, 0, 0.1) -1px 0px 20px 2px;
$box_shadow_unfollow_tag: inset rgba(0, 0, 0, 0.1) 1px -19px 5px 0px;
$box_shadow_astrolger_gallery_left_section: rgba(0, 0, 0, 0.1) -7px 7px 20px 0px;
$box_shadow_astrolger_gallery_right_section: rgba(0, 0, 0, 0.1) 0px 11px 20px 0px;
$box_shadow_astrolger_gallery: rgba(0, 0, 0, 0.1) 0px 10px 20px 0px;
$box_shadow_astrolger_gallery_weekly_status: rgba(0, 0, 0, 0.1) -7px 7px 20px 0px;


/**************Color**************/

$title_color: #000000;
$title_dark_gray_color: #333333;
$title_white_color: #ffffff;
$title_gray_color: #cccccc;
$title_light_gray_color: #eeeeee;
$browes_title-color: #333;
$articles_title_color: #000000;
$border_color: #000000;
$follow_bg_color: #f8f9faed;
$astrolger_gallery_white_bg_color: #ffffff;
$astrolger_gallery_black_light_bg_color: #444444;
$astrolger_profile_black_light_color: #212529;

$hover_text: #333333;
$hover_white_color: #ffffff;
$hover_menu_text_color :#fa8819;

$border_color_articles: #ffffff;
$border_color_tell: #a2a597c2;
$border_why_choose_us_color:#cccccc57;

$choose_text_color: #000000;
$choose_icon_color: #000000;

$enquiry_number_color:#000000;
$enquiry_background_color:#ffffff;
$login_btn_color: #000000;

$button_text_color: #ffffff;
$button_background_color : #fa8819;

$border_light_pink_color : rgb(252, 205, 202);
$border_shadow_astrolger_color: #eeeeee;

$background_menu_color: rgb(255, 247, 237);
$background_white_color: #ffffff;
$background_articles_color: #ffffff;

$footer_text_white_color: #ffffff;
$footer_text_black_color: #000000;
$footer_background_color: #000000;

$footer_light_border_color: rgb(19 12 12 / 9%);
$footer_black_border_color: #130c0c38;
$footer_gray_border_color: #666666;

$amount_talkchat_text_white_color: #ffffff;
$amount_talkchat_text_black_color: #000000;
$amount_talkchat_amountsign_gray_color: #cccccc;
$amount_talkchat_icon_color: #000000;
$talkchat_color: #454545;
$talkchat_border_color: #dee2e6;
$talkchat_text_color: #000000;
$talkchat_text_gray_color: #333333;

$wallet_amounts_color : #000000;
$avatar_border_color: #000000;
$user_onlogin_border_color : #333333;

$blog_card_section_bg_color : #ffffff;
$blog_single_bg_color : #f3f3e280;
$blog_side_bar_black_color : #000000;
$blog_side_bar_white_color : #ffffff;
$blog_side_bar_border_color : #eeeeee;
$blog_side_bar_light_gray_color : #333333;