<section class="vedic_astrology">
    <div class="about_vedic_astrology heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="vedic_img">
                        <img src="https://www.onegodmed.com/front-assets/images/ganesha-pic.png">
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <h2>About Vedic Astrology</h2>
                    <p>“Does life have a meaning and purpose?” This is what we usually think when in despair; when things don’t go our way,
                        thus making us feel miserable. That is when Vedic Astrology comes into the picture.
                        It is the study of how planets and other heavenly bodies influence a person’s way of life; on a personal and
                        professional level.</p>
                    <p>The concept of Vedic Astrology originates from the Vedas, the ancient scriptures disclosed by the great sages during
                        the 1500-2000 BCE.
                        Those Vedas are considered as the eyes of the sages, which provide a connection with the Divine Spirit, and gives us
                        the ability to see within ourselves with more clarity.
                        The reincarnation of the Karma forms the core of the system, and the karma is nothing but the “past due” of our
                        lives. In order to balance Karmic tendencies that arise as a result of the past, there are remedial measures
                        suggested by the Vedic astrologers that help change the karma associated with the afflicted planet. The Vedic
                        astrologers, through their expertise in spiritual knowledge, prescribe remedial measures with near perfect accuracy.
                        That is why Vedic astrology is also known as the “science of light”.
                        We, at OneGodMed, provide solutions to your troubles, for you to attain self-realization and develop unity to
                        spirit. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="astrology_type">
        <div class="tabs_vedic_astrolgers">
            <div class="container heading">
                <h2>Vedic Astrologers</h2>
                <mat-tab-group>
                    <!-- *ngFor="let hero of listarr; let i = index;" -->
                    <div *ngFor="let list of listarr; let i = index">
                    <mat-tab label= '{{ list.subcat_name }}' >
                        <ng-template mat-tab-label>
                            <img src='{{ icon[i].img }}'>
                            <span (click)="subcategory(list.id)">{{ list.subcat_name }}</span>
                        </ng-template> 
                        <div class="container">
                            <div class="vedic_astrolger-section heading">
                                <h3>{{ list.subcat_name }}</h3>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        <div class="astrology_vedic_img">
                                            <img src="https://www.onegodmed.com/assets/categories_image/bueinss_astrology-onegodmed.jpg">
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        <div class="astrology_vedic_text">
                                            <!-- <h2>About Vedic Astrology</h2> -->
                                            <div class="backcolor-astrogy">
                                                <p>Let us assist you to determine how planet positioning in various houses help flourish a business.</p>
                                            </div>
                                            <p [innerHTML]="result">{{result}}</p>
                                                <div class="backcolor-astrogy">
                                                    <p>Let us assist you to determine how planet positioning in various houses help flourish a business.</p>
                                                </div>
                                            <div class="btn-vedic">
                                                <a href="#">Talk to our specialist</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </mat-tab>
                </div>
                </mat-tab-group>
            </div>
        </div>
    </div>
</section>