<section class="vedic_astrology">
    <div class="about_vedic_astrology heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="vedic_img">
                        <img src="https://www.onegodmed.com/front-assets/images/ganesha-pic.png">
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <h2>About Vedic Astrology</h2>
                    <p>“Does life have a meaning and purpose?” This is what we usually think when in despair; when things don’t go our way,
                        thus making us feel miserable. That is when Vedic Astrology comes into the picture.
                        It is the study of how planets and other heavenly bodies influence a person’s way of life; on a personal and
                        professional level.</p>
                    <p>The concept of Vedic Astrology originates from the Vedas, the ancient scriptures disclosed by the great sages during
                        the 1500-2000 BCE.
                        Those Vedas are considered as the eyes of the sages, which provide a connection with the Divine Spirit, and gives us
                        the ability to see within ourselves with more clarity.
                        The reincarnation of the Karma forms the core of the system, and the karma is nothing but the “past due” of our
                        lives. In order to balance Karmic tendencies that arise as a result of the past, there are remedial measures
                        suggested by the Vedic astrologers that help change the karma associated with the afflicted planet. The Vedic
                        astrologers, through their expertise in spiritual knowledge, prescribe remedial measures with near perfect accuracy.
                        That is why Vedic astrology is also known as the “science of light”.
                        We, at OneGodMed, provide solutions to your troubles, for you to attain self-realization and develop unity to
                        spirit. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="astrology_type">
        <div class="tabs_vedic_astrolgers">
            <div class="container heading">
                <h2>Vedic Astrologers</h2>
                <mat-tab-group>
                    <mat-tab label="Business">
                        <ng-template mat-tab-label>
                            <img src="https://www.onegodmed.com/front-assets/images/astrology.png">
                            <span>Business</span>
                        </ng-template>
                        <div class="container">
                            <div class="vedic_astrolger-section heading">
                                <h3>Business Astrology</h3>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        <div class="astrology_vedic_img">
                                            <img src="https://www.onegodmed.com/assets/categories_image/bueinss_astrology-onegodmed.jpg">
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        <div class="astrology_vedic_text">
                                            <!-- <h2>About Vedic Astrology</h2> -->
                                            <div class="backcolor-astrogy">
                                                <p>Let us assist you to determine how planet positioning in various houses help flourish a business.</p>
                                            </div>
                                            <p>Business is all about taking risks. A
                                                successful businessman analyses the opportunities that lay in front of him and
                                                devises a plan to make the best use of the opportunity. He assesses the risks
                                                and turns them in his favor by his intellect and experience. But what plays a
                                                major role in this whole process is the position of his planets that govern his
                                                line of business. In Vedic astrology, Mercury governs the professional aspect
                                                of a person’s life, and its positions decide whether the business will be
                                                profitable or cause problems. </p>
                                            <p>There are eleven houses that the planets rest in, indicating the status of the existing business, each
                                                representing a different angle. </p>   
                                            <p>Whether you are starting a new venture, or struggling with your existing business, Vedic astrology helps ease
                                                out those troubles. </p>     
                                            <p>By tracking the positioning of planets, we, at onegodmed.com, will not allow any unhamrony in the world of business. </p>
                                            <p>Having the skilled brigade of astrologers, we will make you aware of your fate in business and the factors
                                                which needs to be looked up to make the venture a successful one. The risk that you take is supported
                                                by our predictions, for you to cement your business decisions in a better manner. We can help you resolve your problems related to business horoscope and assist
                                                you to take it to greater heights. </p>
                                                <div class="backcolor-astrogy">
                                                    <p>Let us assist you to determine how planet positioning in various houses help flourish a business.</p>
                                                </div>
                                            <div class="btn-vedic">
                                                <a href="#">Talk to our specialist</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Career">
                        <ng-template mat-tab-label>
                            <img src="https://www.onegodmed.com/front-assets/images/family.png">
                            <span>Career</span>
                        </ng-template>
                        <div class="container">
                            <div class="vedic_astrolger-section heading">
                                <h3>Career</h3>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        <div class="astrology_vedic_img">
                                            <img src="https://www.onegodmed.com/assets/categories_image/Career_Astrology_Onegodmed.jpg">
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        <div class="astrology_vedic_text">
                                            <!-- <h2>About Vedic Astrology</h2> -->
                                            <div class="backcolor-astrogy">
                                                <p>Let us assist you to determine how planet positioning in various houses help flourish a business.</p>
                                            </div>
                                            <p>When a child is born, his planets determine the path that he will choose on an academic and professional level.
                                                With the world becoming extensively competitive, people are concerned about the
                                                professional course that their children will take and whether they will attain
                                                success in their area of study or not.  </p>
                                            <p>Vedic astrology for a career is a popular way of finding out what the stars of a person’s zodiac sign say.
                                                However, this is not the only thing that influences a person’s profession but has its roots grounded to a considerable extent. </p>   
                                            <p>The person’s nature in terms of profession, his/her artistic abilities, and his/her duration for pursuing a
                                                particular field also influence his/her career path. In career astrology, three elements are considered for making a prediction for a person’s academic career:
                                                the planet, the zodiac sign, and the lord planet or house. These three factors together decide upon the professional conduit of a child when he/she is
                                                born.</p>     
                                            <p>At onegodmed.com, we have skilled astrologers that the three factors into account and predict the study
                                                path of the child with near-perfect accuracy. While reading your career horoscope & education horoscope they give you the assurance, the
                                                reality and the answers to your career-related dilemmas through their skill and expertise.  </p>
                                                <div class="backcolor-astrogy">
                                                    <p>Let us assist you to determine how planet positioning in various houses help flourish a business.</p>
                                                </div>
                                            <div class="btn-vedic">
                                                <a href="#">Talk to our specialist</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Marriage">
                        <ng-template mat-tab-label>
                            <img src="https://www.onegodmed.com/front-assets/images/marriage.png">
                            <span>Marriage</span>
                        </ng-template>
                        <div class="container">
                            <div class="vedic_astrolger-section heading">
                                <h3>Marriage</h3>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        <div class="astrology_vedic_img">
                                            <img src="https://www.onegodmed.com/assets/categories_image/marriage_child-2587451_960_7202.jpg">
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        <div class="astrology_vedic_text">
                                            <!-- <h2>About Vedic Astrology</h2> -->
                                            <div class="backcolor-astrogy">
                                                <p>Let us assist you to determine how planet positioning in various houses help flourish a business.</p>
                                            </div>
                                            <p><b>Marriage Prediction :</b> A marriage is a holy alliance
                                                between two people, symbolizing commitment, love, and trust. Having a lasting
                                                relationship is what everyone wants. Unsatisfied and delayed marriage invites melancholy-phase in life. Choosing the soul mate, you can make your life
                                                blissful with; it can be the most significant decision of your life. Your heart
                                                horizon cannot bear an unhappy marriage without marriage prediction and the consequence associated with it. That
                                                is when Astrology comes in the picture! </p>
                                            <p>Marriage astrology provides answers to the string of dilemmas associated with marriage. Be
                                                it finding the compatible partner or fixing troubles in the existing marriage, Vedic
                                                astrology is one solution that stands to clear all the worries falling in your
                                                path. Our astrologers devise the best remedies that correct the problems in the
                                                afflicted planets of the partners, thus strengthening the bond more than ever. </p>   
                                            <p>In addition to matchmaking, Vedic <b>astrology</b> is a ray of hope for the couples who are struggling with problems related to childbirth. Having a child is one of
                                                the most beautiful things in life that anything else cannot fulfill. Among the twelve zodiac signs, some are fertile and others are not. </p>     
                                            <p> who tackle and analyze the problems of childless couples with its experience and research. They scrutinize the positions of the
                                                planets from marriage horoscope and formulate solutions that eliminate the unfortunate problem of progeny, thus giving the couple the joy of a lifetime.  </p>
                                            <span><p>Get connected to the right source & get logical assistance of astrology. Get instant Voice or Video consultation with our expert Marriage Astrologers. </p></span>
                                            <div class="btn-vedic">
                                                <a href="#">Talk to our specialist</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Relationship">
                        <ng-template mat-tab-label>
                            <img src="https://www.onegodmed.com/front-assets/images/relationship.png">
                            <span>Relationship</span>
                        </ng-template>
                        <div class="container">
                            <div class="vedic_astrolger-section heading">
                                <h3>Relationship</h3>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        <div class="astrology_vedic_img">
                                            <img src="https://www.onegodmed.com/assets/categories_image/relationship_small.jpg">
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        <div class="astrology_vedic_text">
                                            <!-- <h2>About Vedic Astrology</h2> -->
                                            <div class="backcolor-astrogy">
                                                <p>Let us assist you to determine how planet positioning in various houses help flourish a business.</p>
                                            </div>
                                            <p>Physical and emotional compatibility are the pillars of any relationship, which make it
                                                work and last for a lifetime. If the compatibility is missing in a relationship, there will be conflicts. If understanding and love are present,
                                                then the relationship will grow and flourish. The foundation of relationship be it of husband and wife, brothers and sisters, professional relations or with
                                                parents, the compatibility issues is one such factor which troubles the essence.</p>
                                            <p>When two people meet as a result of an attraction towards each other, their status
                                                of relationship in the future is hard to judge. That is when Vedic astrology eases out the hassle, by providing complete compatibility analysis between
                                                those two people. It is a perfect way to judge whether two people are made for each other. The same applies in every relation; the mechanism of cosmos may
                                                sound antique but holds a great weight on the life of a human by giving the  explanations on ongoing happenings and formulate the appropriate remedy. </p>   
                                            <p>The planetary influences that govern the feeling of togetherness in a couple are important to assess so that timely measures can be taken to overcome the problems caused by malefic planets. We, at onegodmed.com, have skilled
                                                astrologers who analyze whether the signs and planets of the concerned relationship are in perfect agreement and suggest appropriate measures if there are factors that would cause a hindrance in the smooth functioning of a relationship. </p>
                                            <span><p>Get connected to our best astrologers and keep aligned all your planets for a new or existing relationship. Get instant Voice or Video consultation with our expert Marriage Astrologers. </p></span>
                                            <div class="btn-vedic">
                                                <a href="#">Talk to our specialist</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Money">
                        <ng-template mat-tab-label>
                            <img src="https://www.onegodmed.com/front-assets/images/wealth.png">
                            <span>Money</span>
                        </ng-template>
                        <div class="container">
                            <div class="vedic_astrolger-section heading">
                                <h3>Money</h3>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        <div class="astrology_vedic_img">
                                            <img src="https://www.onegodmed.com/assets/categories_image/wealth8.jpg">
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        <div class="astrology_vedic_text">
                                            <!-- <h2>About Vedic Astrology</h2> -->
                                            <div class="backcolor-astrogy">
                                                <p>Let us assist you to determine how planet positioning in various houses help flourish a business.</p>
                                            </div>
                                            <p>Money plays a crucial role in any person’s life, as it decides his standard of
                                                living. The wealth that he encompasses, the property that he has, everything holds importance in the present world. However, wealth is a volatile aspect of
                                                a person’s life, which can vanish at some point and can shower at another. It is hence imperative to know the status of wealth so that the person can plan
                                                his way of life accordingly.</p>
                                            <p>Vedic astrology provides answers to all the questions related to wealth and property,
                                                which are governed by different houses.  </p>   
                                            <p>Each house represents a different angle of this category, each relating to the wealth and property of a person, either
                                                directly or indirectly. The presence of auspicious planets in the house indicates good wealth, while any affliction in the planets is something that
                                                needs to be addressed. </p>     
                                            <p>At onegodmed.com, we provide answers to all your money related queries with utmost accuracy, with the help of our skilled and experienced astrologers. They tell you whether your house is covered with auspicious planets that indicate
                                                prosperity. On the other hand, if the house is surrounded by malefic planets, the astrologers suggest remedial measures to minimize their influence and help brighten your chances towards achieving your desires. </p>
                                            <span><p>Plan your wealth & property by astrological mean and get the maximum benefit out of it. Get instant Voice or Video consultation with our expert Astrologers.</p></span>
                                            <div class="btn-vedic">
                                                <a href="#">Talk to our specialist</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Family">
                        <ng-template mat-tab-label>
                            <img src="https://www.onegodmed.com/front-assets/images/family.png">
                            <span>Family</span>
                        </ng-template>
                        <div class="container">
                            <div class="vedic_astrolger-section heading">
                                <h3>Family Consultation</h3>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        <div class="astrology_vedic_img">
                                            <img src="https://www.onegodmed.com/assets/categories_image/Fmily.jpg">
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        <div class="astrology_vedic_text">
                                            <!-- <h2>About Vedic Astrology</h2> -->
                                            <span>
                                                <p>We track the arrangement of cosmos to preserve your family well-being.</p>
                                            </span>
                                            <p>The joy of having a family is above all the material comforts in the world. No
                                                matter the riches you encompass, they cannot give you the happiness and
                                                prosperity that the presence of a family offers. </p>
                                            <p>In any family, there are some favorable and unfavorable moments that arise as a result of the karma of each
                                                individual member. That is when Vedic astrology comes into the picture,
                                                offering remedial measures to those struggling with family issues. </p>   
                                            <p>At onegodmed, we provide complete solutions to ameliorate family conditions with
                                                the help of remedies that bring back the joy and togetherness that had once gone astray. </p>     
                                            <p>We house a team of skilled astrologers possessing years of experience, who
                                                undertake a comprehensive analysis of the crucial planetary transits that are
                                                affecting the wellbeing of the family. They reveal the significant moments that
                                                reveal each family member’s life and their influence on the overall condition
                                                of the family. After conducting an in-depth study, they find out which planets
                                                are malefic and what can be done to reduce their effect. </p>
                                            <span><p>Get instant Voice or Video consultation with our expert Astrologers.</p></span>
                                            <div class="btn-vedic">
                                                <a href="#">Talk to our specialist</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Medical">
                        <ng-template mat-tab-label>
                            <img src="https://www.onegodmed.com/front-assets/images/medical.png">
                            <span>Medical</span>
                        </ng-template>
                        <div class="container">
                            <div class="vedic_astrolger-section heading">
                                <h3>Medical Astrology</h3>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        <div class="astrology_vedic_img">
                                            <img src="https://www.onegodmed.com/assets/categories_image/Medical-Astro-768x478.jpg">
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        <div class="astrology_vedic_text">
                                            <!-- <h2>About Vedic Astrology</h2> -->
                                            <div class="backcolor-astrogy">
                                                <p>Let us assist you to determine how planet positioning in various houses help flourish a business.</p>
                                            </div>
                                            <p>At onegodmed, we provide complete solutions to ameliorate family conditions with
                                                the help of remedies that bring back the joy and togetherness that had once gone astray. </p>     
                                            <p>We house a team of skilled astrologers possessing years of experience, who
                                                undertake a comprehensive analysis of the crucial planetary transits that are
                                                affecting the wellbeing of the family. They reveal the significant moments that
                                                reveal each family member’s life and their influence on the overall condition
                                                of the family. After conducting an in-depth study, they find out which planets
                                                are malefic and what can be done to reduce their effect. </p>
                                            <span><p>Get instant Voice or Video consultation with our expert Astrologers.</p></span>
                                            <div class="btn-vedic">
                                                <a href="#">Talk to our specialist</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Numerology">
                        <ng-template mat-tab-label>
                            <img src="https://www.onegodmed.com/front-assets/images/numerology.png">
                            <span>Numerology</span>
                        </ng-template>
                        <div class="container">
                            <div class="vedic_astrolger-section heading">
                                <h3>Numerology</h3>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        <div class="astrology_vedic_img">
                                            <img src="https://www.onegodmed.com/assets/categories_image/numerology.jpg">
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        <div class="astrology_vedic_text">
                                            <!-- <h2>About Vedic Astrology</h2> -->
                                            <div class="backcolor-astrogy">
                                                <p>Let us assist you to determine how planet positioning in various houses help flourish a business.</p>
                                            </div>
                                            <p>In any individual’s life, numbers play a significant role, defining an individual’s inner core and
                                                assessing his/her way of approaching life. These numbers are associated with
                                                the name and date of birth of the person concerned, which helps in choosing a life
                                                partner, an appropriate career, and determining destiny. Numerology operates on
                                                the analysis of three categories of numbers, namely psychic numbers, destiny
                                                numbers, and name numbers. The strengths and weaknesses revealed by these
                                                numbers help the individual to make wiser, conscious choices.</p>     
                                            <p>At onegodmed.com, we have numerologists who have the expertise and the experience
                                                to assess the vibratory resonance of numbers, thereby reflecting the character
                                                and personality of the person concerned. They conduct an in-depth study of the
                                                numbers that reflect the hurdles that a person might face and provide solutions
                                                to eliminate the effect of those obstacles. If you are also in a dilemma
                                                regarding your way of life and are looking for personal fulfillment and enjoyment,
                                                then a numerological assessment by our skilled numerologists will help you make
                                                better decisions. </p>
                                            <span><p>Let’s get connected to our skilled and expert Numerologist. Get Instant Voice or Video consultation with our expert Numerologist now.</p></span>
                                            <div class="btn-vedic">
                                                <a href="#">Talk to our specialist</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Palmistry">
                        <ng-template mat-tab-label>
                            <img src="https://www.onegodmed.com/front-assets/images/astrology.png">
                            <span>Palmistry</span>
                        </ng-template>
                        <div class="container">
                            <div class="vedic_astrolger-section heading">
                                <h3>Palmistry</h3>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        <div class="astrology_vedic_img">
                                            <img src="https://www.onegodmed.com/assets/categories_image/Palmistry.jpg">
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        <div class="astrology_vedic_text">
                                            <!-- <h2>About Vedic Astrology</h2> -->
                                            <div class="backcolor-astrogy">
                                                <p>Let us assist you to determine how planet positioning in various houses help flourish a business.</p>
                                            </div>
                                            <p>the person concerned, which helps in choosing a life
                                                partner, an appropriate career, and determining destiny. Numerology operates on
                                                the analysis of three categories of numbers, namely psychic numbers, destiny
                                                numbers, and name numbers. The strengths and weaknesses revealed by these
                                                numbers help the individual to make wiser, conscious choices.</p>     
                                            <p>we have numerologists who have the expertise and the experience
                                                to assess the vibratory resonance of numbers, thereby reflecting the character
                                                and personality of the person concerned. They conduct an in-depth study of the
                                                numbers that reflect the hurdles that a person might face and provide solutions
                                                to eliminate the effect of those obstacles. If you are also in a dilemma
                                                regarding your way of life and are looking for personal fulfillment and enjoyment,
                                                then a numerological assessment by our skilled numerologists will help you make
                                                better decisions. </p>
                                            <span><p>Know yourself completely !! Get Instant Voice or Video consultation with our expert , Palmists Now. </p></span>
                                            <div class="btn-vedic">
                                                <a href="#">Talk to our specialist</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Vastu Shastra">
                        <ng-template mat-tab-label>
                            <img src="https://www.onegodmed.com/front-assets/images/astrology.png">
                            <span>Vastu Shastra</span>
                        </ng-template>
                        <div class="container">
                            <div class="vedic_astrolger-section heading">
                                <h3>Vastu Shastra</h3>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        <div class="astrology_vedic_img">
                                            <img src="https://www.onegodmed.com/assets/categories_image/Cat_image.jpg">
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        <div class="astrology_vedic_text">
                                            <!-- <h2>About Vedic Astrology</h2> -->
                                            <div class="backcolor-astrogy">
                                                <p>Let us assist you to determine how planet positioning in various houses help flourish a business.</p>
                                            </div>
                                            <p>Earth, water, fire, air, and space are the five elements that form nature. Attaining
                                                a perfect balance of these five elements is crucial, and the more accurate it
                                                is, the better. These elements are being extensively used in the field of
                                                architecture, making sure that they together create a perfect balance, thus
                                                ensuring happiness, prosperity and wealth.</p>     
                                            <p>Vastu Shastra is this ancient science of architecture that helps create a congenial
                                                setting, taking advantage of the five elements of nature. </p>
                                            <P>This ancient mystic science of designing and building structures is not based on
                                                assumptions but is a division of analytical science. The five elements of the universe and the electromagnetic energy created by the earth’s rotation together decide the balance between man and material.</P> 
                                            <P>We, at onegodmed.com, have a team of professionals who possess the knowledge, secret
                                                and expertise of creating a balance between the five elements while building
                                                structures for offices, businesses, home or any space to ensure prosperity.
                                                They give suggestions regarding the directions for each division of the structure,
                                                combining which will make the building sound as per the Vastu. </P>       
                                            <span><p>Planning a new space? Or looking Vastu solutions for current space? Let’s
                                                get connected to our Vastu Shastra Experts while booking your Audio or Video sessions Now. </p></span>
                                            <div class="btn-vedic">
                                                <a href="#">Talk to our specialist</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Tarot">
                        <ng-template mat-tab-label>
                            <img src="https://www.onegodmed.com/front-assets/images/tarot.png">
                            <span>Tarot</span>
                        </ng-template>
                        <div class="container">
                            <div class="vedic_astrolger-section heading">
                                <h3>Tarot</h3>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        <div class="astrology_vedic_img">
                                            <img src="https://www.onegodmed.com/assets/categories_image/Tarot_card.jpg">
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        <div class="astrology_vedic_text">
                                            <!-- <h2>About Vedic Astrology</h2> -->
                                            <div class="backcolor-astrogy">
                                                <p>Let us assist you to determine how planet positioning in various houses help flourish a business.</p>
                                            </div>
                                            <p>Tarot reading is a powerful form of foretelling that provides answers
                                                related to all spheres of life. It is an intriguing way of forecasting and has been used for hundreds of
                                                years. A deck of ancient cards is used by card readers who provide an accurate
                                                reading; based upon the cards that you pick and the order you pick them in. </p> 
                                            <P>Each card holds a different meaning and your choice of the cards
                                                provides a detailed perspective of the situation of your present and future.
                                                The card that you pick provides you answers to your queries about love, life,
                                                relationships, career, education, finances and wealth.</P>        
                                            <p>At onegodmed.com, we have numerologists who have the expertise and the experience
                                                to assess the vibratory resonance of numbers, thereby reflecting the character
                                                and personality of the person concerned. They conduct an in-depth study of the
                                                numbers that reflect the hurdles that a person might face and provide solutions
                                                to eliminate the effect of those obstacles. If you are also in a dilemma
                                                regarding your way of life and are looking for personal fulfillment and enjoyment,
                                                then a numerological assessment by our skilled numerologists will help you make
                                                better decisions. </p>
                                                <div class="backcolor-astrogy">
                                                    <p>Let us assist you to determine how planet positioning in various houses help flourish a business.</p>
                                                </div>
                                            <div class="btn-vedic">
                                                <a href="#">Talk to our specialist</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</section>