
    <ngx-slick-carousel class="carousel"  #slickModal="slick-carousel"  [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <img src="{{ slide.img }}" alt="" width="100%">
            <div class="slider-text">
                <div class="icon-hover">
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                </div>
                <span>{{slide.title}}</span>
                <p>{{slide.subtitle}}</p>
            </div>
        </div>
    </ngx-slick-carousel>

    
