
<div class="container">

    <div class="chat-app">
        <div class="wrapper">
         <div class="conversation-area">
          <div class="msg online">
           <img class="msg-profile" src='{{ astrodetails.data.photo_url }}'>
           <div class="msg-detail">
            <div class="astrologyer-name">{{ astrodetails.data.full_name}}</div>
            <div class="astrologyer-msg-content">
             <span class="msg-message">{{ astrodetails.data.expertise}}</span>
             <span class="msg-date">{{ checkuserbalance.data.talktimeMinute}}m</span>
            </div>
            <div class="exprinces"><span>{{ astrodetails.data.experience }}</span>Year</div>
           </div>
          </div>
          <button class="add"></button>
          <div class="overlay"></div>
         </div>
         <div class="chat-area">
          <div class="chat-area-header">
           <div class="chat-area-title">{{ astrodetails.data.full_name}}</div>
           <div class="time-chat-min">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span>{{ display }}</span>Left
           </div>
           <div class="end-process-chat">
                <div class="ref-btn">
                    <i class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i>
                </div>
                <button (click)="openDialogclosed()">End Chat</button>
            </div>
          </div>
          <div class="chat-area-main" style="overflow-y: scroll;" #scrollMe [scrollTop]="scrollMe.scrollHeight">

            <ul class="chat-thread" *ngFor="let message of messageList index as i">
                <div class="astro-chat" *ngIf="message.userId==astrologerId">
                    <div class="ogm-astro-img">
                        <img src='{{ astrodetails.data.photo_url }}'>
                    </div>
                    <div class="astro-text">{{message.reqmessagedata.text}}</div>
                    <div class="astro-time-msg">{{ message.reqmessagedata.createdAt | date:'short' }} </div>
                </div>
                <div class="user-chat" *ngIf="message.userId==CurrentBalance.data.user_id">
                    <div class="user-chat-img">
                        <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%281%29.png"> -->
                        <img src="{{userPhoto}}">
                    </div>
                    <div class="user-chat-text">{{message.reqmessagedata.text}}</div>
                    <div class="user-time-msg">{{ message.reqmessagedata.createdAt | date:'short' }} </div>
                </div>
                <!-- <div class="astro-chat">
                    <div class="ogm-astro-img">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%281%29.png">
                    </div>
                    <div class="astro-text">Are we meeting today?</div>
                    <div class="astro-time-msg">22/07/2022 <span>11:04:22 AM</span> </div>
                </div>
                <div class="user-chat">
                    <div class="user-chat-img">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%281%29.png">
                    </div>
                    <div class="user-chat-text">How are you , can  we meeting today?</div>
                    <div class="user-time-msg">22/07/2022 <span>11:04:22 AM</span> </div>
                </div>
                <div class="astro-chat">
                    <div class="ogm-astro-img">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%281%29.png">
                    </div>
                    <div class="astro-text">Are we meeting today?</div>
                    <div class="astro-time-msg">22/07/2022 <span>11:04:22 AM</span> </div>
                </div>
                <div class="user-chat">
                    <div class="user-chat-img">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%281%29.png">
                    </div>
                    <div class="user-chat-text">How are you , can  we meeting today?</div>
                    <div class="user-time-msg">22/07/2022 <span>11:04:22 AM</span> </div>
                </div> -->
            </ul>

          </div>
          <div class="chat-area-footer">
           <input type="text" id="textmessage" placeholder="Type something here..." />
           <button (click)="sendMessage()"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
          </div>
         </div>
        </div>
    </div>

    <div *ngIf="waitingSuccess" class="waiting-chat-app">
        <div class="chat_waiting_section">
            <div class="avatar">
                <a href="#">
                  <img src="../../assets/images/IMAGE3.png" alt="Skytsunami" />
                </a>
              </div>
            <div class="chat-text">
              <p>Please wait, <span class="astro_name"> Astro Mang </span> will accept your Chat request in <br>
                <span class="time" val="00:22">{{ waitdisplay }}</span> minutes. <br> If does not accept , Please choose another astrologer to chat.
              </p>
            </div>  
        </div>
    </div>

</div>    

