<section class="astrologer_profile">
        <div class="profile_top_section">
            <div class="container">
                <div class="astrologer_breadcrumbs">
                    <ul>
                        <li><a href="/">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/talktoastro">Astrologer Listing</a>
                        </li>
                        <li>
                            <a class="current active text-capitalize">Astrologer Profile</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="astro_profile_img">
                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25">
                        </div>
                        <div class="following_section">
                            <ul>
                                <li>
                                    <span>440</span>
                                    <a href="#">Followers</a>
                                </li>
                                <li>
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <a href="#">Follow</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        <div class="astro_details_section">
                            <h1>Pawan</h1>
                            <div class="astro-professional">
                                <span>Tarot</span>
                                <span>Vedic</span>
                            </div>
                            <div class="language">
                                <span>Hindi</span>  
                                <span>English</span>
                                <span>Punjabi</span>
                            </div>
                            <div class="exprinces">
                                <span>12</span>
                                Year
                            </div>
                            <div class="categories-tag">
                                <span>Business</span>
                                <span>Love</span>
                                <span>Marrige</span>
                            </div>
                            <div class="callchat-btn">
                                <button class="btn-call">
                                    <div class="icon-call"></div>
                                    <span class="call-section">Start Call</span>
                                    <div class="price">
                                        <span><i class="fa fa-inr" aria-hidden="true"></i>
                                            08<span>/Min</span>
                                        </span>
                                        <div class="discount_price">04<span>/Min</span></div>
                                    </div>
                                </button>
                                <button class="btn-call">
                                    <div class="icon-chat"></div>
                                    <span class="call-section">Start Chat</span>
                                    <div class="price">
                                        <span><i class="fa fa-inr" aria-hidden="true"></i>
                                            15<span>/Min</span>
                                        </span>
                                        <div class="discount_price">09<span>/Min</span></div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="starrating">
                            <div class="total_rating">Ratings: <span class="fa fa-star"></span><span>5</span> / <span>789</span></div>
                            <div class="side_right_five">
                                <div class="total_count">150</div>
                            </div>
                            <div class="side_right_four">
                                <div class="total_count">10</div>
                            </div>
                            <div class="side_right_three">
                                <div class="total_count">230</div>
                            </div>
                            <div class="side_right_two">
                                <div class="total_count">80</div>
                            </div>
                            <div class="side_right_one">
                                <div class="total_count">03</div>
                            </div>
                            <div class="user_comment_img">
                                <img src="../../../assets/images/offira-rating1.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile_bottom_section">
            <div class="profile-tabs-astrolgers">
                <div class="container">
                    <div class="profile_details heading">
                        <div class="aboutus_section">
                            <div class="text-cover_styles">
                                <div class="back_color">
                                    <h2>About Me</h2>
                                </div>
                                <p>
                                    <span>Mr. Anand </span>discovered that a positive atmosphere brings out the best in us.
                                    This is because the positive atmosphere makes us think properly and enabling us to give potent results. One can increase the <b>quantum of positive signals</b>
                                    and <b> reduce the impact of negative indications </b> in one’s horoscope. Man is governed within the framework of an individual horoscope.
                                    Man is governed within the framework of an individual horoscope.  Negativity can be reduced by proper construction and selection of a house/ Structure. 
                                    Mr. Anand does <b>Medical Astrology</b> through Gems and Helio Therapy based on Sun Rays Treatment of over <b>180 diseases that includes diseases</b>
                                    of <strong>Mind, Face, Neck, Throat, Lungs, Heart, Kidney, Liver, Diabetes, Skin, Sex Organs.</strong> He got the title of  from the inventor Prof. K. S. Krishnamurti's son Prof. K. Hariharan directly This achievement is a milestone in Mr. Anand's career and helped him to help mankind on large scale. 
                                    He got with <b>distinction 'Vastu Ratna'</b>  from All India Federation of Astrologers Society (AIFAS). He is an Astrologer who <strong>combines the benefits of Astrology, Vastu, and Fengshui for a tension-free life</strong>
                                    Mr. Anand is a <strong>Post Graduate</strong> <span> in Management and has completed courses in </span> <b>Industrial Psychology and Labor Laws from India’s prestigious schools</b>
                                </p>
                            </div>
                            <div class="text-cover_styles">
                                <p>
                                    <span class="bg-clr">His area of expertise includes Vedic Astrology, Gemology and subcategories are as follows.</span>
                                    <span class="order-listing-about">
                                        <ol>
                                            <li>Business Astrology</li>
                                            <li>Career & Education Astrology</li>
                                            <li>Marriage Prediction</li>
                                            <li>Family Consultation</li>
                                            <li>Marriage</li>
                                        </ol>
                                    </span>
                                </p>
                            </div>
                            <div class="guarantee_box_section">
                                <div class="secure_section">
                                <span class="sprite_icons money_back_guarantee"></span>Money Back <br>
                                Guarantee
                                <div class="clearfix"></div>
                                </div>
                                <div class="secure_section">
                                <span class="sprite_icons astro_verified"></span>Verified Expert<br>
                                Astrologers
                                <div class="clearfix"></div>
                                </div>
                                <div class="secure_section"> <span class="sprite_icons astro_secure"></span> 100% Secure<br>
                                Payments
                                <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="sectionright_side">
                            <div class="back_color">
                                <h3>Verified Reviews</h3>
                            </div>
                            <div class="scroll-fixed">
                                <div class="profile-rates">
                                    <div class="rating_h4">
                                        <div class="section-left">
                                            <span class="rating_blue diff_color1">M</span>
                                        </div>
                                        <div class="section-right"><i>Tue, 12 Jul,2022</i></div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="rating_comment">Good satisfactory </div>
                                    <div class="astro-comment-section">
                                        <span>Mang Astro</span>
                                        <div class="astro-date"><i>Tue, 10 JuN,2021</i></div>
                                        <div class="ratingastro_comment">Thanks a Lot ! so good at what you do</div>
                                    </div>
                                </div>
                                <div class="profile-rates">
                                    <div class="rating_h4">
                                        <div class="section-left">
                                            <span class="rating_blue diff_color2">S</span>
                                        </div>
                                        <div class="section-right"><i>Tue, 12 Jul,2022</i></div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="rating_comment">Wow, that's impressive work.</div>
                                    <div class="astro-comment-section">
                                        <span>Mang Astro</span>
                                        <div class="astro-date"><i>Tue, 10 JuN,2021</i></div>
                                        <div class="ratingastro_comment">Thanks a Lot ! so good at what you do</div>
                                    </div>
                                </div>
                                <div class="profile-rates">
                                    <div class="rating_h4">
                                        <div class="section-left">
                                            <span class="rating_blue diff_color4">S</span>
                                        </div>
                                        <div class="section-right"><i>Tue, 04 Jul,2022</i></div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="rating_comment">Be proud of the fact that you have the power to 
                                    rise above any situation and deliver the best results no matter the circumstances. Excellent work!</div>
                                    <div class="astro-comment-section">
                                        <span>Mang Astro</span>
                                        <div class="astro-date"><i>Tue, 10 JuN,2021</i></div>
                                        <div class="ratingastro_comment">Thanks a Lot ! so good at what you do</div>
                                    </div>
                                </div>
                                <div class="profile-rates">
                                    <div class="rating_h4">
                                        <div class="section-left">
                                            <span class="rating_blue diff_color6">T</span>
                                        </div>
                                        <div class="section-right"><i>Tue, 10 JuN,2021</i></div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="rating_comment">You're so good at what you do</div>
                                    <div class="astro-comment-section">
                                        <span>Mang Astro</span>
                                        <div class="astro-date"><i>Tue, 10 JuN,2021</i></div>
                                        <div class="ratingastro_comment">Thanks a Lot ! so good at what you do</div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-comment-section">
                                <div class="star_ratinguser">
                                    <h4>Your Ratings:</h4>
                                    <div class="star-icon">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                                <textarea  rows="4" cols="50" placeholder="Please Enter you Comments"></textarea>
                                <span class="sendbtn">Comments</span>
                            </div>
                            <div class="astrologer_weekly_status">
                                <div class="btnclass" (click)="toggleShow()">Check Weekly Availability</div>
                                <div class="week" *ngIf="isShown">
                                        <ul>
                                            <li>
                                                <div class="days-name">Sun: </div> 
                                                <a href="#"><span>12pm</span> to <span>2Am</span></a>
                                                <a href="#"><span>2Am</span> to <span>4Am</span></a>
                                                <a href="#"><span>4Am</span> to <span>6Am</span></a>
                                                <a href="#"><span>6Am</span> to <span>8Am</span></a>
                                                <a href="#"><span>8Am</span> to <span>10Am</span></a>
                                                <a href="#"><span>10Am</span> to <span>12pm</span></a>
                                            </li>
                                            <li>
                                                <div class="days-name">Mou: </div>
                                                <a href="#"><span>12pm</span> to <span>2Am</span></a>
                                                <a href="#"><span>2Am</span> to <span>4Am</span></a>
                                                <a href="#"><span>4Am</span> to <span>6Am</span></a>
                                                <a href="#"><span>6Am</span> to <span>8Am</span></a>
                                                <a href="#"><span>8Am</span> to <span>10Am</span></a>
                                                <a href="#"><span>10Am</span> to <span>12pm</span></a>
                                            </li>
                                            <li>
                                                <div class="days-name">Tue: </div> 
                                                <a href="#"><span>12pm</span> to <span>2Am</span></a>
                                                <a href="#"><span>2Am</span> to <span>4Am</span></a>
                                                <a href="#"><span>4Am</span> to <span>6Am</span></a>
                                                <a href="#"><span>6Am</span> to <span>8Am</span></a>
                                                <a href="#"><span>8Am</span> to <span>10Am</span></a>
                                                <a href="#"><span>10Am</span> to <span>12pm</span></a>
                                            </li>
                                            <li>
                                                <div class="days-name">Wed: </div>
                                                <a href="#"><span>12pm</span> to <span>2Am</span></a>
                                                <a href="#"><span>2Am</span> to <span>4Am</span></a>
                                                <a href="#"><span>4Am</span> to <span>6Am</span></a>
                                                <a href="#"><span>6Am</span> to <span>8Am</span></a>
                                                <a href="#"><span>8Am</span> to <span>10Am</span></a>
                                                <a href="#"><span>10Am</span> to <span>12pm</span></a>
                                            </li>
                                            <li>
                                                <div class="days-name">Thu: </div>
                                                <a href="#"><span>12pm</span> to <span>2Am</span></a>
                                                <a href="#"><span>2Am</span> to <span>4Am</span></a>
                                                <a href="#"><span>4Am</span> to <span>6Am</span></a>
                                                <a href="#"><span>6Am</span> to <span>8Am</span></a>
                                                <a href="#"><span>8Am</span> to <span>10Am</span></a>
                                                <a href="#"><span>10Am</span> to <span>12pm</span></a>
                                            </li>
                                            <li>
                                                <div class="days-name">Fri: </div>
                                                <a href="#"><span>12pm</span> to <span>2Am</span></a>
                                                <a href="#"><span>2Am</span> to <span>4Am</span></a>
                                                <a href="#"><span>4Am</span> to <span>6Am</span></a>
                                                <a href="#"><span>6Am</span> to <span>8Am</span></a>
                                                <a href="#"><span>8Am</span> to <span>10Am</span></a>
                                                <a href="#"><span>10Am</span> to <span>12pm</span></a>
                                            </li>
                                            <li>
                                                <div class="days-name">Sat: </div>
                                                <a href="#"><span>12pm</span> to <span>2Am</span></a>
                                                <a href="#"><span>2Am</span> to <span>4Am</span></a>
                                                <a href="#"><span>4Am</span> to <span>6Am</span></a>
                                                <a href="#"><span>6Am</span> to <span>8Am</span></a>
                                                <a href="#"><span>8Am</span> to <span>10Am</span></a>
                                                <a href="#"><span>10Am</span> to <span>12pm</span></a>
                                            </li>
                                        </ul>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
