@import '~src/assets/scss/theme-color.scss';
@import '~src/assets/scss/font-size.scss';


.heading h2 {
    font-size: $title_size_30px;
    display: inline-block;
    margin: 25px 10px;
    line-height: 45px;
    font-family: "Roboto Mono", monospace;
    font-weight: $font-weight_600;
    letter-spacing: 1.5px;
    color: $title_color;
}
  
.heading button {
    float: right;
    margin-top: 30px;
    outline: none;
    border: none;
    background: transparent;
    text-decoration: underline;
    font-size: $title_size_18px;
    font-weight: $font-weight_600;
    padding: 10px;
    cursor: pointer;
}

.astrologer_profile{
  width: 100%;
  float: left;
  .profile_top_section{
    float: left;
    width: 100%;
    padding: 6% 0;
    box-sizing: border-box;
    background: linear-gradient(90.53deg, rgba(188, 174, 152, 0.34) 0%, rgba(221, 186, 15, 0.13) 50%, rgba(238, 148, 12, 0.2509803922) 100%);
    .astro_profile_img{
      float: left;
      transition: 0.5s all ease-in-out;
      transition: transform 0.5s;
      &:hover{
        transition: transform 0.5s;
        transform: scale(1.02);
      }
      img{
        width: 100%;
        height: 330px;
        min-width: 330px;
        border-radius: 15px;
      }
    }
    .astro_details_section{
      float: left;
      width: 100%;
      margin: 10px 0;
      h1{
        letter-spacing: 1px;
        font-size: $title_size_32px;
        font-weight: $font-weight_600;
        float: left;
        width: 100%;
        position: relative;
        &:after {
          content: "";
          width: 35px;
          height: 35px;
          background: url(/../assets/images/verified-sign.png);
          background-repeat: no-repeat;
          position: absolute;
          margin-left: 10px;
          margin-top: 0px;
          background-size: cover;
          background-position: center;
        }
      }
      .categories-tag{
        float: left;
        margin: 10px 0;
        a{
            cursor: pointer;
            text-decoration: none;
            display: inline-block;
            padding: 8px 15px;
            background: $background_blog_card_section;
            margin: 5px;
            border-radius: 3px;
            color: $title_color;
            font-size: $title_size_16px;
            font-weight: $font-weight_600;
            letter-spacing: 1px;
            border: 1px solid transparent;
            &:hover{
              transition: 0.5s all ease-in-out;
              border-color: rgb(252, 205, 202);
              background: rgb(255, 247, 237);
              transform: scale(1.02);
            }
        }
      }
    }
  }
  .profile_bottom_section{
    float: left;
    width: 100%;
    padding: 10% 0;
    box-sizing: border-box;
    background: linear-gradient(1deg, rgba(255, 221, 49, 0.26) 20%, rgba(255, 255, 255, 0.5) 100%);
  }
}  