<section class="astrologer_profile">
        <div class="profile_top_section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="astro_profile_img">
                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25">
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="astro_details_section">
                            <h1>Pawan</h1>
                            <div class="categories-tag">
                                <a href="#">Love</a>
                                <a href="#">Relactionship</a>
                                <a href="#">Career</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile_bottom_section"></div>
</section>
