
<section class="user_profile_section">
    <div class="user_profile_update">
            <div class="container heading">
                <h2>Account Information</h2>
                <mat-tab-group>
                    <mat-tab label="Dashboard">
                        <ng-template mat-tab-label>
                            <i class="fa fa-th-large" aria-hidden="true"></i>
                            <span>Dashboard</span>
                        </ng-template>
                        <div class="container">
                            <div class="profile-data-section heading">
                                <h3>Dashboard</h3>
                                <div class="row">
                                    <div class="col-md-6 col-lg-4 col-xlg-4">
                                        <div class="deshboard_bg_color lightgreen">
                                            <div class="count-number">3</div>
                                            <h3>Total Invoice</h3>
                                            <img class="imgcat" src="../../assets/images/IMAGE3.png">
                                            <div class="cat">
                                                <div class="face">
                                                  <div class="eye eye--left">
                                                    <div class="eye-pupil"></div>
                                                  </div>
                                                  <div class="eye eye--right">
                                                    <div class="eye-pupil"></div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xlg-4">
                                        <div class="deshboard_bg_color lightyello">
                                            <div class="count-number">0</div>
                                            <h3>Total Downloads</h3>
                                            <img class="imgcat" src="../../assets/images/IMAGE3.png">
                                            <div class="cat">
                                                <div class="face">
                                                  <div class="eye eye--left">
                                                    <div class="eye-pupil"></div>
                                                  </div>
                                                  <div class="eye eye--right">
                                                    <div class="eye-pupil"></div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xlg-4">
                                        <div class="deshboard_bg_color lightpink">
                                            <div class="count-number">3</div>
                                            <h3>Total Bookings</h3>
                                            <img class="imgcat" src="../../assets/images/IMAGE3.png">
                                            <div class="cat">
                                                <div class="face">
                                                  <div class="eye eye--left">
                                                    <div class="eye-pupil"></div>
                                                  </div>
                                                  <div class="eye eye--right">
                                                    <div class="eye-pupil"></div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="My Profile">
                        <ng-template mat-tab-label>
                            <i class="fa fa-user-secret" aria-hidden="true"></i>
                            <span>My Profile</span>
                        </ng-template>
                        <div class="container">
                            <div class="update-user-section heading">
                                <h3>Profile Details</h3>
                                <div class="row">
                                    <div class="col-md-8 col-lg-8 col-xlg-8 col-xs-12">
                                        <div class="edit_section_user">
                                            <input type="text" autocomplete="off" placeholder="Name">
                                            <input type="email" autocomplete="off" placeholder="Email id">
                                            <input type="text" autocomplete="off" placeholder="Mobile Number">
                                            <input type="text" autocomplete="off" placeholder="Country">
                                            <textarea placeholder="Address"></textarea>
                                            <input type="text" autocomplete="off" placeholder="City">
                                            <input type="text" autocomplete="off" placeholder="State">
                                            <input type="text" autocomplete="off" placeholder="Pin Code">
                                            <div *ngIf="editprofileshow" class="edit_custom_file">
                                                <input type="file" class="custom-input" name="image" placeholder="Choose file...">
                                                <div class="invalid-msg">Example invalid custom Image.</div>
                                            </div>
                                            <div *ngIf="editprofileshow" class="Language_section">
                                                <select class="lang_control" name="status">
                                                    <option>Language</option>
                                                    <option value="hindi">Hindi</option>
                                                    <option value="english">English</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xlg-4 col-xs-12">
                                        <div class="data-save-section">
                                            <div class="user-profile-img-section">
                                                <img src="https://www.onegodmed.com/admin-assets/assets/images/users/no-image.png" alt="profile-img">
                                            </div>
                                            <div class="profile-handle-btn">
                                                <button (click)="showEditprofile()">Edit Profile</button>
                                                <button *ngIf="editprofileshow" class="update_edit_profile">Update</button>
                                                <button>Delete Account</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="My Booking">
                        <ng-template mat-tab-label>
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            <span>My Booking</span>
                        </ng-template>
                        <div class="container">
                            <div class="booking_astrolger-section heading">
                                <h3>My Booking</h3>
                                <div class="row">
                                    <div class="col-md-4 col-lg-4 col-xlg-4 col-xs-12 booking_cover">
                                        <div class="booking_card">
                                            <div class="cover_line"><strong>Booking ID : <span>1023431234421</span></strong></div>
                                            <div class="cover_line">Date & Time : <span>2022-07-23, 11:00:49</span></div>
                                            <div class="cover_line">Service Type : <span> Call / Chat</span></div>
                                            <div class="cover_line">Service Name : <span>Vedic Astrology</span></div>
                                            <div class="cover_line">Consultant Name : <span>Astro Mang</span></div>
                                            <div class="cover_line">Call Duration : <span> 04 Min 17 Sec</span></div>
                                            <div class="cover_line">Service Amount : <span><i class="fa fa-inr" aria-hidden="true"></i>245</span></div>
                                            <div class="cover_line">Payment Mode : <span>Wallet</span></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xlg-4 col-xs-12 booking_cover">
                                        <div class="booking_card">
                                            <div class="cover_line"><strong>Booking ID : <span>1023431234421</span></strong></div>
                                            <div class="cover_line">Date & Time : <span>2022-07-23, 11:00:49</span></div>
                                            <div class="cover_line">Service Type : <span> Call / Chat</span></div>
                                            <div class="cover_line">Service Name : <span>Vedic Astrology</span></div>
                                            <div class="cover_line">Consultant Name : <span>Astro Mang</span></div>
                                            <div class="cover_line">Call Duration : <span> 04 Min 17 Sec</span></div>
                                            <div class="cover_line">Service Amount : <span><i class="fa fa-inr" aria-hidden="true"></i>245</span></div>
                                            <div class="cover_line">Payment Mode : <span>Wallet</span></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xlg-4 col-xs-12 booking_cover">
                                        <div class="booking_card">
                                            <div class="cover_line"><strong>Booking ID : <span>1023431234421</span></strong></div>
                                            <div class="cover_line">Date & Time : <span>2022-07-23, 11:00:49</span></div>
                                            <div class="cover_line">Service Type : <span> Call / Chat</span></div>
                                            <div class="cover_line">Service Name : <span>Vedic Astrology</span></div>
                                            <div class="cover_line">Consultant Name : <span>Astro Mang</span></div>
                                            <div class="cover_line">Call Duration : <span> 04 Min 17 Sec</span></div>
                                            <div class="cover_line">Service Amount : <span><i class="fa fa-inr" aria-hidden="true"></i>245</span></div>
                                            <div class="cover_line">Payment Mode : <span>Wallet</span></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xlg-4 col-xs-12 booking_cover">
                                        <div class="booking_card">
                                            <div class="cover_line"><strong>Booking ID : <span>1023431234421</span></strong></div>
                                            <div class="cover_line">Date & Time : <span>2022-07-23, 11:00:49</span></div>
                                            <div class="cover_line">Service Type : <span> Call / Chat</span></div>
                                            <div class="cover_line">Service Name : <span>Vedic Astrology</span></div>
                                            <div class="cover_line">Consultant Name : <span>Astro Mang</span></div>
                                            <div class="cover_line">Call Duration : <span> 04 Min 17 Sec</span></div>
                                            <div class="cover_line">Service Amount : <span><i class="fa fa-inr" aria-hidden="true"></i>245</span></div>
                                            <div class="cover_line">Payment Mode : <span>Wallet</span></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xlg-4 col-xs-12 booking_cover">
                                        <div class="booking_card">
                                            <div class="cover_line"><strong>Booking ID : <span>1023431234421</span></strong></div>
                                            <div class="cover_line">Date & Time : <span>2022-07-23, 11:00:49</span></div>
                                            <div class="cover_line">Service Type : <span> Call / Chat</span></div>
                                            <div class="cover_line">Service Name : <span>Vedic Astrology</span></div>
                                            <div class="cover_line">Consultant Name : <span>Astro Mang</span></div>
                                            <div class="cover_line">Call Duration : <span> 04 Min 17 Sec</span></div>
                                            <div class="cover_line">Service Amount : <span><i class="fa fa-inr" aria-hidden="true"></i>245</span></div>
                                            <div class="cover_line">Payment Mode : <span>Wallet</span></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xlg-4 col-xs-12 booking_cover">
                                        <div class="booking_card">
                                            <div class="cover_line"><strong>Booking ID : <span>1023431234421</span></strong></div>
                                            <div class="cover_line">Date & Time : <span>2022-07-23, 11:00:49</span></div>
                                            <div class="cover_line">Service Type : <span> Call / Chat</span></div>
                                            <div class="cover_line">Service Name : <span>Vedic Astrology</span></div>
                                            <div class="cover_line">Consultant Name : <span>Astro Mang</span></div>
                                            <div class="cover_line">Call Duration : <span> 04 Min 17 Sec</span></div>
                                            <div class="cover_line">Service Amount : <span><i class="fa fa-inr" aria-hidden="true"></i>245</span></div>
                                            <div class="cover_line">Payment Mode : <span>Wallet</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Wallet History">
                        <ng-template mat-tab-label>
                            <i class="fa fa-history" aria-hidden="true"></i>
                            <span>Wallet History</span>
                        </ng-template>
                        <div class="container">
                            <div class="vedic_astrolger-section heading">
                                <h3>Wallet History</h3>
                                <div class="row">

                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Download">
                        <ng-template mat-tab-label>
                            <i class="fa fa-cloud-download" aria-hidden="true"></i>
                            <span>Download</span>
                        </ng-template>
                        <div class="container">
                            <div class="vedic_astrolger-section heading">
                                <h3>Download</h3>
                                <div class="row">

                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="My Astrologers">
                        <ng-template mat-tab-label>
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                            <span>My Astrologers</span>
                        </ng-template>
                        <div class="container">
                            <div class="myastrologer-table-section heading">
                                <h3>My Astrologers</h3>
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xlg-12 col-xs-12">
                                        <div class="chat_card">
                                            <ul>
                                                <li>
                                                    <div class="card_astro">
                                                        <div class="astro-img">
                                                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                                                alt="kundali">
                                                            <div class="light-shad"></div>
                                                        </div>
                                                        <div class="status-section">
                                                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                                                            <span>24</span>Year
                                                        </div>
                                                        <div class="star-ratings">
                                                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                                                            <div class="count-rating">8.5</div>
                                                            <div class="count-rating newlyaddedastro">New</div>
                                                        </div>
                                                        <div class="call-status-astrolger">
                                                            <a href="#">
                                                                <span class="sprite-chat-astrologer"></span>
                                                            </a>
                                                            <a href="#">
                                                                <span class="sprite-call-astrologer"></span>
                                                            </a>
                                                            <a href="#">
                                                                <span class="sprite-joincall-astrologer"></span>
                                                            </a>
                                                            <a href="#">
                                                                <span class="sprite-offline-astrologer"></span>
                                                            </a>
                                                        </div>
                                                        <div class="astro-section">
                                                            <h5>Poonam</h5>
                                                            <p>Psychic-Medium</p>
                                                            <div class="ratting">
                                                                <div class="language-astrologer">
                                                                    <i class="fa fa-language" aria-hidden="true"></i>
                                                                    <span>Hindi</span>
                                                                    <span>English</span>
                                                                    <span>Punjabi</span>
                                                                </div>
                                                                <div class="skills-astrologer">
                                                                    <span>Love</span>
                                                                    <span>Marriage</span>
                                                                </div>
                                                                <div class="price">
                                                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                                                        80<span>/Min</span>
                                                                    </span>
                                                                    <div class="discount_price">30<span>/Min</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="follow-section">
                                                            <span class="follow-style">Follow</span>
                                                            <span class="unfollow-style">Unfollow</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="card_astro">
                                                        <div class="astro-img">
                                                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                                                alt="kundali">
                                                            <div class="light-shad"></div>
                                                        </div>
                                                        <div class="status-section">
                                                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                                                            <span>24</span>Year
                                                        </div>
                                                        <div class="star-ratings">
                                                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                                                            <div class="count-rating">8.5</div>
                                                            <div class="count-rating newlyaddedastro">New</div>
                                                        </div>
                                                        <div class="call-status-astrolger">
                                                            <a href="#">
                                                                <span class="sprite-chat-astrologer"></span>
                                                            </a>
                                                            <a href="#">
                                                                <span class="sprite-call-astrologer"></span>
                                                            </a>
                                                            <a href="#">
                                                                <span class="sprite-joincall-astrologer"></span>
                                                            </a>
                                                            <a href="#">
                                                                <span class="sprite-offline-astrologer"></span>
                                                            </a>
                                                        </div>
                                                        <div class="astro-section">
                                                            <h5>Poonam</h5>
                                                            <p>Psychic-Medium</p>
                                                            <div class="ratting">
                                                                <div class="language-astrologer">
                                                                    <i class="fa fa-language" aria-hidden="true"></i>
                                                                    <span>Hindi</span>
                                                                    <span>English</span>
                                                                    <span>Punjabi</span>
                                                                </div>
                                                                <div class="skills-astrologer">
                                                                    <span>Love</span>
                                                                    <span>Marriage</span>
                                                                </div>
                                                                <div class="price">
                                                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                                                        80<span>/Min</span>
                                                                    </span>
                                                                    <div class="discount_price">30<span>/Min</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="follow-section">
                                                            <span class="follow-style">Follow</span>
                                                            <span class="unfollow-style">Unfollow</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="card_astro">
                                                        <div class="astro-img">
                                                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                                                alt="kundali">
                                                            <div class="light-shad"></div>
                                                        </div>
                                                        <div class="status-section">
                                                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                                                            <span>24</span>Year
                                                        </div>
                                                        <div class="star-ratings">
                                                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                                                            <div class="count-rating">8.5</div>
                                                            <div class="count-rating newlyaddedastro">New</div>
                                                        </div>
                                                        <div class="call-status-astrolger">
                                                            <a href="#">
                                                                <span class="sprite-chat-astrologer"></span>
                                                            </a>
                                                            <a href="#">
                                                                <span class="sprite-call-astrologer"></span>
                                                            </a>
                                                            <a href="#">
                                                                <span class="sprite-joincall-astrologer"></span>
                                                            </a>
                                                            <a href="#">
                                                                <span class="sprite-offline-astrologer"></span>
                                                            </a>
                                                        </div>
                                                        <div class="astro-section">
                                                            <h5>Poonam</h5>
                                                            <p>Psychic-Medium</p>
                                                            <div class="ratting">
                                                                <div class="language-astrologer">
                                                                    <i class="fa fa-language" aria-hidden="true"></i>
                                                                    <span>Hindi</span>
                                                                    <span>English</span>
                                                                    <span>Punjabi</span>
                                                                </div>
                                                                <div class="skills-astrologer">
                                                                    <span>Love</span>
                                                                    <span>Marriage</span>
                                                                </div>
                                                                <div class="price">
                                                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                                                        80<span>/Min</span>
                                                                    </span>
                                                                    <div class="discount_price">30<span>/Min</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="follow-section">
                                                            <span class="follow-style">Follow</span>
                                                            <span class="unfollow-style">Unfollow</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="card_astro">
                                                        <div class="astro-img">
                                                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                                                alt="kundali">
                                                            <div class="light-shad"></div>
                                                        </div>
                                                        <div class="status-section">
                                                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                                                            <span>24</span>Year
                                                        </div>
                                                        <div class="star-ratings">
                                                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                                                            <div class="count-rating">8.5</div>
                                                            <div class="count-rating newlyaddedastro">New</div>
                                                        </div>
                                                        <div class="call-status-astrolger">
                                                            <a href="#">
                                                                <span class="sprite-chat-astrologer"></span>
                                                            </a>
                                                            <a href="#">
                                                                <span class="sprite-call-astrologer"></span>
                                                            </a>
                                                            <a href="#">
                                                                <span class="sprite-joincall-astrologer"></span>
                                                            </a>
                                                            <a href="#">
                                                                <span class="sprite-offline-astrologer"></span>
                                                            </a>
                                                        </div>
                                                        <div class="astro-section">
                                                            <h5>Poonam</h5>
                                                            <p>Psychic-Medium</p>
                                                            <div class="ratting">
                                                                <div class="language-astrologer">
                                                                    <i class="fa fa-language" aria-hidden="true"></i>
                                                                    <span>Hindi</span>
                                                                    <span>English</span>
                                                                    <span>Punjabi</span>
                                                                </div>
                                                                <div class="skills-astrologer">
                                                                    <span>Love</span>
                                                                    <span>Marriage</span>
                                                                </div>
                                                                <div class="price">
                                                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                                                        80<span>/Min</span>
                                                                    </span>
                                                                    <div class="discount_price">30<span>/Min</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="follow-section">
                                                            <span class="follow-style">Follow</span>
                                                            <span class="unfollow-style">Unfollow</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="card_astro">
                                                        <div class="astro-img">
                                                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                                                alt="kundali">
                                                            <div class="light-shad"></div>
                                                        </div>
                                                        <div class="status-section">
                                                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                                                            <span>24</span>Year
                                                        </div>
                                                        <div class="star-ratings">
                                                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                                                            <div class="count-rating">8.5</div>
                                                            <div class="count-rating newlyaddedastro">New</div>
                                                        </div>
                                                        <div class="call-status-astrolger">
                                                            <a href="#">
                                                                <span class="sprite-chat-astrologer"></span>
                                                            </a>
                                                            <a href="#">
                                                                <span class="sprite-call-astrologer"></span>
                                                            </a>
                                                            <a href="#">
                                                                <span class="sprite-joincall-astrologer"></span>
                                                            </a>
                                                            <a href="#">
                                                                <span class="sprite-offline-astrologer"></span>
                                                            </a>
                                                        </div>
                                                        <div class="astro-section">
                                                            <h5>Poonam</h5>
                                                            <p>Psychic-Medium</p>
                                                            <div class="ratting">
                                                                <div class="language-astrologer">
                                                                    <i class="fa fa-language" aria-hidden="true"></i>
                                                                    <span>Hindi</span>
                                                                    <span>English</span>
                                                                    <span>Punjabi</span>
                                                                </div>
                                                                <div class="skills-astrologer">
                                                                    <span>Love</span>
                                                                    <span>Marriage</span>
                                                                </div>
                                                                <div class="price">
                                                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                                                        80<span>/Min</span>
                                                                    </span>
                                                                    <div class="discount_price">30<span>/Min</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="follow-section">
                                                            <span class="follow-style">Follow</span>
                                                            <span class="unfollow-style">Unfollow</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="card_astro">
                                                        <div class="astro-img">
                                                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                                                alt="kundali">
                                                            <div class="light-shad"></div>
                                                        </div>
                                                        <div class="status-section">
                                                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                                                            <span>24</span>Year
                                                        </div>
                                                        <div class="star-ratings">
                                                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                                                            <div class="count-rating">8.5</div>
                                                            <div class="count-rating newlyaddedastro">New</div>
                                                        </div>
                                                        <div class="call-status-astrolger">
                                                            <a href="#">
                                                                <span class="sprite-chat-astrologer"></span>
                                                            </a>
                                                            <a href="#">
                                                                <span class="sprite-call-astrologer"></span>
                                                            </a>
                                                            <a href="#">
                                                                <span class="sprite-joincall-astrologer"></span>
                                                            </a>
                                                            <a href="#">
                                                                <span class="sprite-offline-astrologer"></span>
                                                            </a>
                                                        </div>
                                                        <div class="astro-section">
                                                            <h5>Poonam</h5>
                                                            <p>Psychic-Medium</p>
                                                            <div class="ratting">
                                                                <div class="language-astrologer">
                                                                    <i class="fa fa-language" aria-hidden="true"></i>
                                                                    <span>Hindi</span>
                                                                    <span>English</span>
                                                                    <span>Punjabi</span>
                                                                </div>
                                                                <div class="skills-astrologer">
                                                                    <span>Love</span>
                                                                    <span>Marriage</span>
                                                                </div>
                                                                <div class="price">
                                                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                                                        80<span>/Min</span>
                                                                    </span>
                                                                    <div class="discount_price">30<span>/Min</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="follow-section">
                                                            <span class="follow-style">Follow</span>
                                                            <span class="unfollow-style">Unfollow</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="card_astro">
                                                        <div class="astro-img">
                                                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                                                alt="kundali">
                                                            <div class="light-shad"></div>
                                                        </div>
                                                        <div class="status-section">
                                                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                                                            <span>24</span>Year
                                                        </div>
                                                        <div class="star-ratings">
                                                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                                                            <div class="count-rating">8.5</div>
                                                            <div class="count-rating newlyaddedastro">New</div>
                                                        </div>
                                                        <div class="call-status-astrolger">
                                                            <a href="#">
                                                                <span class="sprite-chat-astrologer"></span>
                                                            </a>
                                                            <a href="#">
                                                                <span class="sprite-call-astrologer"></span>
                                                            </a>
                                                            <a href="#">
                                                                <span class="sprite-joincall-astrologer"></span>
                                                            </a>
                                                            <a href="#">
                                                                <span class="sprite-offline-astrologer"></span>
                                                            </a>
                                                        </div>
                                                        <div class="astro-section">
                                                            <h5>Poonam</h5>
                                                            <p>Psychic-Medium</p>
                                                            <div class="ratting">
                                                                <div class="language-astrologer">
                                                                    <i class="fa fa-language" aria-hidden="true"></i>
                                                                    <span>Hindi</span>
                                                                    <span>English</span>
                                                                    <span>Punjabi</span>
                                                                </div>
                                                                <div class="skills-astrologer">
                                                                    <span>Love</span>
                                                                    <span>Marriage</span>
                                                                </div>
                                                                <div class="price">
                                                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                                                        80<span>/Min</span>
                                                                    </span>
                                                                    <div class="discount_price">30<span>/Min</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="follow-section">
                                                            <span class="follow-style">Follow</span>
                                                            <span class="unfollow-style">Unfollow</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="card_astro">
                                                        <div class="astro-img">
                                                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                                                alt="kundali">
                                                            <div class="light-shad"></div>
                                                        </div>
                                                        <div class="status-section">
                                                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                                                            <span>24</span>Year
                                                        </div>
                                                        <div class="star-ratings">
                                                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                                                            <div class="count-rating">8.5</div>
                                                            <div class="count-rating newlyaddedastro">New</div>
                                                        </div>
                                                        <div class="call-status-astrolger">
                                                            <a href="#">
                                                                <span class="sprite-chat-astrologer"></span>
                                                            </a>
                                                            <a href="#">
                                                                <span class="sprite-call-astrologer"></span>
                                                            </a>
                                                            <a href="#">
                                                                <span class="sprite-joincall-astrologer"></span>
                                                            </a>
                                                            <a href="#">
                                                                <span class="sprite-offline-astrologer"></span>
                                                            </a>
                                                        </div>
                                                        <div class="astro-section">
                                                            <h5>Poonam</h5>
                                                            <p>Psychic-Medium</p>
                                                            <div class="ratting">
                                                                <div class="language-astrologer">
                                                                    <i class="fa fa-language" aria-hidden="true"></i>
                                                                    <span>Hindi</span>
                                                                    <span>English</span>
                                                                    <span>Punjabi</span>
                                                                </div>
                                                                <div class="skills-astrologer">
                                                                    <span>Love</span>
                                                                    <span>Marriage</span>
                                                                </div>
                                                                <div class="price">
                                                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                                                        80<span>/Min</span>
                                                                    </span>
                                                                    <div class="discount_price">30<span>/Min</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="follow-section">
                                                            <span class="follow-style">Follow</span>
                                                            <span class="unfollow-style">Unfollow</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
    </div>
</section>
