
<section class="user_profile_section">
    <div class="user_profile_update">
            <div class="container heading">
                <h2>Account Information</h2>
                <mat-tab-group>
                    <mat-tab label="Dashboard">
                        <ng-template mat-tab-label>
                            <i class="fa fa-th-large" aria-hidden="true"></i>
                            <span>Dashboard</span>
                        </ng-template>
                        <div class="container">
                            <div class="profile-data-section heading">
                                <h3>Dashboard</h3>
                                <div class="row">
                                    <div class="col-md-6 col-lg-4 col-xlg-4">
                                        <div class="deshboard_bg_color lightgreen">
                                            <div class="count-number">3</div>
                                            <h3>Total Invoice</h3>
                                            <img class="imgcat" src="../../assets/images/IMAGE3.png">
                                            <div class="cat">
                                                <div class="face">
                                                  <div class="eye eye--left">
                                                    <div class="eye-pupil"></div>
                                                  </div>
                                                  <div class="eye eye--right">
                                                    <div class="eye-pupil"></div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xlg-4">
                                        <div class="deshboard_bg_color lightyello">
                                            <div class="count-number">0</div>
                                            <h3>Total Downloads</h3>
                                            <img class="imgcat" src="../../assets/images/IMAGE3.png">
                                            <div class="cat">
                                                <div class="face">
                                                  <div class="eye eye--left">
                                                    <div class="eye-pupil"></div>
                                                  </div>
                                                  <div class="eye eye--right">
                                                    <div class="eye-pupil"></div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xlg-4">
                                        <div class="deshboard_bg_color lightpink">
                                            <div class="count-number">3</div>
                                            <h3>Total Bookings</h3>
                                            <img class="imgcat" src="../../assets/images/IMAGE3.png">
                                            <div class="cat">
                                                <div class="face">
                                                  <div class="eye eye--left">
                                                    <div class="eye-pupil"></div>
                                                  </div>
                                                  <div class="eye eye--right">
                                                    <div class="eye-pupil"></div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="My Profile">
                        <ng-template mat-tab-label>
                            <i class="fa fa-user-secret" aria-hidden="true"></i>
                            <span>My Profile</span>
                        </ng-template>
                        <div class="container">
                            <div class="update-user-section heading">
                                <h3>Profile Details</h3>
                                <div class="row">
                                    <div class="col-md-8 col-lg-8 col-xlg-8 col-xs-12">
                                        <div class="edit_section_user">
                                            <input type="text" autocomplete="off" placeholder="Name">
                                            <input type="email" autocomplete="off" placeholder="Email id">
                                            <input type="text" autocomplete="off" placeholder="Mobile Number">
                                            <input type="text" autocomplete="off" placeholder="Country">
                                            <textarea placeholder="Address"></textarea>
                                            <input type="text" autocomplete="off" placeholder="City">
                                            <input type="text" autocomplete="off" placeholder="State">
                                            <input type="text" autocomplete="off" placeholder="Pin Code">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xlg-4 col-xs-12">
                                        <div class="data-save-section">
                                            <div class="user-profile-img-section">
                                                <img src="https://www.onegodmed.com/admin-assets/assets/images/users/no-image.png" alt="profile-img">
                                            </div>
                                            <div class="profile-handle-btn">
                                                <button>Edit Profile</button>
                                                <button>Delete Account</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="My Booking">
                        <ng-template mat-tab-label>
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            <span>My Booking</span>
                        </ng-template>
                        <div class="container">
                            <div class="vedic_astrolger-section heading">
                                <h3>My Booking</h3>
                                <div class="row">
                                    <div class="col-md-4 col-lg-4 col-xlg-4 col-xs-12">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Wallet History">
                        <ng-template mat-tab-label>
                            <i class="fa fa-history" aria-hidden="true"></i>
                            <span>Wallet History</span>
                        </ng-template>
                        <div class="container">
                            <div class="vedic_astrolger-section heading">
                                <h3>Wallet History</h3>
                                <div class="row">

                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Download">
                        <ng-template mat-tab-label>
                            <i class="fa fa-cloud-download" aria-hidden="true"></i>
                            <span>Download</span>
                        </ng-template>
                        <div class="container">
                            <div class="vedic_astrolger-section heading">
                                <h3>Download</h3>
                                <div class="row">

                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="My Astrologers">
                        <ng-template mat-tab-label>
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                            <span>My Astrologers</span>
                        </ng-template>
                        <div class="container">
                            <div class="myastrologer-table-section heading">
                                <h3>My Astrologers</h3>
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xlg-12 col-xs-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered display">
                                                <thead>
                                                    <tr>
                                                        <th>S.no</th>
                                                        <th>Astro Image</th>
                                                        <th>Astro Name</th>
                                                        <th>Astro Follower</th>
                                                        <th>Astro rating</th>
                                                        <th>Astro Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>S.no</td>
                                                        <td>S.no</td>
                                                        <td>S.no</td>
                                                        <td>S.no</td>
                                                        <td>S.no</td>
                                                        <td>S.no</td>
                                                    </tr>
                                                </tbody>                                           
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
    </div>
</section>
