<!----asrto-Chat------>
<section class="talk_full_cover">

    <div class="container-card">
    
        <div class="login-call-box">
            <ul>
                <li>
                    <div class="box_direction_flow">
                        <div class="flow-img-section">
                            <img src="../../assets/images/IMAGE3.png">
                        </div>
                        <div class="login">Login</div>
                    </div>
                </li>
                <li>
                    <div class="box_direction_flow">
                        <div class="flow-img-section">
                            <img src="../../assets/images/IMAGE1.png">
                        </div>
                        <div class="wallet_amount">Recharge</div>
                        <div class="amount-update">
                            <i class="fa fa-inr" aria-hidden="true"></i>
                            <span>20,00000</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box_direction_flow">
                        <div class="flow-img-section">
                            <img src="../../assets/images/IMAGE2.png">
                        </div>
                        <div class="connect_call">Connect</div>
                    </div>
                </li>
            </ul>
        </div>

        <section class="data-filter-cover">

            <div class="astrologer_breadcrumbs">
                <ul>
                    <li><a href="/">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li>
                        <a class="current active text-capitalize">Chat With Astrologer</a>
                    </li>
                </ul>
            </div>

            <div class="multiple-action">
                <div class="recharge-btn">
                    <button type="button">Recharge</button>
                </div>
                <div class="filter-section">
                    <mat-form-field>
                        <mat-label>Filter</mat-label>
                        <mat-select multiple (selectionChange)="changefilter($event.value)">
                          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="sort-price">
                    <mat-form-field>
                        <mat-label>Sort Price</mat-label>
                        <mat-select multiple (selectionChange)="changefilter($event.value)">
                          <mat-option *ngFor="let sorting of sortingList" [value]="sorting">{{sorting}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="search-box">
                    <mat-form-field class="example-form-field">
                        <mat-label>Search</mat-label>
                        <input matInput type="text" placeholder="Search here..." id="searchname" (keyup)="seachastrobyname()">
                    </mat-form-field>
                </div>
            </div>

        </section>

        <section class="chat_card">
            <ul>
                <li *ngFor="let list of astrologerlistService?.response.data" (click)="astrodetailspage(list.astrologer_id)">
                    <div class="card_astro">
                        <div class="astro-img">
                            <!-- <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                alt="kundali"> -->
                            <img src='{{ list.photo_url }}'
                                alt="kundali">
                            <div class="light-shad"></div>
                        </div>
                        <div class="status-section">
                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                            <span>{{ list.experience }}</span>Year
                        </div>
                        <div class="star-ratings">
                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                            <div class="count-rating">{{ list.rating }}</div>
                            <div class="count-rating newlyaddedastro">New</div>
                        </div>
                        <div class="call-status-astrolger">
                            <a href="#">
                                <span class="sprite-chat-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-call-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-joincall-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-offline-astrologer"></span>
                            </a>
                        </div>
                        <div class="astro-section">
                            <h5>{{ list.full_name }}</h5>
                            <p *ngIf="list.expertise">{{ list.expertise }}</p>
                            <p *ngIf="!list.expertise" >Expertise Not Mentioned</p>
                            <div class="ratting">
                                <div class="language-astrologer">
                                    <i class="fa fa-language" aria-hidden="true"></i>
                                    <span>{{ list.langknown }}</span>
                                </div>
                                <div class="skills-astrologer">
                                    <span>Love</span>
                                    <span>Marriage</span>
                                </div>
                                <div class="price">
                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                        {{ list.service_price }}
                                    <span>/Min</span>
                                    </span>
                                    <div class="discount_price">30<span>/Min</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="follow-section">
                            <span class="follow-style">Follow</span>
                            <span class="unfollow-style">Unfollow</span>
                        </div>
                    </div>
                </li>
                <li>
            </ul>
        </section>

    </div>
    <!--container-->

    <!----Free-Card------>
    <section class="new_banner_2">
        <div class="container">
            <app-free-astrology></app-free-astrology>
        </div>
    </section>

    <div class="slider-banner">
        <div class="container heading">
            <h2>Free Daily Horoscope</h2>
            <app-slider></app-slider>
        </div>
    </div>

    <div class="articles-section">
        <app-articles-blog></app-articles-blog>
    </div>

    <div class="city-astrologers">
        <app-find-city-astrologers (category)="categorywiselist($event)"></app-find-city-astrologers>
    </div>

    <app-faqpage-page></app-faqpage-page>   

</section>
<!--chat_full_cover-->