@import '~src/assets/scss/theme-color.scss';
@import '~src/assets/scss/font-size.scss';

.slider-banner{
  width: 100%;
  height: 550px;
  float: left;
  padding: 35px 0;
  box-sizing: border-box;
  background: $background_gradient_slider;
}
.heading h2 {
  font-size: $title_size_30px;
  display: inline-block;
  margin: 25px 10px;
  line-height: 45px;
  font-family: "Roboto Mono", monospace;
  font-weight: $font-weight_600;
  letter-spacing: 1.5px;
  color: $title_color;
}

.heading button {
  float: right;
  margin-top: 30px;
  outline: none;
  border: none;
  background: transparent;
  text-decoration: underline;
  font-size: $title_size_18px;
  font-weight: $font-weight_600;
  padding: 10px;
  cursor: pointer;
}
.new_banner, .new_banner_2 {
  background-size: contain;
  background-position: 50%;
}

.talk_full_cover{
    width: 100%;
    float: left;

    .login-call-box{
      width: 100%;
      float: left;
      text-align: center;
      margin: 20px 0;
      height: 150px;
      border-radius: 8px;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 20px 0px;
      background: linear-gradient(42deg, rgba(188, 174, 152, 0) 0%, rgba(221, 186, 15, 0.13) 50%, rgba(238, 148, 12, 0.1) 100%);
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            float: left;
            width: 100%;
            li{
                float: left;
                position: relative;
                width: 32%;
                margin-right: 20px;
                transition: transform 0.5s;
                &:hover{
                  transition: $transition_out_5s;
                  .box_direction_flow{
                    .flow-img-section{
                      img{
                        transition: transform 0.5s;
                        transform: scale(1.04);
                        transition: $transition_out_5s;
                      }
                    }
                  }
                }
                &:last-child{
                    margin-right: 0;
                    .box_direction_flow{
                        .flow-img-section {
                            &:before{
                                content: '';
                                width: 154px;
                                height: 100px;
                                left: 20%;
                                background: url(/../assets/images/CHAT-BLURR-PURPLE.png);
                                background-repeat: no-repeat;
                                position: absolute;
                                background-size: contain;
                                background-position: center;
                            }
                        }
                    }
                }
                &:first-child{
                    .box_direction_flow{
                        .flow-img-section {
                            &:before{
                                content: '';
                                width: 154px;
                                height: 100px;
                                left: 20%;
                                background: url(/../assets/images/CHAT-BLURR-BLUE.png);
                                background-repeat: no-repeat;
                                position: absolute;
                                background-size: contain;
                                background-position: center;
                            }
                        }
                    }
                }
                &:nth-child(2){
                    .box_direction_flow{
                        .flow-img-section {
                            &:before{
                                content: '';
                                width: 154px;
                                height: 100px;
                                left: 18%;
                                background: url(/../assets/images/CHAT-BLURR-ORANGE.png);
                                background-repeat: no-repeat;
                                position: absolute;
                                background-size: contain;
                                background-position: center;
                            }
                        }
                    }
                }
                .box_direction_flow{
                    width: 100%;
                    height: 100%;
                    margin: 5px auto;
                    .flow-img-section {
                        width: 100%;
                        float: left;
                        height: 100px;
                        position: relative;
                        img{
                          height: 120px;
                          position: relative;
                          z-index: 99;
                          right: -45px;
                        }
                    }
                    .login{
                        font-size: $title_size_16px;
                        font-weight: $font-weight_600;
                        color: $amount_talkchat_text_black_color;
                        font-family: "Eagle Lake", cursive;
                        letter-spacing: 1px;
                        text-shadow: 1px 1px 2px rgba(54, 49, 49, 0.8509803922);
                        position: absolute;
                        bottom: -30px;
                        left: 35%;
                    }
                    .wallet_amount{
                        font-size: $title_size_16px;
                        font-weight: $font-weight_600;
                        color: $amount_talkchat_text_black_color;
                        text-shadow: 1px 1px 2px rgba(54, 49, 49, 0.8509803922);
                        font-family: "Eagle Lake", cursive;
                        letter-spacing: 1px;
                        position: absolute;
                        bottom: -30px;
                        left: 25%;
                        i{
                            font-size: $title_size_23px;
                            color: $amount_talkchat_icon_color;
                        }
                        span{
                            font-size: $title_size_22px;
                            font-weight: $font-weight_600;
                            font-family: "Roboto Mono", monospace;
                            letter-spacing: 1px;
                            margin: -4px 10px 0;
                            line-height: 20px;
                        }
                    }
                    .amount-update{
                      font-size: $title_size_12px;
                      font-weight: $font-weight_600;
                      color: $amount_talkchat_text_white_color;
                      text-shadow: 1px 1px 2px rgba(54, 49, 49, 0.8509803922);
                      font-family: "Eagle Lake", cursive;
                      letter-spacing: 1px;
                      position: absolute;
                      top: 43%;
                      left: 38%;
                      transform: translate(-50%, -50%);
                      line-height: 25px;
                      width: 93px;
                      i{
                        font-size: 20px;
                        display: block;
                        color: #fff;
                      }
                    }
                    .connect_call{
                      font-size: $title_size_16px;
                      font-weight: $font-weight_600;
                      color: $amount_talkchat_text_black_color;
                      text-shadow: 1px 1px 2px rgba(54, 49, 49, 0.8509803922);
                      font-family: "Eagle Lake", cursive;
                      letter-spacing: 1px;
                      position: absolute;
                      bottom: -30px;
                      left: 27%;
                    }
                }
            }
        }
    }

    .data-filter-cover{
        float: left;
        width: 100%;
        padding: 10px 0;
        margin-top: 30px;
        box-sizing: border-box;
        .astrologer_breadcrumbs{
            float: left;
            margin: 5px 0 0;
            ul{
                margin: 0;
                padding: 6px 0;
                list-style: none;
                li{
                    float: left;
                    margin: 0 .5em 0 .6em;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 20px 0px;
                    a{
                        background: linear-gradient(90.53deg, rgba(188, 174, 152, 0.34) 0%, rgba(221, 186, 15, 0.13) 50%, rgba(238, 148, 12, 0.2509803922) 100%);
                        padding: .13em .4em;
                        font-size: 16px;
                        font-family: "Roboto Mono", monospace;
                        letter-spacing: 1px;
                        float: left;
                        text-decoration: none;
                        color: $talkchat_color;
                        position: relative;
                        display: flex;
                        align-items: center;
                        height: 22px;
                        text-transform: capitalize;
                        &:active {
                            background: $background_gradient_color;
                            color: $border_color;
                            // &:before {
                            //     border-color: #f0df20 #f0df20 #f0df20 #0000;
                            // }
                        }
                        &:after{
                            content: "";
                            position: absolute;
                            top: 50%;
                            margin-top: -11px;
                            border-top: 11px solid transparent;
                            border-bottom: 11px solid transparent;
                            border-left: 12px solid $talkchat_border_color;
                            right: -12px;
                        }
                        &:before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            margin-top: -11px;
                            border-color: #dee2e6 #dee2e6 #dee2e6 rgba(0, 0, 0, 0);
                            border-style: solid;
                            border-width: 11px 0 11px 14px;
                            left: -14px;
                        }
                    }
                }
            }
        }
        .multiple-action{
          float: right;
          width: 70%;
          .recharge-btn{
            float: left;
            margin: 10px 30px;
            button {
              outline: none;
              background: transparent;
              border-radius: 8px;
              padding: 5px 15px;
              letter-spacing: 1px;
              font-family: "Roboto Mono", monospace;
              font-weight: 600;
              box-shadow: none;
              transition: $transition_out_5s;
              border: 1px solid #999;
              color: #000;
              &:hover{
                transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
                background: linear-gradient(1deg, rgba(255, 221, 49, 0.26) 20%, rgba(255, 255, 255, 0.5) 100%);
              }
            }
          }
          .filter-section{
            width: 190px;
            float: left;
            margin: 0 20px;
          }
          .sort-price{
            width: 190px;
            float: left;
            margin: 0 20px;
          }
          .search-box{
            width: 190px;
            float: right;
            margin-left: 20px;
          }
        }

    }

    .mobile-multiple-action{
      display: none;
    }

    .chat_card{
        width: 100%;
        float: left;
        margin-top: 40px;
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: center;
            li{
                float: left;
                margin-right: 30px;
                margin-bottom: 30px;
                width: 23.1%;  
                &:nth-child(4n){
                    margin-right: 0;
                }
                .card_astro{
                    padding: 0;
                    width: 100%;
                    float: left;
                    background-color: #fff;
                    text-align: center;
                    border-radius: 8px;
                    box-shadow: rgba(0, 0, 0, 0.1) -7px 7px 20px 0px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    margin-bottom: 20px;
                    margin-right: 20px;
                    text-decoration: none;
                    min-height: 230px;
                    transition: $transition_out_5s;
                    vertical-align: top;
                    position: relative;
                    transition: transform .5s;
                    &:hover{
                      transition: transform .5s;
                      -webkit-transform: scale(1.02);
                      transform: scale(1.02);
                    }
                    &:nth-child(5n){
                      margin-right: 0;
                    }
                    .astro-img{
                      width: 100%;
                      float: left;
                      border-radius: 8px;
                      img{
                        width: 100%;
                        margin: 0 auto;
                        border-radius: 8px;
                        height: 265px;
                      }
                      .light-shad{
                        position: absolute;
                        box-sizing: border-box;
                        z-index: 4;
                        height: 265px;
                        top: 0px;
                        background: linear-gradient(359.56deg, rgb(0 0 0 / 49%) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0) 100%);
                        border-radius: 8px 8px 0px 0px;
                        width: 100%;
                        left: 0px;
                      }
                    }
                    .astro-section{
                      float: left;
                      width: 100%;
                      padding: 10px;
                      box-sizing: border-box;
                      h5{
                        float: left;
                        text-align: left;
                        width: 100%;
                        font-size: $title_size_22px;
                        line-height: 25px;
                        font-family: "Roboto Mono", monospace;
                        font-weight: $font-weight_600;
                        letter-spacing: 1.5px;
                        color: $talkchat_text_color;
                        position: relative;
                        &:after{
                          content: '';
                          width: 20px;
                          height: 20px;
                          background: url(/../assets/images/verified-sign.png);
                          background-repeat: no-repeat;
                          position: absolute;
                          margin-left: 8px;
                          margin-top: 4px;
                          background-size: cover;
                          background-position: center;
                        }
                      }
                      p{
                        float: left;
                        width: 100%;
                        font-size: $title_size_14px;
                        line-height: 20px;
                        font-family: "Roboto Mono", monospace;
                        font-weight: $font-weight_500;
                        text-align: left;
                        letter-spacing: 1px;
                        color: $talkchat_text_gray_color;
                        margin-bottom: 10px;
                      }
                      .ratting{
                        float: left;
                        width: 75%;
                        .price{
                          font-size: $title_size_16px;
                          text-align: left;
                          color: $talkchat_text_color;
                          font-family: "Roboto Mono", monospace;
                          float: left;
                          font-weight: $font-weight_600;
                          margin-top: 15px;
                          .discount_price {
                            display: inline;
                            margin-left: 5px;
                            text-decoration-line: line-through;
                          }
                        }
                        .language-astrologer{
                          float: left;
                          width: 100%;
                          font-size: $title_size_12px;
                          text-align: left;
                          color: $talkchat_text_color;
                          font-family: "Roboto Mono", monospace;
                          font-weight: $font-weight_500;
                          span{
                            font-size: $title_size_12px;
                            letter-spacing: 0.2px;
                            color: $talkchat_text_color;
                            font-family: "Roboto Mono", monospace;
                            font-weight: $font-weight_400;
                            margin: 0 3px;
                          }
                        }
                        .skills-astrologer{
                          float: left;
                          width: 100%;
                          font-size: $title_size_12px;
                          text-align: left;
                          color: $talkchat_text_color;
                          font-family: "Roboto Mono", monospace;
                          font-weight: $font-weight_500;
                          span{
                            font-size: $title_size_12px;
                            letter-spacing: 0.2px;
                            color: $talkchat_text_color;
                            font-family: "Roboto Mono", monospace;
                            font-weight: $font-weight_400;
                            margin: 0 3px;
                          }
                        }
                      }
                    }
                    .call-status-astrolger{
                      float: right;
                      position: absolute;
                      right: 0;
                      bottom: 2px;
                      a{
                        text-decoration: none;
                        color: #fff;
                        .sprite-chat-astrologer{
                          background-position: -71px -14px!important;
                          width: 40px;
                          height: 43px;
                          display: inline-block;
                          background: url(https://images.astroyogi.com/english/images/astrologer_chat_sprite.png) no-repeat;
                        }
                        .sprite-call-astrologer{
                          background-position: -134px -14px!important;
                          width: 40px;
                          height: 43px;
                          display: inline-block;
                          background: url(https://images.astroyogi.com/english/images/astrologer_chat_sprite.png) no-repeat;
                        }
                      }
                    }
                    .status-section{
                      position: absolute;
                      right: 0;
                      top: 55%;
                      z-index: 99;
                      font-family: "Roboto Mono", monospace;
                      font-weight: 600;
                      letter-spacing: 2px;
                      color: #fff;
                      span{
                        i{
                          font-size: 20px;
                          color: #fff;
                          float: left;
                          margin-right: 3px;
                          margin-top: 1px;
                        }
                      }
                    }
                    .switch{
                      position: absolute;
                      top: 1px;
                      right: 0px;
                      height: 18px;
                      width: 50px;
                      transform: rotate(-90deg);
                      background: linear-gradient(to right, #fafafa, #fafafa, #fafafa, rgb(255 178 95 / 82%), rgb(23 22 20 / 85%));
                      border-bottom-left-radius: 20px;
                      border-top-left-radius: 20px;
                      box-shadow: 1px 1px 3px 2px #999;
                      &::after{
                        content: '';
                        width: 15px;
                        height: 15px;
                        background: #000;
                      }
                      .online{
                        width: 15px;
                        height: 15px;
                        background-color: green;
                        border-radius: 50%;
                        display: inline-block;
                        margin-right: 4px;
                        margin-top: 2px;
                      }
                      .offline{
                        width: 15px;
                        margin-right: 4px;
                        height: 15px;
                        background-color: red;
                        border-radius: 50%;
                        display: inline-block;
                      }
                    }
                    .star-ratings{
                      position: absolute;
                      top: 52%;
                      left: 0;
                      box-shadow: 0px -1px 5px 3px #fafafa;
                      font-family: "Roboto Mono", monospace;
                      font-weight: 600;
                      z-index: 99;
                      padding: 2px 5px;
                      border-top-right-radius: 5px;
                      border-bottom-right-radius: 5px;
                      span{
                        margin-right: 5px;
                        i{
                          font-size: 20px;
                          color: #E6B91E;
                        }
                      }
                      .count-rating{
                        letter-spacing: 1px;
                        font-size: 16px;
                        color: #fff;
                        display: inline-block;
                        line-height: 16px; 
                        &.newlyaddedastro{
                          display: none;
                        }
                      }
                    }
                    .follow-section{
                      position: absolute;
                      top: 10px;
                      left: 5px;
                      cursor: pointer;
                      z-index: 999;
                      span{
                        font-size: $title_size_14px;
                        font-weight: $font-weight_500;
                        padding: 5px 10px;
                        border-radius: 20px;
                      }
                      .unfollow-style{
                        color: $title_white_color;
                        box-shadow: $box_shadow_unfollow_tag;
                        background: $background_unfollow_bg_color;
                      }
                      .follow-style{
                        color: $title_color;
                        background: $follow_bg_color;
                      }
                    }
                  }
            }
        }
    }

    .new_banner_2 {
      float: left;
      width: 100%;
      padding-top: 5px;
      padding-bottom: 20px;
      min-height: 200px;
      background: $background_gradient_free_astrolger_services;
    }

    .articles-section{
      float: left;
      width: 100%;
    }

    .city-astrologers{
      float: left;
      width: 100%;
    }

    .faq-back-section{
      float: left;
      width: 100%;
      padding-top: 25px;
      padding-bottom: 40px;
      // background: $background_gradient_best_astro;
      background: $background_gradient_articles;
    }

}

.filter_screen_bg_color{
  width: 100vw;
  height: 100vh;
  background: #27292d9e;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  .filter_search_section{
    position: absolute;
    width: 90%;
    height: 85%;
    background: #ffffff;
    padding: 10px 6px;
    z-index: 9999;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    border-radius: 5px;
    text-align: center;
      .cover_screen_section{
          padding: 5px 10px 10px;
          text-align: left;
          width: 100%;
          float: left;
          .title-bar{
            width: 100%;
            float: left;
            margin-bottom: 30px;
            border-bottom: 1px solid #ccc;
            h5{
              float: left;
              font-size: 15px;
              font-weight: 500;
              line-height: 30px;
              letter-spacing: 1px;
            }
            button.btn-closed {
              float: right;
              background: transparent;
              outline: none;
              border: none;
              font-size: 20px;
              cursor: pointer;
              padding: 5px;
            }
          }
          .filter-popup{
            float: left;
            .gender{
              width: 100%;
              float: left;
              .mat-form-field{
                width: 100%;
              }
            }
            .language-port{
              width: 100%;
              float: left;
              .mat-form-field{
                width: 100%;
              }
            }
            .filter-section{
              width: 100%;
              float: left;
              .mat-form-field{
                width: 100%;
              }
            }
            .sort-price{
              width: 100%;
              float: left;
              .mat-form-field{
                width: 100%;
              }
            }
          }
          p{
              font-size: 25px;
              line-height: 30px;
              text-align: center;
              width: 100%;
              color: #000;
              font-weight: 600;
              margin-top: 0;
          }
          .dwn-btn{
              display: flex;
              align-items: center;
              position: fixed;
              bottom: 5%;
              left: 50%;
              transform: translate(-50% ,0);
              max-width: 300px;
             .apply-btn {
                text-align: center;
                font-size: 20px;
                text-decoration: none;
                color: #000;
                letter-spacing: 1px;
                width: 100px;
                padding: 10px;
                display: inline-block;
                margin: 10px 8px;
                cursor: pointer !important;
                border-radius: 10px;
                border: 1px solid rgb(252, 205, 202);
                background: rgb(255, 247, 237);
                box-shadow: rgba(0, 0, 0, 0.1) -7px 7px 20px 0px;
              }
              .reset-btn{
                text-align: center;
                box-shadow: rgba(0, 0, 0, 0.1) -7px 7px 20px 0px;
                font-size: 20px;
                text-decoration: none;
                color: #000;
                letter-spacing: 1px;
                width: 100px;
                padding: 10px;
                display: inline-block;
                margin: 10px 8px;
                cursor: pointer !important;
                border-radius: 10px;
                border: 1px solid rgb(252, 205, 202);
                background: rgb(255, 247, 237);
              }
          }            
      }
  }
}

@media only screen  and (max-width: 768px) {
  .heading h2{ font-size: 15px; margin: 0px; }
  .heading h3{ font-size: 15px; margin: 0px; }
  .slider-banner{ height: auto;padding: 5px 0;}
  .talk_full_cover{
    .login-call-box{ display: none; }
    .mobile-multiple-action{
      display: block;
      float: left;
      width: 100%;
      margin: 15px 0 10px;
      padding: 0 15px;
      .left-searchbox{
        float: left;
        width: 85%;
        .mat-form-field{
          width: 100%;
          font-size: 15px;
          font-weight: 500;
          letter-spacing: 1px;
          font-family: "Roboto Mono", monospace;
          .mat-form-field-wrapper{
            padding-bottom: 0;
          }
        }
      }
      .filter-icon{
        float: left;
        cursor: pointer;
        width: 12%;
        text-align: center;
        padding: 5px;
        border: 1px solid #ccc;
        margin: 3% 0 0 3%;
        border-radius: 2px;
        .fa{
          font-size: 18px;
        }
      }
    }
    .data-filter-cover{ 
      margin-top:0;
      display: none;
      .astrologer_breadcrumbs{ display: none; }
      .multiple-action{
        width: 100%;
        .recharge-btn{  display: none; }
        .filter-section, .sort-price{
          width: 48%;
          margin: 0 2px;
          padding: 0 10px;
        }
        .search-box{
          width: 100%;
          float: left;
          margin: 0;
          padding: 10px 16px 0px 10px;
          input.mat-input-element{
            height: 25px;
          }
        }
      }
    }
    .chat_card{
      margin-top: 15px;
      ul{
        li{
          width: 100%;
          padding: 0 10px;
          margin-bottom: 0;
          .card_astro{
            display: inline-block;
            min-height: 130px;
            padding: 5px 0px 35px;
            border-radius: 0;
            .astro-img{
              width: 30%;
              img{
                height: auto;
                border-radius: 0;
              }
              .light-shad{
                display: none;
              }
            }
            .status-section{
              right: auto;
              left: 5px;
              top: auto;
              bottom: 0;
              color: #000;
              font-size: 10px;
              padding: 1px 5px;
              border-radius: 3px;
              border: 1px solid rgb(252, 205, 202);
              background: rgb(255, 247, 237);
              span{
                i{
                  font-size: 12px;
                  color: #000;
                  margin-top: 4px;
                }
              }
            }
            .star-ratings{
              top: auto;
              left: 0;
              padding: 2px 5px;
              background: #000;
              bottom: 30px;
              span{
                i{
                  font-size: 13px;
                }
              }
              .count-rating, .count-rating{
                font-size: 12px;           
                line-height: 16px;
              }
            }
            .astro-section{
              float: left;
              width: 70%;
              padding: 0 10px;
              h5{
                font-size: 13px;
                line-height: 15px;
                margin-bottom: 4px;
                &::after{
                  width: 12px;
                  height: 12px;
                  margin-left: 5px;
                  margin-top: 1px;
                }
              }
              p{
                font-size: 11px;
                margin-bottom: 2px;
                line-height: 15px;
              }
              .ratting{
                width: 100%;
                .language-astrologer{
                  font-size: 10px;
                  .fa{
                    font-size: 12px;
                  }
                  span{
                    font-size: 10px;
                    margin: 0 4px;
                  }
                }
                .skills-astrologer{
                  font-size: 10px;
                  line-height: 12px;
                  span{
                    font-size: 10px;
                    margin: 0 4px;
                  }
                }
                .price{
                  font-size: 11px;
                  margin-top: 0px;
                }
              }
            }
            .call-status-astrolger{
              bottom: 0;
            }
            .follow-section{
              z-index: 99 !important;
              top: -14px;
              right: 0px;
              left: auto;
              bottom: auto;
              span{
                font-size: 11px;
                font-weight: 500;
                padding: 2px 5px;
                border-radius: 4px;
              }
            }
          }
        }
      }
    }
  }
}