<!----asrto-talk------>
<section class="talk_full_cover">

    <div class="container-card">
    
        <div class="login-call-box">
            <ul>
                <li>
                    <div class="box_direction_flow">
                        <div class="flow-img-section">
                            <img src="../../assets/images/IMAGE3.png">
                        </div>
                        <div class="login">Login</div>
                    </div>
                </li>
                <li>
                    <div class="box_direction_flow">
                        <div class="flow-img-section">
                            <img src="../../assets/images/IMAGE1.png">
                        </div>
                        <div class="wallet_amount">Recharge</div>
                        <div class="amount-update">
                            <i class="fa fa-inr" aria-hidden="true"></i>
                            <span>20,00000</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box_direction_flow">
                        <div class="flow-img-section">
                            <img src="../../assets/images/IMAGE2.png">
                        </div>
                        <div class="connect_call">Connect</div>
                    </div>
                </li>
            </ul>
        </div>

        <section class="data-filter-cover">

            <div class="astrologer_breadcrumbs">
                <ul>
                    <li><a href="/">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li>
                        <a class="active text-capitalize">Talk With Astrologer</a>
                    </li>
                </ul>
            </div>

            <div class="multiple-action">
                <div class="recharge-btn">
                    <button type="button">Recharge</button>
                </div>
                <div class="filter-section">
                    <mat-form-field>
                        <mat-label>Filter</mat-label>
                        <mat-select multiple>
                          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="sort-price">
                    <mat-form-field>
                        <mat-label>Sort Price</mat-label>
                        <mat-select multiple>
                          <mat-option *ngFor="let sorting of sortingList" [value]="sorting">{{sorting}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="search-box">
                    <mat-form-field class="example-form-field">
                        <mat-label>Search</mat-label>
                        <input matInput type="text" placeholder="Search here...">
                    </mat-form-field>
                </div>
            </div>

        </section>

        <section class="chat_card">
            <ul>
                <li>
                    <div class="card_astro">
                        <div class="astro-img">
                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                alt="kundali">
                            <div class="light-shad"></div>
                        </div>
                        <div class="status-section">
                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                            <span>24</span>Year
                        </div>
                        <div class="star-ratings">
                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                            <div class="count-rating">8.5</div>
                            <div class="count-rating newlyaddedastro">New</div>
                        </div>
                        <div class="call-status-astrolger">
                            <a href="#">
                                <span class="sprite-chat-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-call-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-joincall-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-offline-astrologer"></span>
                            </a>
                        </div>
                        <div class="astro-section">
                            <h5>Poonam</h5>
                            <p>Psychic-Medium</p>
                            <div class="ratting">
                                <div class="language-astrologer">
                                    <i class="fa fa-language" aria-hidden="true"></i>
                                    <span>Hindi</span>
                                    <span>English</span>
                                    <span>Punjabi</span>
                                </div>
                                <div class="skills-astrologer">
                                    <span>Love</span>
                                    <span>Marriage</span>
                                </div>
                                <div class="price">
                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                        80<span>/Min</span>
                                    </span>
                                    <div class="discount_price">30<span>/Min</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card_astro">
                        <div class="astro-img">
                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                alt="kundali">
                            <div class="light-shad"></div>
                        </div>
                        <div class="status-section">
                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                            <span>24</span>Year
                        </div>
                        <div class="star-ratings">
                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                            <div class="count-rating">8.5</div>
                            <div class="count-rating newlyaddedastro">New</div>
                        </div>
                        <div class="call-status-astrolger">
                            <a href="#">
                                <span class="sprite-chat-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-call-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-joincall-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-offline-astrologer"></span>
                            </a>
                        </div>
                        <div class="astro-section">
                            <h5>Poonam</h5>
                            <p>Psychic-Medium</p>
                            <div class="ratting">
                                <div class="language-astrologer">
                                    <i class="fa fa-language" aria-hidden="true"></i>
                                    <span>Hindi</span>
                                    <span>English</span>
                                    <span>Punjabi</span>
                                </div>
                                <div class="skills-astrologer">
                                    <span>Love</span>
                                    <span>Marriage</span>
                                </div>
                                <div class="price">
                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                        80<span>/Min</span>
                                    </span>
                                    <div class="discount_price">30<span>/Min</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card_astro">
                        <div class="astro-img">
                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                alt="kundali">
                            <div class="light-shad"></div>
                        </div>
                        <div class="status-section">
                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                            <span>24</span>Year
                        </div>
                        <div class="star-ratings">
                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                            <div class="count-rating">8.5</div>
                            <div class="count-rating newlyaddedastro">New</div>
                        </div>
                        <div class="call-status-astrolger">
                            <a href="#">
                                <span class="sprite-chat-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-call-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-joincall-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-offline-astrologer"></span>
                            </a>
                        </div>
                        <div class="astro-section">
                            <h5>Poonam</h5>
                            <p>Psychic-Medium</p>
                            <div class="ratting">
                                <div class="language-astrologer">
                                    <i class="fa fa-language" aria-hidden="true"></i>
                                    <span>Hindi</span>
                                    <span>English</span>
                                    <span>Punjabi</span>
                                </div>
                                <div class="skills-astrologer">
                                    <span>Love</span>
                                    <span>Marriage</span>
                                </div>
                                <div class="price">
                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                        80<span>/Min</span>
                                    </span>
                                    <div class="discount_price">30<span>/Min</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card_astro">
                        <div class="astro-img">
                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                alt="kundali">
                            <div class="light-shad"></div>
                        </div>
                        <div class="status-section">
                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                            <span>24</span>Year
                        </div>
                        <div class="star-ratings">
                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                            <div class="count-rating">8.5</div>
                            <div class="count-rating newlyaddedastro">New</div>
                        </div>
                        <div class="call-status-astrolger">
                            <a href="#">
                                <span class="sprite-chat-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-call-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-joincall-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-offline-astrologer"></span>
                            </a>
                        </div>
                        <div class="astro-section">
                            <h5>Poonam</h5>
                            <p>Psychic-Medium</p>
                            <div class="ratting">
                                <div class="language-astrologer">
                                    <i class="fa fa-language" aria-hidden="true"></i>
                                    <span>Hindi</span>
                                    <span>English</span>
                                    <span>Punjabi</span>
                                </div>
                                <div class="skills-astrologer">
                                    <span>Love</span>
                                    <span>Marriage</span>
                                </div>
                                <div class="price">
                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                        80<span>/Min</span>
                                    </span>
                                    <div class="discount_price">30<span>/Min</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card_astro">
                        <div class="astro-img">
                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                alt="kundali">
                            <div class="light-shad"></div>
                        </div>
                        <div class="status-section">
                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                            <span>24</span>Year
                        </div>
                        <div class="star-ratings">
                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                            <div class="count-rating">8.5</div>
                            <div class="count-rating newlyaddedastro">New</div>
                        </div>
                        <div class="call-status-astrolger">
                            <a href="#">
                                <span class="sprite-chat-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-call-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-joincall-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-offline-astrologer"></span>
                            </a>
                        </div>
                        <div class="astro-section">
                            <h5>Poonam</h5>
                            <p>Psychic-Medium</p>
                            <div class="ratting">
                                <div class="language-astrologer">
                                    <i class="fa fa-language" aria-hidden="true"></i>
                                    <span>Hindi</span>
                                    <span>English</span>
                                    <span>Punjabi</span>
                                </div>
                                <div class="skills-astrologer">
                                    <span>Love</span>
                                    <span>Marriage</span>
                                </div>
                                <div class="price">
                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                        80<span>/Min</span>
                                    </span>
                                    <div class="discount_price">30<span>/Min</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card_astro">
                        <div class="astro-img">
                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                alt="kundali">
                            <div class="light-shad"></div>
                        </div>
                        <div class="status-section">
                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                            <span>24</span>Year
                        </div>
                        <div class="star-ratings">
                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                            <div class="count-rating">8.5</div>
                            <div class="count-rating newlyaddedastro">New</div>
                        </div>
                        <div class="call-status-astrolger">
                            <a href="#">
                                <span class="sprite-chat-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-call-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-joincall-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-offline-astrologer"></span>
                            </a>
                        </div>
                        <div class="astro-section">
                            <h5>Poonam</h5>
                            <p>Psychic-Medium</p>
                            <div class="ratting">
                                <div class="language-astrologer">
                                    <i class="fa fa-language" aria-hidden="true"></i>
                                    <span>Hindi</span>
                                    <span>English</span>
                                    <span>Punjabi</span>
                                </div>
                                <div class="skills-astrologer">
                                    <span>Love</span>
                                    <span>Marriage</span>
                                </div>
                                <div class="price">
                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                        80<span>/Min</span>
                                    </span>
                                    <div class="discount_price">30<span>/Min</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card_astro">
                        <div class="astro-img">
                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                alt="kundali">
                            <div class="light-shad"></div>
                        </div>
                        <div class="status-section">
                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                            <span>24</span>Year
                        </div>
                        <div class="star-ratings">
                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                            <div class="count-rating">8.5</div>
                            <div class="count-rating newlyaddedastro">New</div>
                        </div>
                        <div class="call-status-astrolger">
                            <a href="#">
                                <span class="sprite-chat-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-call-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-joincall-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-offline-astrologer"></span>
                            </a>
                        </div>
                        <div class="astro-section">
                            <h5>Poonam</h5>
                            <p>Psychic-Medium</p>
                            <div class="ratting">
                                <div class="language-astrologer">
                                    <i class="fa fa-language" aria-hidden="true"></i>
                                    <span>Hindi</span>
                                    <span>English</span>
                                    <span>Punjabi</span>
                                </div>
                                <div class="skills-astrologer">
                                    <span>Love</span>
                                    <span>Marriage</span>
                                </div>
                                <div class="price">
                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                        80<span>/Min</span>
                                    </span>
                                    <div class="discount_price">30<span>/Min</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card_astro">
                        <div class="astro-img">
                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                alt="kundali">
                            <div class="light-shad"></div>
                        </div>
                        <div class="status-section">
                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                            <span>24</span>Year
                        </div>
                        <div class="star-ratings">
                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                            <div class="count-rating">8.5</div>
                            <div class="count-rating newlyaddedastro">New</div>
                        </div>
                        <div class="call-status-astrolger">
                            <a href="#">
                                <span class="sprite-chat-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-call-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-joincall-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-offline-astrologer"></span>
                            </a>
                        </div>
                        <div class="astro-section">
                            <h5>Poonam</h5>
                            <p>Psychic-Medium</p>
                            <div class="ratting">
                                <div class="language-astrologer">
                                    <i class="fa fa-language" aria-hidden="true"></i>
                                    <span>Hindi</span>
                                    <span>English</span>
                                    <span>Punjabi</span>
                                </div>
                                <div class="skills-astrologer">
                                    <span>Love</span>
                                    <span>Marriage</span>
                                </div>
                                <div class="price">
                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                        80<span>/Min</span>
                                    </span>
                                    <div class="discount_price">30<span>/Min</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>

    </div>
    <!--container-->

    <!----Free-Card------>
    <section class="new_banner_2">
        <div class="container">
            <div class="astrolger_services heading">
                <h2>Free Astrology</h2>
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-3 mbile_vrsn">
                        <a class="box_item" href="#">
                            <div class="icon">
                                <img src="../../assets/images/kundli.jpg" alt="kundali">
                                <span class="icons_saprate_image chat_with_astrologer_icon"></span>
                            </div>
                            <div class="text">
                                <span>Kundali</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 mbile_vrsn">
                        <a class="box_item" href="#">
                            <div class="icon">
                                <img src="https://www.onegodmed.com/front-assets/images/marriage.png" alt="Match Making">
                                <span class="icons_saprate_image talk_with_astrologer_icon"></span>
                            </div>
                            <div class="text">
                                <span>Match Making</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 mbile_vrsn">
                        <a class="box_item" href="#">
                            <div class="icon">
                                <img src="../../assets/images/panchagMD.png" alt="Panchang">
                                <span class="icons_saprate_image live_on_astrotv_icon"></span>
                            </div>
                            <div class="text">
                                <span>Panchang</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 mbile_vrsn">
                        <a class="box_item" href="#">
                            <div class="icon">
                                <img src="../../assets/images/Horoscope1.png" alt="Horoscope">
                                <span class="icons_saprate_image blog_position_icon"></span>
                            </div>
                            <div class="text">
                                <span>Horoscope</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 mbile_vrsn">
                        <a class="box_item" href="#">
                            <div class="icon">
                                <img src="../../assets/images/numerology.png" alt="Numerology">
                                <span class="icons_saprate_image blog_position_icon"></span>
                            </div>
                            <div class="text">
                                <span>Numerology</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="slider-banner">
        <div class="container heading">
            <h2>Free Daily Horoscope</h2>
            <app-slider></app-slider>
        </div>
    </div>

    <section class="articles">
        <div class="container heading">
            <h2>Our Articles</h2>
            <button class="articles-btn">See All</button>
            <div class="articles-inner-section">
                <ul>
                    <li>
                        <span>
                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628285088526x842936453940826900%2F52E040EF-111A-4BB1-8E96-8A4A745AF622.jpeg?w=384&h=387&auto=compress&fit=crop&dpr=1.25" alt="">
                        </span>
                        <div class="view-post-section">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <span>129</span>
                        </div>
                        <div class="articles-text-box">
                            <h4>Punswan Sanskar - जानें क्या है पुंसवन संस्कार</h4>
                            <div class="articles-details-section">
                                <h6>Shiv Kumar</h6>
                                <div class="post-articles-date"><span>Jun</span> 16 ,2022</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span>
                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628285088526x842936453940826900%2F52E040EF-111A-4BB1-8E96-8A4A745AF622.jpeg?w=384&h=387&auto=compress&fit=crop&dpr=1.25" alt="">
                        </span>
                        <div class="view-post-section">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <span>1354</span>
                        </div>
                        <div class="articles-text-box">
                            <h4>Know the Personality traits, characteristics, and temperament of “Taurus”</h4>
                            <div class="articles-details-section">
                                <h6>Ram Singh</h6>
                                <div class="post-articles-date"><span>Jun</span> 26 ,2022</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span>
                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628285088526x842936453940826900%2F52E040EF-111A-4BB1-8E96-8A4A745AF622.jpeg?w=384&h=387&auto=compress&fit=crop&dpr=1.25" alt="">
                        </span>
                        <div class="view-post-section">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <span>1013</span>
                        </div>
                        <div class="articles-text-box">
                            <h4>शुक्र ग्रह 18 जून को करेंगे वृषभ राशि में गोचर</h4>
                            <div class="articles-details-section">
                                <h6>R.k</h6>
                                <div class="post-articles-date"><span>Feb</span> 03 ,2021</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span>
                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628285088526x842936453940826900%2F52E040EF-111A-4BB1-8E96-8A4A745AF622.jpeg?w=384&h=387&auto=compress&fit=crop&dpr=1.25" alt="">
                        </span>
                        <div class="view-post-section">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <span>158</span>
                        </div>
                        <div class="articles-text-box">
                            <h4>Characteristics, Temperament, and Personality Traits of Aries</h4>
                            <div class="articles-details-section">
                                <h6>S.K.R Natha</h6>
                                <div class="post-articles-date"><span>May</span> 27 ,2022</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>    
    </section>

    <section class="find-best-astrologers">
        <div class="container heading">
            <h2>Find Best Astrologers</h2>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="find_city_astrologer">
                        <div class="city_title">
                            <i class="fa fa-info" aria-hidden="true"></i> Consult Astrologer
                        </div>
                        <div class="city_category_title">
                            <ul>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Talk to astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Chat with astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Free Astrology</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Premium Report</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Talk to astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Chat with astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Free Astrology</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Premium Report</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="find_city_astrologer">
                        <div class="city_title">
                            <i class="fa fa-street-view" aria-hidden="true"></i> Indian City
                        </div>
                        <div class="city_category_title">
                            <ul>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Talk to astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Chat with astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Free Astrology</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Premium Report</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Talk to astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Chat with astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Free Astrology</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Premium Report</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="find_city_astrologer">
                        <div class="city_title">
                            <i class="fa fa-globe" aria-hidden="true"></i> International 
                        </div>
                        <div class="city_category_title">
                            <ul>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Talk to astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Chat with astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Free Astrology</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Premium Report</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Talk to astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Chat with astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Free Astrology</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Premium Report</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="find_city_astrologer">
                        <div class="city_title">
                            <i class="fa fa-tags" aria-hidden="true"></i> Category Astrologer
                        </div>
                        <div class="city_category_title">
                            <ul>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Talk to astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Chat with astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Free Astrology</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Premium Report</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Talk to astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Chat with astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Free Astrology</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Premium Report</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </section>

    <app-faqpage-page></app-faqpage-page>

</section>
<!--talk_full_cover-->