
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="astro-call-card-modal-body">
                    <div class="body-section">
                        <div class="left-side-img">
                            <div  class="astrologyer-call-card-box">
                                <h3>Astro Mang</h3>
                                <div class="astro-img">
                                    <div class="backimg-border">
                                        <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&amp;h=387&amp;auto=compress&amp;fit=crop&amp;dpr=1.25" alt="kundali">
                                    </div>
                                </div>
                                <div class="astro-section">
                                    <p>Psychic-Medium</p>
                                </div>
                                <div class="cover-section-rating-exp">
                                    <div  class="status-section">
                                        <span><i  aria-hidden="true" class="fa fa-briefcase"></i></span>
                                        <span>24</span>Year
                                    </div>
                                    <div class="star-ratings">
                                        <span><i  aria-hidden="true" class="fa fa-star"></i></span>
                                        <div class="count-rating">8.5</div>
                                        <div class="count-rating newlyaddedastro">New</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right-side-cover">
                            <div class="call-section-popup">
                                <h6>Service Type : <span>Audio</span></h6>
                                <div class="charge-per-minute">Charge per minute: <span><i class="fa fa-inr" aria-hidden="true"></i> 50</span></div>
                                <div class="available-balance">Available balance: <span><i class="fa fa-inr" aria-hidden="true"></i> 90000</span></div>
                                <div class="maximum-call-duration">Call duration: <span>1 Day 6 hours 1 min</span></div>
                                <div class="getcallfrom">You will get a call from <span>(120-7808068)</span></div>
                                <div class="getcallon">You will get a call on <span>(+91-9927808068)</span></div>
                                <button type="button">Call Now</button>
                            </div>
                            <div class="waiting-screen-popup">
                                <div class="waiting-text">
                                    Please wait a while <span> Praveen </span>will accepet your call shortly... 
                                </div>
                                <div class="wait-img">
                                    <div class="spinner spinner__1"></div>
                                    <div class="spinner spinner__3"></div>
                                    <div class="spinner spinner__1"></div>
                                </div>
                            </div>
                            <div class="oops-screen-popup">
                                <div class="oops-img">
                                    <h1 class="animate-charcter">Oops!</h1>
                                    <img src="/../assets/images/oops-img.png">
                                </div>
                                <div class="oops-text">
                                    Please wait for a while <span> Astro Praveen </span> will accept your call shortly.... 
                                </div>
                                <div class="btn-section">
                                    <button>Select Astrologyer</button>
                                    <button>Try Again</button>
                                </div>
                            </div>
                            <div class="wallat-balance-popup">
                                <div class="wallat-text">
                                    Your Wallet Balance is Rs.<span>90000</span>
                                </div>
                                <p>You can chat with<span>Astro Mang</span> for  601 minutes.</p>
                                <div class="btn-section">
                                    <button>Proceed to Chat</button>
                                </div>
                            </div>
                            <div class="tryagain-connect-astro-popup">
                                <div class="connect-text">
                                    <span>Astro Mang</span> One moment please while i see if he's available..
                                </div>
                                <div class="btn-section">
                                    <button>Try Again</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="astro-chat-card-modal-body">
                    <div class="body-section">
                        <div class="left-side-img">
                            <div  class="astrologyer-call-card-box">
                                <h3>Astro Mang</h3>
                                <div class="astro-img">
                                    <div class="backimg-border">
                                        <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&amp;h=387&amp;auto=compress&amp;fit=crop&amp;dpr=1.25" alt="kundali">
                                    </div>
                                </div>
                                <div class="astro-section">
                                    <p>Psychic-Medium</p>
                                </div>
                                <div class="cover-section-rating-exp">
                                    <div  class="status-section">
                                        <span><i  aria-hidden="true" class="fa fa-briefcase"></i></span>
                                        <span>24</span>Year
                                    </div>
                                    <div class="star-ratings">
                                        <span><i  aria-hidden="true" class="fa fa-star"></i></span>
                                        <div class="count-rating">8.5</div>
                                        <div class="count-rating newlyaddedastro">New</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right-side-cover">
                            <div class="chat-section-popup">
                                <div class="charge-per-minute">Charge per minute: <span><i class="fa fa-inr" aria-hidden="true"></i> 50</span></div>
                                <div class="available-balance">Available balance: <span><i class="fa fa-inr" aria-hidden="true"></i> 90000</span></div>
                                <div class="maximum-call-duration">Call duration: <span>1 Day 6 hours 1 min</span></div>
                                <div class="fillsection">Please Fill Section</div>
                                <div class="input-text-section">
                                    <input  type="text" placeholder="Full Name">
                                    <div class="gender-section">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Gender</mat-label>
                                            <mat-select [(value)]="selected">
                                              <mat-option value="option1">Male</mat-option>
                                              <mat-option value="option2">Female</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="dateandtime">
                                    <div class="dob-section">
                                        <!-- <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>DOB (MM/DD/YYYY)</mat-label>
                                            <input matInput [matDatepicker]="picker">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field> -->
                                    </div>
                                    <div class="section-birth-time">
                                       
                                    </div>
                                </div>
                                <button class="chatnow-popup" type="button">Chat Now</button>
                            </div>
                            <div class="waiting-screen-popup">
                                <div class="waiting-text">
                                    Please wait a while <span> Praveen </span>will accepet your call shortly... 
                                </div>
                                <div class="wait-img">
                                    <div class="spinner spinner__1"></div>
                                    <div class="spinner spinner__3"></div>
                                    <div class="spinner spinner__1"></div>
                                </div>
                            </div>
                            <div class="oops-screen-popup">
                                <div class="oops-img">
                                    <h1 class="animate-charcter">Oops!</h1>
                                    <img src="/../assets/images/oops-img.png">
                                </div>
                                <div class="oops-text">
                                    Please wait for a while <span> Astro Praveen </span> will accept your call shortly.... 
                                </div>
                                <div class="btn-section">
                                    <button>Select Astrologyer</button>
                                    <button>Try Again</button>
                                </div>
                            </div>
                            <div class="wallat-balance-popup">
                                <div class="wallat-text">
                                    Your Wallet Balance is Rs.<span>90000</span>
                                </div>
                                <p>You can chat with<span>Astro Mang</span> for  601 minutes.</p>
                                <div class="btn-section">
                                    <button>Proceed to Chat</button>
                                </div>
                            </div>
                            <div class="tryagain-connect-astro-popup">
                                <div class="connect-text">
                                    <span>Astro Mang</span> One moment please while i see if he's available..
                                </div>
                                <div class="btn-section">
                                    <button>Try Again</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Modal content-->
        </div>
