<section class="wallet_section">
    <div class="container">
        <div class="balance_wallet heading">
            <h2>Your Wallet Balance <span><i class="fa fa-inr" aria-hidden="true"></i> 0:00 </span></h2>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="wallet-card-section">
                    <div class="wallet_card">
                        <div class="top_amounts_img">
                            <img src="">
                        </div>
                        <div class="bottom_content_section">
                            <div class="title_name">VENUS</div>
                            <div class="youpay">Pay Amounts Now<i class="fa fa-inr" aria-hidden="true"></i><span>49</span></div>
                            <div class="youget">You Get Amounts<i class="fa fa-inr" aria-hidden="true"></i><span>100</span></div>
                        </div>
                        <div class="bag_tag">
                            <button>Buy Now</button>
                        </div>
                        <div class="tag_offer_packages">
                            <i class="fa fa-inr" aria-hidden="true"></i>
                            <span>51</span>
                            EXTRA
                        </div>
                    </div>
                    <div class="wallet_card">
                        <div class="top_amounts_img">
                            <img src="">
                        </div>
                        <div class="bottom_content_section">
                            <div class="title_name">VENUS</div>
                            <div class="youpay">Pay Amounts Now<i class="fa fa-inr" aria-hidden="true"></i><span>99</span></div>
                            <div class="youget">You Get Amounts<i class="fa fa-inr" aria-hidden="true"></i><span>200</span></div>
                        </div>
                        <div class="bag_tag">
                            <button>Buy Now</button>
                        </div>
                        <div class="tag_offer_packages">
                            <i class="fa fa-inr" aria-hidden="true"></i>
                            <span>101</span>
                            EXTRA
                        </div>
                    </div>
                    <div class="wallet_card">
                        <div class="top_amounts_img">
                            <img src="">
                        </div>
                        <div class="bottom_content_section">
                            <div class="title_name">VENUS</div>
                            <div class="youpay">Pay Amounts Now<i class="fa fa-inr" aria-hidden="true"></i><span>199</span></div>
                            <div class="youget">You Get Amounts<i class="fa fa-inr" aria-hidden="true"></i><span>300</span></div>
                        </div>
                        <div class="bag_tag">
                            <button>Buy Now</button>
                        </div>
                        <div class="tag_offer_packages">
                            <i class="fa fa-inr" aria-hidden="true"></i>
                            <span>101</span>
                            EXTRA
                        </div>
                    </div>
                    <div class="wallet_card">
                        <div class="top_amounts_img">
                            <img src="">
                        </div>
                        <div class="bottom_content_section">
                            <div class="title_name">VENUS</div>
                            <div class="youpay">Pay Amounts Now<i class="fa fa-inr" aria-hidden="true"></i><span>49</span></div>
                            <div class="youget">You Get Amounts<i class="fa fa-inr" aria-hidden="true"></i><span>100</span></div>
                        </div>
                        <div class="bag_tag">
                            <button>Buy Now</button>
                        </div>
                        <div class="tag_offer_packages">
                            <i class="fa fa-inr" aria-hidden="true"></i>
                            <span>51</span>
                            EXTRA
                        </div>
                    </div>
                    <div class="wallet_card">
                        <div class="top_amounts_img">
                            <img src="">
                        </div>
                        <div class="bottom_content_section">
                            <div class="title_name">VENUS</div>
                            <div class="youpay">Pay Amounts Now<i class="fa fa-inr" aria-hidden="true"></i><span>99</span></div>
                            <div class="youget">You Get Amounts<i class="fa fa-inr" aria-hidden="true"></i><span>200</span></div>
                        </div>
                        <div class="bag_tag">
                            <button>Buy Now</button>
                        </div>
                        <div class="tag_offer_packages">
                            <i class="fa fa-inr" aria-hidden="true"></i>
                            <span>101</span>
                            EXTRA
                        </div>
                    </div>
                    <div class="wallet_card">
                        <div class="top_amounts_img">
                            <img src="">
                        </div>
                        <div class="bottom_content_section">
                            <div class="title_name">VENUS</div>
                            <div class="youpay">Pay Amounts Now<i class="fa fa-inr" aria-hidden="true"></i><span>199</span></div>
                            <div class="youget">You Get Amounts<i class="fa fa-inr" aria-hidden="true"></i><span>300</span></div>
                        </div>
                        <div class="bag_tag">
                            <button>Buy Now</button>
                        </div>
                        <div class="tag_offer_packages">
                            <i class="fa fa-inr" aria-hidden="true"></i>
                            <span>101</span>
                            EXTRA
                        </div>
                    </div>
                    <div class="wallet_card">
                        <div class="top_amounts_img">
                            <img src="">
                        </div>
                        <div class="bottom_content_section">
                            <div class="title_name">VENUS</div>
                            <div class="youpay">Pay Amounts Now<i class="fa fa-inr" aria-hidden="true"></i><span>49</span></div>
                            <div class="youget">You Get Amounts<i class="fa fa-inr" aria-hidden="true"></i><span>100</span></div>
                        </div>
                        <div class="bag_tag">
                            <button>Buy Now</button>
                        </div>
                        <div class="tag_offer_packages">
                            <i class="fa fa-inr" aria-hidden="true"></i>
                            <span>51</span>
                            EXTRA
                        </div>
                    </div>
                    <div class="wallet_card">
                        <div class="top_amounts_img">
                            <img src="">
                        </div>
                        <div class="bottom_content_section">
                            <div class="title_name">VENUS</div>
                            <div class="youpay">Pay Amounts Now<i class="fa fa-inr" aria-hidden="true"></i><span>99</span></div>
                            <div class="youget">You Get Amounts<i class="fa fa-inr" aria-hidden="true"></i><span>200</span></div>
                        </div>
                        <div class="bag_tag">
                            <button>Buy Now</button>
                        </div>
                        <div class="tag_offer_packages">
                            <i class="fa fa-inr" aria-hidden="true"></i>
                            <span>101</span>
                            EXTRA
                        </div>
                    </div>
                    <div class="wallet_card">
                        <div class="top_amounts_img">
                            <img src="">
                        </div>
                        <div class="bottom_content_section">
                            <div class="title_name">VENUS</div>
                            <div class="youpay">Pay Amounts Now<i class="fa fa-inr" aria-hidden="true"></i><span>199</span></div>
                            <div class="youget">You Get Amounts<i class="fa fa-inr" aria-hidden="true"></i><span>300</span></div>
                        </div>
                        <div class="bag_tag">
                            <button>Buy Now</button>
                        </div>
                        <div class="tag_offer_packages">
                            <i class="fa fa-inr" aria-hidden="true"></i>
                            <span>101</span>
                            EXTRA
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

            </div>
        </div>
    </div>
</section>
