@import '~src/assets/scss/theme-color.scss';
@import '~src/assets/scss/font-size.scss';


.heading h2 , .heading h3{
    font-size: $title_size_30px;
    display: inline-block;
    margin: 25px 10px;
    line-height: 45px;
    font-family: "Roboto Mono", monospace;
    font-weight: $font-weight_600;
    letter-spacing: 1.5px;
    color: $title_color;
}
  
.heading button {
    float: right;
    margin-top: 30px;
    outline: none;
    border: none;
    background: transparent;
    text-decoration: underline;
    font-size: $title_size_18px;
    font-weight: $font-weight_600;
    padding: 10px;
    cursor: pointer;
}

.wallet_section{
    width: 100%;
    float: left;
    padding: 3% 0;
    box-sizing: border-box;
    .balance_wallet{
        width: 100%;
        float: left;
        border-radius: 5px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 11px 20px 0px;
        background: linear-gradient(90.53deg, rgba(188, 174, 152, 0.34) 0%, rgba(221, 186, 15, 0.13) 50%, rgba(238, 148, 12, 0.2509803922) 100%);
    }
    .wallet-card-section{
        width: 100%;
        float: left;
        padding: 3% 0;
        .wallet_card{
            width: 20%;
            float: left;
            position: relative;
            margin-right: 0px;
            margin-bottom: 30px;
            transition: 0.5s all ease-in-out;
            &:hover{
                transform: scale(1.09);
                
            }
            &:nth-child(3n){
                margin-right: 0;
            }
            .top_amounts_img{
                width: 100%;
                margin: 0 auto;
                float: left;
                img{
                    width: 100%;
                    height: 240px;
                    opacity: 0.6;
                }
                .tag_offer_packages{
                    position: absolute;
                    left: 50%;
                    z-index: 999;
                    top: 25%;
                    transform: translate(-50%, -50%);
                    font-family: "Roboto Mono", monospace;
                    font-weight: 600;
                    letter-spacing: 1.5px;
                    display: inline-block;
                    flex-direction: column;
                    text-align: center;
                    border-radius: 3px;
                    padding: 10px;
                    color: #fff;
                    font-size: 22px;
                    line-height: 38px;                
                    .fa{
                        color: #fff;
                        margin: auto 10px;
                        font-size: 22px;
                    }
                    span{
                        color: #fff;
                        font-weight: 600;
                    }
                }
            }
            .back-title-img{
                position: absolute;
                left: -3px;
                z-index: 999;
                top: -10px;
                padding: 10px;
                width: 150px;
                height: 150px;
                content: "";
                background: url(/../../assets/images/tag_light.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                .title_name{
                    font-size: 13px;
                    text-shadow: 1px 1px 2px rgba(54, 49, 49, 0.8509803922);
                    width: 114px;
                    float: left;
                    text-align: center;
                    padding: 6px 0px;
                    line-height: 15px;
                    font-family: "Roboto Mono", monospace;
                    font-weight: bold;
                    color: #000000;
                    transform: rotate(-43deg);
                    -webkit-transform: rotate(-43deg);
                    -moz-transform: rotate(-43deg);
                    position: absolute;
                    left: -2px;
                    top: 46px;
                }
            }
            .bottom_content_section{
                width: 85%;
                padding: 20px 15px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 18px 20px 0px;
                margin: 0px auto;
                display: table;
                border-bottom-right-radius: 15px;
                border-bottom-left-radius: 15px;
                position: relative;
                top: -22px;
                height: 190px;
                .youpay{
                    font-family: "Roboto Mono", monospace;
                    font-weight: 600;
                    font-size: 13px;
                    float: left;
                    width: 100%;
                    color: #333;
                    margin: 10px auto;
                    line-height: 30px;
                    text-align: center;
                    .fa{
                        margin: auto 10px;
                    }
                    span{
                        font-weight: 600;
                    }
                }
                .youget{
                    font-family: "Roboto Mono", monospace;
                    font-weight: 400;
                    font-size: 12px;
                    letter-spacing: 0;
                    line-height: 25px;
                    float: left;
                    width: 100%;
                    color: #333;
                    margin: 5px auto;
                    text-align: center;
                    border: 2px solid #07ff48;
                    border-radius: 5px;
                    padding: 10px;
                    background: rgba(252, 205, 202, 0.19);
                    .fa{
                        margin: auto 10px;
                    }
                    span{
                        font-weight: 600;
                    }
                }
            }
            .bag_tag{
                float: left;
                position: absolute;
                bottom: 22px;
                left: 23px;
                button {
                    left: calc(50% - 4em);
                    top: calc(50% - 4em);
                    height: 2em;
                    width: 5em;
                    background: #444;
                    box-shadow: rgba(0, 0, 0, 0.1) -7px 7px 20px 0px;
                    border: none;
                    border-top: 4px solid #00ff4e;
                    border-radius: 0 0 0.2em 0.2em;
                    color: #fff;
                    transform-origin: 50% 5em;
                    font-size: 17px;
                  }
            }
            .welcomeimg{
                position: absolute;
                right: 0px;
                z-index: 999;
                width: 110px;
                top: 17%;
                padding: 10px;
                height: 150px;
                content: "";
                background: url(/../../assets/images/offira-rating.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
        }
    }
}


/* Animation property */
button {
    animation: wiggle 2s linear infinite;
  }
  
  /* Keyframes */
  @keyframes wiggle {
    0%, 15% {
      transform: rotateZ(0);
    }
    25% {
      transform: rotateZ(10deg);
    }
    45% {
      transform: rotateZ(-4deg);
    }
    50%, 100% {
      transform: rotateZ(0);
    }
  }
  
