
<!----Home-Banner------>
<section class="new_banner">
    <div class="container">
        <section  class="special_offer_Design">
            <div class="box_special_offer">
                <div class="right_side_Details_offers">
                    <h1>
                        <span  class="po-title">Experts in Astrology? </span>
                        <span class="po-subtitle">Chat with  <span class="swap"> </span> </span>
                        <span class="po-title">FOR FREE </span>
                    </h1>
                    <a *ngIf="!IsLoggedIn" class="talk_now_button" (click)="openDialog()">Get Started <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
                <div class="left_side_offer_icon">
                    <div></div>
                    <!-- <img  src="https://www.onegodmed.com/front-assets/images/match-making-detail.png" alt="home-side-img" width="223" height="362"> -->
                </div>
            </div>
        </section>
    </div>
</section>

<app-mobile-banner-slider></app-mobile-banner-slider>

<!----Free-Card------>
<section class="new_banner_2">
    <div class="container">
        <app-free-astrology></app-free-astrology>
    </div>
</section>

<div class="slider-banner">
    <div class="container heading">
        <h2>Free Daily Horoscope</h2>
        <app-slider></app-slider>
    </div>
</div>

<div class="tabs-home-astrolgers">
    <app-tabs-online-astrologers></app-tabs-online-astrologers>
</div>

<section class="now-we-have">
    <div class="container heading">
        <h2>Your Astrologer is Just 60 Seconds Away. We are Simply Awesome.</h2>
        <div class="full-wehave-section">
            <ul>
                <li (click)="openDialog()">
                    <span><i class="fa fa-sign-in" aria-hidden="true"></i></span>
                    <p>Signup.</p>
                </li>
                <li *ngIf="!IsLoggedIn" (click)="openDialog()">
                    <span><i class="fa fa-google-wallet" aria-hidden="true"></i></span>
                    <p>Recharge Your Wallet.</p>
                </li>
                <li *ngIf="IsLoggedIn" (click)="rechargewallet()">
                    <span><i class="fa fa-google-wallet" aria-hidden="true"></i></span>
                    <p>Recharge Your Wallet.</p>
                </li>
                <!-- <li>
                    <span><i class="fa fa-commenting" aria-hidden="true"></i></span>
                    <p>Instant Chat / Call with Selected Astrologers.</p>
                </li>
                <li>
                    <span><i class="fa fa-meh-o" aria-hidden="true"></i></span>
                    <p>Rate & Review your Astrologer.</p>
                </li> -->
            </ul>
        </div>
    </div>    
</section>

<section class="choose-us">
    <div class="container heading">
        <h2>Our DNA is our Commitment</h2>
        <div class="full-contain-section">
            <ul>
                <li>
                    <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
                    <p>Live Call & Chat with Premium Astrologers</p>
                </li>
                <li>
                    <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
                    <p>Verified Expert Astrologers</p>
                </li>
                <li>
                    <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
                    <p>Instant Access Worldwide.</p>
                </li>
                <li>
                    <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
                    <p>Accurate Remedial Solutions.</p>
                </li>
                <li>
                    <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
                    <p>Customer Privacy & Satisfaction is our DNA</p>
                </li>
                <li>
                    <span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
                    <p>Loved by thousands of customers.</p>
                </li>
            </ul>
        </div>
    </div>    
</section>

<div class="articles-section">
    <app-articles-blog></app-articles-blog>
</div>

<!----Free-Daily-Horoscope-Card------>
<section class="clients_slider">
    <div class="container">
        <div  class="Clients heading">
            <h2>Clients Say</h2>
            <div class="clientslider-container">
                <app-slider-clients></app-slider-clients>
            </div>
        </div>
    </div>
</section>



