@import '~src/assets/scss/theme-color.scss';
@import '~src/assets/scss/font-size.scss';

@keyframes animate {
  
    0% {
        content: "Astrologer";
    }

    50% {
        content: "Tarot";
    }

    75% {
        content: "Psychic Services";
    }

    100%{
        content: "Spirituality";
    }
}

@keyframes imgbanner {
    0% {
      background-image: url('https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25');
    }
    50% {
      background-image: url('https://www.onegodmed.com/front-assets/images/numerology-detail.png');
    }
    75% {
      background-image: url('https://www.onegodmed.com/front-assets/images/punchang-detail.png');
    }
    100% {
      background-image: url('https://www.onegodmed.com/front-assets/images/match-making-detail.png');
    }
}

.banner{
    width: 100%;
    float: left;
    min-height: 400px;
    //background: $background_gradient;
}
.slider-banner{
    width: 100%;
    height: 550px;
    float: left;
    padding: 35px 0;
    box-sizing: border-box;
    background: $background_gradient_slider;
}

.new_banner, .new_banner_2 {
    background-size: contain;
    background-position: 50%;
}

.new_banner {
    background-image: url(https://www.onegodmed.com/front-assets/images/home-wall03.jpeg);
    padding: 4% 0;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    width: 100%;
    background-position: center;
    background: linear-gradient(90.53deg, rgba(188, 174, 152, 0.34) 0%, rgba(221, 186, 15, 0.13) 50%, rgba(238, 148, 12, 0.2509803922) 100%);
    .special_offer_Design{
        .box_special_offer{
            display: flex;
            background: linear-gradient(to right, #ffeb6878, #fa88194f, #fa881940, #ffb25f61, #ffb25fa8);
            border-radius: 20px;
            padding: 40px 50px 35px 60px;
            position: relative;
            overflow: hidden;
            justify-content: space-between;
            align-items: center;
            .left_side_offer_icon {
                position: relative;
                width: 35%;
                img {
                    width: 100%;
                    height: auto;
                    max-width: 100%;
                }
                div {
                    width: 335px;
                    float: right;
                    height: 310px;
                    animation: animate infinite 15s;
                    animation-name: imgbanner;
                    &::after {
                        background-image: url('https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25');
                        animation: animate infinite 15s;
                    }
                  }
            }
            .right_side_Details_offers{
                text-align: left;
                width: 100%;
                padding-bottom: 20px;
                font-family: "Roboto Mono", monospace;
                h1{
                    line-height: 50px;
                    float: left;
                    width: 100%;
                    .po-title{
                        font-size: 42px;
                        font-weight: 400;
                        margin-bottom: 10px;
                        display: block;
                        color: #313131;
                        font-family: "Roboto Mono", monospace;
                    }
                    .po-subtitle{
                        font-size: 52px;
                        font-family: "Roboto Mono", monospace;
                        font-weight: 600;
                        margin: 10px 0;
                        line-height: 65px;
                        color: #313131;
                        display: flex;
                        span {
                            float: right;
                        }
                        &::after {
                            content: "Astrologer";
                            animation: animate infinite 15s;
                            padding-left: 10px;
                        }
                    }
                }
                .talk_now_button{
                    font-size: 25px;
                    color: #000;
                    padding: 3px 25px;
                    font-weight: 600;
                    text-decoration: none;
                    box-shadow: rgba(0, 0, 0, 0.1) -3px 3px 10px 0px;
                    transition: $transition_out_5s;
                    border-color: rgb(252, 205, 202);
                    border-radius: 20px;
                    background: rgb(255, 247, 237);
                    cursor: pointer;
                    height: 50px;
                    display: inline-block;
                    line-height: 40px;
                    animation: float 7s ease-in-out infinite;
                    transition: 0.5s all ease-in-out;
                    &:hover{
                        box-shadow: rgb(224, 181, 178) -7px 8px 27px 0px;
                    }
                }
            }
        }
    }
}

.new_banner_2 {
    float: left;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 20px;
    min-height: 200px;
    background: $background_gradient_free_astrolger_services;
}

.tabs-home-astrolgers{
    float: left;
    width: 100%;
}

.now-we-have{
    float: left;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 20px;
    min-height: 200px;
    background: $background_gradient_we_have_color;
    background: url('/../../assets/images/lightbackimg.png');
    // background: url('/../../assets/images/vedbackimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .full-wehave-section{
        width: 100%;
        float: left;
        margin: 20px 0;
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                float: left;
                width: 24%;
                padding: 5% 20px 20px;
                text-align: center;
                margin: 6px;
                min-height: 150px; 
                border-radius: 5px;
                cursor: pointer;
                transition: $transition_out_5s;
                &:hover{
                    transition: all .3s ease-in-out;
                    -webkit-transition: all .3s ease-in-out;
                    position: relative;
                    bottom: 4px;
                    background: linear-gradient(1deg, rgba(255, 221, 49, 0.26) 20%, rgba(255, 255, 255, 0.5) 100%);
                }
                span{
                    color: #000000;
                    i{
                        font-size: 50px;
                        margin-bottom: 20px;
                    }
                }         
                p{
                    font-size: 14px;
                    line-height: 20px;
                    font-family: "Roboto Mono", monospace;
                    font-weight: 400;
                    letter-spacing: 1.5px;
                    color: #000000;
                }
            }
        }
    }
}

.choose-us{
    float: left;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 20px;
    min-height: 200px;
    background: $background_gradient;
    .full-contain-section{
        width: 100%;
        float: left;
        margin: 20px 0;
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                float: left;
                width: 32.3%;
                padding: 5% 20px 20px;
                text-align: center;
                border: 0.5px solid $border_why_choose_us_color;
                margin: 6px;
                min-height: 200px; 
                border-radius: 5px;
                span{
                    color: $choose_icon_color;
                    i{
                        font-size: $title_size_30px;
                    }
                }         
                p{
                    font-size: $title_size_16px;
                    line-height: 26px;
                    font-family: "Roboto Mono", monospace;
                    font-weight: $font-weight_400;
                    letter-spacing: 1.5px;
                    color: $choose_text_color;
                }
            }
        }
    }
}

.articles-section{
    float: left;
    width: 100%;
}

.clients_slider{
    float: left;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 20px;
    min-height: 400px;
    background: $background_gradient_color;
    .Clients{
        width: 100%;
        float: left;
        padding: 20PX 0;
    }
}


.heading h2{
        font-size: $title_size_30px;
        display: inline-block;
        margin: 25px 10px;
        line-height: 45px;
        font-family: "Roboto Mono", monospace;
        font-weight: $font-weight_600;
        letter-spacing: 1.5px;
        color: $title_color;
}
.heading button{
    float: right;
    margin-top: 30px;
    outline: none;
    border: none;
    background: transparent;
    text-decoration: underline;
    font-size: $title_size_18px;
    font-weight: $font-weight_600;
    padding: 10px;
    cursor: pointer;
}




@media only screen  and (max-width: 600px) {
    .slider-banner{ padding: 10px 0; height: auto;}
    .heading h2{ font-size: 15px; margin: 10px; }

}


@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  @-moz-keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  @-webkit-keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(20px);
    }
    100% {
      transform: translatey(0px);
    }
  }