<section class="side_bar">
    <h4>Trending</h4>
    <div class="tranding-post">
        <ul>
            <li *ngFor="let list of bloglistService?.trendingresponse.data">
                <a href="#">{{ list.title }}</a>
            </li>
        </ul>
    </div>
    <h4>Categories</h4>
    <div class="tranding-post">
        <ul>
            <li>
                <a href="#">Love</a>
            </li>
            <li>
                <a href="#">Career</a>
            </li>
            <li>
                <a href="#">Health</a>
            </li>
            <li>
                <a href="#">Tarot</a>
            </li>
            <li>
                <a href="#">Vastu</a>
            </li>
            <li>
                <a href="#">Numerology</a>
            </li>
            <li>
                <a href="#">Panchang</a>
            </li>
        </ul>
    </div>
    <div class="adds_sidebar_banner">
        <a href="#">
            <img src="../../assets/images/blog-adds-banner.png">
        </a>
    </div>
    <div class="astrolger_services">
        <h4>Free Astrology</h4>
        <div class="row">
            <div class="side_bar_section">
                <a class="box_item" (click)="kundali()">
                    <div class="icon">
                        <img src="../../assets/images/kundli.jpg" alt="kundali">
                        <span class="icons_saprate_image chat_with_astrologer_icon"></span>
                    </div>
                    <div class="text">
                        <span>Kundali</span>
                    </div>
                </a>
            </div>
            <div class="side_bar_section">
                <a class="box_item" (click)="matchmaking()">
                    <div class="icon">
                        <img src="https://www.onegodmed.com/front-assets/images/marriage.png" alt="Match Making">
                        <span class="icons_saprate_image talk_with_astrologer_icon"></span>
                    </div>
                    <div class="text">
                        <span>Match Making</span>
                    </div>
                </a>
            </div>
            <div class="side_bar_section">
                <a class="box_item" (click)="panchang()">
                    <div class="icon">
                        <img src="../../assets/images/panchagMD.png" alt="Panchang">
                        <span class="icons_saprate_image live_on_astrotv_icon"></span>
                    </div>
                    <div class="text">
                        <span>Panchang</span>
                    </div>
                </a>
            </div>
            <div class="side_bar_section">
                <a class="box_item" (click)="horoscope()">
                    <div class="icon">
                        <img src="../../assets/images/Horoscope1.png" alt="Horoscope">
                        <span class="icons_saprate_image blog_position_icon"></span>
                    </div>
                    <div class="text">
                        <span>Horoscope</span>
                    </div>
                </a>
            </div>
            <div class="side_bar_section">
                <a class="box_item" (click)="numerology()">
                    <div class="icon">
                        <img src="../../assets/images/numerology.png" alt="Numerology">
                        <span class="icons_saprate_image blog_position_icon"></span>
                    </div>
                    <div class="text">
                        <span>Numerology</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <h4>New Update Post</h4>
    <div class="update-post">
        <ul>
            <li>
                <a href="#">Astro New</a>
            </li>
            <li>
                <a href="#">Live Astrologers</a>
            </li>
            <li>
                <a href="#">Kundli Matching</a>
            </li>
            <li>
                <a href="#">Horoscope today</a>
            </li>
            <li>
                <a href="#">Today Panchang</a>
            </li>
        </ul>
    </div>
</section>
