
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div *ngIf="otpsent" class="login-modal-body">
                    <div class="body-section">
                        <div class="left-side-img">
                            <img src="../../assets/images/signup-popup.png">
                            <div class="topup-namste">
                                नमस्ते
                            </div>
                        </div>
                        <div class="right-side-cover">
                            <div class="from-section">
                                <h3>log In / Sign Up</h3>
                                <div class="check-login-signup">Login/Signup With Mobile Number & OTP</div>
                                <div class="country-code-section">
                                    <span>+91 | IN</span>
                                    <input type="tel" maxlength="10" autocomplete="off" name="mobilenumber" #mobilenumber placeholder="Mobile Number" required="">
                                    <div class="error-text">{{ errormsg }}</div>
                                </div>
                                <button type="button" id="onsendotp" (click)="onSendOtp(mobilenumber.value)">Request OTP</button>
                                <p class="disclaimer"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                                 By proceeding i agree to <a target="_blank" href="https://www.onegodmed.com/terms-and-condition/">Terms &amp; Conditions</a> and <a target="_blank" href="https://www.onegodmed.com/privacy-policy/">Privacy Policy</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="verfyotp && !otpsent && !register" class="otp-verify-modal-body">
                    <div class="body-section">
                        <div class="left-side-img">
                            <img src="../../assets/images/signup-popup.png">
                        </div>
                        <div class="right-side-cover">
                            <div class="from-section">
                                <div class="otpimg">
                                    <img src="../../assets/images/otp-verify.png">
                                </div>
                                <h4>OTP Verification</h4>
                                <div class="error-text">{{ errormsg }}</div>
                                <div class="otp-input-section">
                                    <input type="tel" maxlength="1" id="otpusername" #otp1 table-index="1" autocomplete="off" required="">
                                    <input type="tel" maxlength="1" id="otpusername" #otp2 table-index="2" autocomplete="off" required="">
                                    <input type="tel" maxlength="1" id="otpusername" #otp3 table-index="3" autocomplete="off" required="">
                                    <input type="tel" maxlength="1" id="otpusername" #otp4 table-index="4" autocomplete="off" required="">
                                </div>
                                <div class="massage-otp-recived">Enter OTP Code sent to <span>{{ showmobilenumber }}</span> 
                                    <a (click)="editnumber()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></div>
                                    <p><button class="loginresend_otp" (click)="onVerifyOtp(otp1.value+otp2.value+otp3.value+otp4.value)">Submit</button> 
                                        <br>
                                    Didn't Get OTP ? <a class="rsendotp" (click)="startTimer()">Rsend OTP</a>
                                </p><br><p *ngIf="otperror">click on resend otp to get OTP</p>
                                <div *ngIf="!otperror" class="timer">OTP available in<span>00:{{timeLeft}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="register && !otpsent && !verfyotp" class="otp-registration-verify-modal-body">
                    <div class="body-section">
                        <div class="right-side-cover">
                            <div class="from-section">
                                <input type="text" placeholder="Full Name">
                                <input type="text" placeholder="Mobile Number">
                                <h4>OTP Verification</h4>
                                <div class="error-text">{{ errormsg }}</div>
                                <div class="otp-input-section">
                                    <input type="tel" maxlength="1" id="otpusername" #otp1 table-index="1" autocomplete="off" required="">
                                    <input type="tel" maxlength="1" id="otpusername" #otp2 table-index="2" autocomplete="off" required="">
                                    <input type="tel" maxlength="1" id="otpusername" #otp3 table-index="3" autocomplete="off" required="">
                                    <input type="tel" maxlength="1" id="otpusername" #otp4 table-index="4" autocomplete="off" required="">
                                </div>
                                <div class="massage-otp-recived">Enter OTP Code sent to <span>{{ showmobilenumber }}</span> 
                                    <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></div>
                                    <p><button class="loginresend_otp" (click)="signupwithotp(otp1.value+otp2.value+otp3.value+otp4.value)">Submit</button> 
                                        <br>
                                    Didn't Get OTP ? <a class="rsendotp" href="">Rsend OTP</a>
                                </p>
                                <div class="timer">OTP available in<span>00:45s</span></div>
                            </div>
                        </div>
                        <div class="left-side-img">
                            <img src="../../assets/images/login-popup.png">
                        </div>
                    </div>
                </div>
                <div class="login-call-card-modal-body">
                    <div class="body-section">
                        <div class="left-side-img">
                            <!-- <div class="topup-namste">नमस्ते</div> -->
                            <div  class="card-box">
                                <h6>You are Contacting</h6>
                                <div class="astro-img">
                                    <div class="backimg-border">
                                        <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&amp;h=387&amp;auto=compress&amp;fit=crop&amp;dpr=1.25" alt="kundali">
                                    </div>
                                </div>
                                <div class="astro-section">
                                    <h5>Poonam</h5>
                                    <p>Psychic-Medium</p>
                                    <div class="ratting">
                                        <div class="price">
                                            <span><i class="fa fa-inr" aria-hidden="true"></i>
                                            80<span>/Min</span>
                                            </span>
                                            <div class="discount_price"> 30<span>/Min</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cover-section-rating-exp">
                                    <div  class="status-section">
                                        <span><i  aria-hidden="true" class="fa fa-briefcase"></i></span>
                                        <span>24</span>Year
                                    </div>
                                    <div class="star-ratings">
                                        <span><i  aria-hidden="true" class="fa fa-star"></i></span>
                                        <div class="count-rating">8.5</div>
                                        <div class="count-rating newlyaddedastro">New</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right-side-cover">
                            <div class="from-section">
                                <h3>log In / Sign Up</h3>
                                <div class="check-login-signup">Login/Signup With Mobile Number & OTP</div>
                                <div class="country-code-section">
                                    <span>+91 | IN</span>
                                    <input type="tel" maxlength="10" autocomplete="off" placeholder="Mobile Number" required="">
                                </div>
                                <button type="button">Request OTP</button>
                                <p class="disclaimer"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                                 By proceeding i agree to <a target="_blank" href="https://www.onegodmed.com/terms-and-condition/">Terms &amp; Conditions</a> and <a target="_blank" href="https://www.onegodmed.com/privacy-policy/">Privacy Policy</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="otp-call-verify-modal-body">
                    <div class="body-section">
                        <div class="left-side-img">
                            <div  class="card-box">
                                <h6>You are Contacting</h6>
                                <div class="astro-img">
                                    <div class="backimg-border">
                                        <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&amp;h=387&amp;auto=compress&amp;fit=crop&amp;dpr=1.25" alt="kundali">
                                    </div>
                                </div>
                                <div class="astro-section">
                                    <h5>Poonam</h5>
                                    <p>Psychic-Medium</p>
                                    <div class="ratting">
                                        <div class="price">
                                            <span><i class="fa fa-inr" aria-hidden="true"></i>
                                            80<span>/Min</span>
                                            </span>
                                            <div class="discount_price"> 30<span>/Min</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cover-section-rating-exp">
                                    <div  class="status-section">
                                        <span><i  aria-hidden="true" class="fa fa-briefcase"></i></span>
                                        <span>24</span>Year
                                    </div>
                                    <div class="star-ratings">
                                        <span><i  aria-hidden="true" class="fa fa-star"></i></span>
                                        <div class="count-rating">8.5</div>
                                        <div class="count-rating newlyaddedastro">New</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right-side-cover">
                            <div class="from-section">
                                <div class="otpimg">
                                    <img src="../../assets/images/otp-verify.png">
                                </div>
                                <h4>OTP Verification</h4>
                                <div class="otp-input-section">
                                    <input type="tel" maxlength="1" id="otpusername" table-index="1" autocomplete="off" required="">
                                    <input type="tel" maxlength="1" id="otpusername" table-index="2" autocomplete="off" required="">
                                    <input type="tel" maxlength="1" id="otpusername" table-index="3" autocomplete="off" required="">
                                    <input type="tel" maxlength="1" id="otpusername" table-index="4" autocomplete="off" required="">
                                </div>
                                <div class="massage-otp-recived">Enter OTP Code sent to <span>+919937654322</span> 
                                    <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></div>
                                <p><button class="loginresend_otp">Submit</button> 
                                    <br>
                                    Didn't Get OTP ? <a class="rsendotp" href="">Rsend OTP</a>
                                </p>
                                <div class="timer">OTP available in<span>00:45s</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="otp-registration-call-verify-modal-body">
                    <div class="body-section">
                        <div class="right-side-cover">
                            <div class="from-section">
                                <input type="text" placeholder="Full Name">
                                <input type="text" placeholder="Mobile Number">
                                <h4>OTP Verification</h4>
                                <div class="otp-input-section">
                                    <input type="tel" maxlength="1" id="otpusername" table-index="1" autocomplete="off" required="">
                                    <input type="tel" maxlength="1" id="otpusername" table-index="2" autocomplete="off" required="">
                                    <input type="tel" maxlength="1" id="otpusername" table-index="3" autocomplete="off" required="">
                                    <input type="tel" maxlength="1" id="otpusername" table-index="4" autocomplete="off" required="">
                                </div>
                                <div class="massage-otp-recived">Enter OTP Code sent to <span>+919937654322</span> 
                                    <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></div>
                                <p><button class="loginresend_otp">Submit</button> 
                                    <br>
                                    Didn't Get OTP ? <a class="rsendotp" href="">Rsend OTP</a>
                                </p>
                                <div class="timer">OTP available in<span>00:45s</span></div>
                            </div>
                        </div>
                        <div class="left-side-img">
                            <!-- <img src="../../assets/images/login-popup.png"> -->
                            <div  class="card-box">
                                <h6>You are Contacting</h6>
                                <div class="astro-img">
                                    <div class="backimg-border">
                                        <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&amp;h=387&amp;auto=compress&amp;fit=crop&amp;dpr=1.25" alt="kundali">
                                    </div>
                                </div>
                                <div class="astro-section">
                                    <h5>Poonam</h5>
                                    <p>Psychic-Medium</p>
                                    <div class="ratting">
                                        <div class="price">
                                            <span><i class="fa fa-inr" aria-hidden="true"></i>
                                            80<span>/Min</span>
                                            </span>
                                            <div class="discount_price"> 30<span>/Min</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cover-section-rating-exp">
                                    <div  class="status-section">
                                        <span><i  aria-hidden="true" class="fa fa-briefcase"></i></span>
                                        <span>24</span>Year
                                    </div>
                                    <div class="star-ratings">
                                        <span><i  aria-hidden="true" class="fa fa-star"></i></span>
                                        <div class="count-rating">8.5</div>
                                        <div class="count-rating newlyaddedastro">New</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Modal content-->
        </div>


