@import '~src/assets/scss/theme-color.scss';
@import '~src/assets/scss/font-size.scss';

.faq-back-section{
    float: left;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 40px;
    background: $background_gradient_articles;
    .faq-main-page{
        width: 100%;
        float: left;
        p{
            letter-spacing: 1px;
            font-size: 14px;
            line-height: 25px;
            font-family: "Roboto Mono", monospace;
            font-weight: 400;
            margin-bottom: 30px;
        }
    }
}

@media only screen  and (max-width: 768px) {
    .heading h2{ font-size: 15px; margin: 0px; }
    .heading h3{ font-size: 15px; margin: 0px; }

    .faq-back-section{
        padding-top: 0;
        padding-bottom: 0px;
        .faq-main-page{
            p{
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 15px;
            }
        }
    }
}

