<div class="chat_card">
    <ul>
        <li *ngFor="let list of followerlist.data" (click)="astrodetailspage(list.astro_id)">
            <div class="card_astro">
                <div class="astro-img">
                    <img src='{{ list.photo_url }}'
                        alt="kundali">
                    <div class="light-shad"></div>
                </div>
                <div class="status-section">
                    <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                    <span>{{ list.experience }}</span>Year
                </div>
                <div class="star-ratings">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <div class="count-rating">8.5</div>
                    <div class="count-rating newlyaddedastro">New</div>
                </div>
                <div class="call-status-astrolger">
                    <a href="#">
                        <span class="sprite-chat-astrologer"></span>
                    </a>
                    <a href="#">
                        <span class="sprite-call-astrologer"></span>
                    </a>
                    <a href="#">
                        <span class="sprite-joincall-astrologer"></span>
                    </a>
                    <a href="#">
                        <span class="sprite-offline-astrologer"></span>
                    </a>
                </div>
                <div class="astro-section">
                    <h5>{{ list.first_name }}</h5>
                    <p>{{ list.expertise }}</p>
                    <div class="ratting">
                        <div class="language-astrologer">
                            <i class="fa fa-language" aria-hidden="true"></i>
                            <span>{{ list.langknown }}</span>
                        </div>
                        <div class="skills-astrologer">
                            <span>Love</span>
                            <span>Marriage</span>
                        </div>
                        <div class="price">
                            <span><i class="fa fa-inr" aria-hidden="true"></i>
                                80<span>/Min</span>
                            </span>
                            <div class="discount_price">30<span>/Min</span></div>
                        </div>
                    </div>
                </div>
                <div class="follow-section">
                    <span class="follow-style">Follow</span>
                    <span class="unfollow-style">Unfollow</span>
                </div>
            </div>
        </li>
    </ul>
</div>
