

    <section class="find-best-astrologers">
        <div class="container heading">
            <h2>Find Best Astrologers</h2>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="find_city_astrologer">
                        <div class="city_title">
                            <i class="fa fa-info" aria-hidden="true"></i> Consult Astrologer
                        </div>
                        <div class="city_category_title">
                            <ul>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Talk to astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Chat with astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Free Astrology</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Premium Report</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Talk to astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Chat with astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Free Astrology</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Premium Report</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="find_city_astrologer">
                        <div class="city_title">
                            <i class="fa fa-street-view" aria-hidden="true"></i> Indian City
                        </div>
                        <div class="city_category_title">
                            <ul>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Talk to astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Chat with astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Free Astrology</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Premium Report</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Talk to astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Chat with astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Free Astrology</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Premium Report</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="find_city_astrologer">
                        <div class="city_title">
                            <i class="fa fa-globe" aria-hidden="true"></i> International 
                        </div>
                        <div class="city_category_title">
                            <ul>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Talk to astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Chat with astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Free Astrology</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Premium Report</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Talk to astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Chat with astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Free Astrology</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Premium Report</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="find_city_astrologer">
                        <div class="city_title">
                            <i class="fa fa-tags" aria-hidden="true"></i> Category Astrologer
                        </div>
                        <div class="city_category_title">
                            <ul>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Talk to astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Chat with astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Free Astrology</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Premium Report</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Talk to astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Chat with astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Free Astrology</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Premium Report</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </section>
