

    <section class="find-best-astrologers">
        <div class="container heading">
            <h2>Find Best Astrologers</h2>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="find_city_astrologer">
                        <div class="city_title">
                            <i class="fa fa-info" aria-hidden="true"></i> Consult Astrologer
                        </div>
                        <div class="city_category_title">
                            <ul>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="talktoastro">Talk to astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="chatwithastro">Chat with astrologer</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Online Puja</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="find_city_astrologer">
                        <div class="city_title">
                            <i class="fa fa-street-view" aria-hidden="true"></i> Indian City
                        </div>
                        <div class="city_category_title">
                            <ul>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="talktoastro">Astrologer in Delhi</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="talktoastro">Astrologer in Gurugram</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="talktoastro">Astrologer in Noida</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="talktoastro">Astrologer in Mumbai</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="talktoastro">Astrologer in Kolkata</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="talktoastro">Astrologer in Banglore</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="find_city_astrologer">
                        <div class="city_title">
                            <i class="fa fa-globe" aria-hidden="true"></i> International 
                        </div>
                        <div class="city_category_title">
                            <ul>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Astrologer in   USA</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Astrologer in Canada</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Astrologer in China</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Astrologer in Brazil</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Astrologer in France</a>
                                </li>
                                <li>
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a href="#">Astrologer in Russia</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="find_city_astrologer">
                        <div class="city_title">
                            <i class="fa fa-tags" aria-hidden="true"></i> Category Astrologer
                        </div>
                        <div class="city_category_title">
                            <ul>
                                <li (click)="onclick('Vedic Astrology')">
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a >Vedic Astrology</a>
                                </li>
                                <li (click)="onclick('Numerology')">
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a>Numerology</a>
                                </li>
                                <li (click)="onclick('Medic Astrology')">
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a>Medic Astrology</a>
                                </li>
                                <li (click)="onclick('Gemologist')">
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a>Gemologist</a>
                                </li>
                                <li (click)="onclick('Total Card')">
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a>Total Card</a>
                                </li>
                                <li (click)="onclick('Palmistry')">
                                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                                    <a>Palmistry</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </section>
