@import '~src/assets/scss/theme-color.scss';
@import '~src/assets/scss/font-size.scss';


.tabs-astrolgers{
    float: left;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 20px;
    min-height: 400px;
    background: $background_gradient_tabs;
    h4{
        font-size: 24px;
        margin: 0px 10px 30px;
        line-height: 30px;
        font-family: "Roboto Mono", monospace;
        font-weight: 500;
        letter-spacing: 1.5px;
        color: $browes_title-color;
    }
}



.heading h2 {
    font-size: $title_size_30px;
    display: inline-block;
    margin: 25px 10px;
    line-height: 45px;
    font-family: "Roboto Mono", monospace;
    font-weight: $font-weight_600;
    letter-spacing: 1.5px;
    color: $title_color;
}

.heading button {
    float: right;
    margin-top: 30px;
    outline: none;
    border: none;
    background: transparent;
    text-decoration: underline;
    font-size: $title_size_18px;
    font-weight: $font-weight_600;
    padding: 10px;
    cursor: pointer;
}




@media only screen  and (max-width: 600px) {
.slider-banner{ padding: 10px 0; height: auto;}
.heading h2{ font-size: 15px; margin: 10px; }

}