<div class="tabs-astrolgers">
  <div class="container heading">
    <h2>Online Astrologers</h2>
    <h4>Browse by</h4>
    <button class="articles-btn" (click)="seeall()">See All</button>
    <mat-tab-group>
      <mat-tab label="Most Popular">
        <div class="container">
          <div class="astrolger-section heading">
            <h2>Most Popular</h2>
            <div class="row">
              <div *ngFor="let list of HomeastrologerlistService?.response.data" class="card-box">
                <div class="astro-img" (click)="astrodetailspage(list.astrologer_id)">
                  <img src='{{ list.photo_url }}' alt="kundali">
                  <div class="light-shad"></div>
                </div>
                <div class="switch">
                  <span *ngIf="list.current_status === 'Online'" class="online"></span>
                  <span *ngIf="list.current_status === 'Offline'" class="offline"></span>
                  <span *ngIf="list.current_status === 'Busy'" class="busy"></span>
                </div>
                <div class="status-section">
                  <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                  <span>{{ list.experience }}</span>Year
                </div>
                <div class="star-ratings">
                  <span><i class="fa fa-star" aria-hidden="true"></i></span>
                  <div class="count-rating">{{ list.rating | number:'1.0-0' }}</div>
                  <div class="count-rating newlyaddedastro">New</div>
                </div>
                <div class="call-status-astrolger">
                  <a *ngIf="list.current_status === 'Online' && IsLoggedIn" (click)="openDialog(list.astrologer_id)">
                    <span class="icon-call"></span>
                  </a>
                  <a *ngIf="!IsLoggedIn" (click)="logindialogopen(list.astrologer_id)">
                    <span class="icon-call"></span>
                  </a>
                  <a *ngIf="!IsLoggedIn && list.current_status === 'Online'" (click)="logindialogopen(list.astrologer_id)">
                    <span class="icon-chat"></span>
                  </a>
                  <a *ngIf="list.current_status === 'Offline' && IsLoggedIn">
                    <span class="icon-call-bussy"></span>
                  </a>
                  <a *ngIf="list.current_status === 'Busy'">
                    <span class="icon-call-offline"></span>
                  </a>
                  <a *ngIf="list.current_status === 'Online' && IsLoggedIn">
                    <span class="icon-chat"></span>
                  </a>
                  <a *ngIf="list.current_status === 'Offline'">
                    <span class="icon-chat-bussy"></span>
                  </a>
                  <a *ngIf="list.current_status === 'Busy'">
                    <span class="icon-chat-offline"></span>
                  </a>
                </div>
                <div class="astro-section">
                  <h5>{{ list.full_name }}</h5>
                  <p>{{ list.expertise }}</p>
                  <div class="ratting">
                    <div class="language-astrologer">
                      <i class="fa fa-language" aria-hidden="true"></i>
                      <span>{{ list.langknown }}</span>
                    </div>
                    <div class="price">
                      <span><i class="fa fa-inr" aria-hidden="true"></i>
                        {{ list.service_price }}<span>/Min</span>
                      </span>
                      <div class="discount_price">{{ list.old_price }}<span>/Min</span></div>
                    </div>
                  </div>
                </div>
                <div class="follow-section">
                  <span class="follow-style">Follow</span>
                  <span class="unfollow-style">Unfollow</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      
      <mat-tab label="New + Noteworthy">
        <ng-template mat-tab-label>
          <span (click)="changecategory('new')">New + Noteworthy</span>
      </ng-template>

        <div class="container" >
          <div class="astrolger-section heading" >
            <h2>New + Noteworthy</h2>
            <div class="row">
              <div *ngFor="let list of HomeastrologerlistService?.response.data" class="card-box">
                <div class="astro-img" (click)="astrodetailspage(list.astrologer_id)">
                  <img src='{{ list.photo_url }}' alt="kundali">
                  <div class="light-shad"></div>
                </div>
                <div class="switch">
                  <span *ngIf="list.current_status === 'Online'" class="online"></span>
                  <span *ngIf="list.current_status === 'Offline'" class="offline"></span>
                  <span *ngIf="list.current_status === 'Busy'" class="busy"></span>
                </div>
                <div class="status-section">
                  <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                  <span>{{ list.experience }}</span>Year
                </div>
                <div class="star-ratings">
                  <span><i class="fa fa-star" aria-hidden="true"></i></span>
                  <div class="count-rating">{{ list.rating | number:'1.0-0' }}</div>
                  <div class="count-rating newlyaddedastro">New</div>
                </div>
                <div class="call-status-astrolger">
                  <a *ngIf="list.current_status === 'Online' && IsLoggedIn" (click)="openDialog(list.astrologer_id)">
                    <span class="icon-call"></span>
                  </a>
                  <a *ngIf="!IsLoggedIn" (click)="logindialogopen(list.astrologer_id)">
                    <span class="icon-call"></span>
                  </a>
                  <a *ngIf="!IsLoggedIn && list.current_status === 'Online'" (click)="logindialogopen(list.astrologer_id)">
                    <span class="icon-chat"></span>
                  </a>
                  <a *ngIf="list.current_status === 'Offline' && IsLoggedIn">
                    <span class="icon-call-bussy"></span>
                  </a>
                  <a *ngIf="list.current_status === 'Busy'">
                    <span class="icon-call-offline"></span>
                  </a>
                  <a *ngIf="list.current_status === 'Online' && IsLoggedIn">
                    <span class="icon-chat"></span>
                  </a>
                  <a *ngIf="list.current_status === 'Offline'">
                    <span class="icon-chat-bussy"></span>
                  </a>
                  <a *ngIf="list.current_status === 'Busy'">
                    <span class="icon-chat-offline"></span>
                  </a>
                </div>
                <div class="astro-section">
                  <h5>{{ list.full_name }}</h5>
                  <p>{{ list.expertise }}</p>
                  <div class="ratting">
                    <div class="language-astrologer">
                      <i class="fa fa-language" aria-hidden="true"></i>
                      <span>{{ list.langknown }}</span>
                    </div>
                    <div class="price">
                      <span><i class="fa fa-inr" aria-hidden="true"></i>
                        {{ list.service_price }}<span>/Min</span>
                      </span>
                      <div class="discount_price">30<span>/Min</span></div>
                    </div>
                  </div>
                </div>
                <div class="follow-section">
                  <span class="follow-style">Follow</span>
                  <span class="unfollow-style">Unfollow</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Astrology">
        <ng-template mat-tab-label>
          <span (click)="changecategory('astrology')">Astrology</span>
      </ng-template>
        <div class="container">
          <div class="astrolger-section heading">
            <h2>Astrology</h2>
            <div class="row">
              <div *ngFor="let list of HomeastrologerlistService?.response.data" class="card-box">
                <div class="astro-img" (click)="astrodetailspage(list.astrologer_id)">
                  <img src='{{ list.photo_url }}' alt="kundali">
                  <div class="light-shad"></div>
                </div>
                <div class="switch">
                  <span *ngIf="list.current_status === 'Online'" class="online"></span>
                  <span *ngIf="list.current_status === 'Offline'" class="offline"></span>
                  <span *ngIf="list.current_status === 'Busy'" class="busy"></span>
                </div>
                <div class="status-section">
                  <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                  <span>{{ list.experience }}</span>Year
                </div>
                <div class="star-ratings">
                  <span><i class="fa fa-star" aria-hidden="true"></i></span>
                  <div class="count-rating">{{ list.rating | number:'1.0-0' }}</div>
                  <div class="count-rating newlyaddedastro">New</div>
                </div>
                <div class="call-status-astrolger">
                  <a *ngIf="list.current_status === 'Online' && IsLoggedIn" (click)="openDialog(list.astrologer_id)">
                    <span class="icon-call"></span>
                  </a>
                  <a *ngIf="!IsLoggedIn" (click)="logindialogopen(list.astrologer_id)">
                    <span class="icon-call"></span>
                  </a>
                  <a *ngIf="!IsLoggedIn && list.current_status === 'Online'" (click)="logindialogopen(list.astrologer_id)">
                    <span class="icon-chat"></span>
                  </a>
                  <a *ngIf="list.current_status === 'Offline' && IsLoggedIn">
                    <span class="icon-call-bussy"></span>
                  </a>
                  <a *ngIf="list.current_status === 'Busy'">
                    <span class="icon-call-offline"></span>
                  </a>
                  <a *ngIf="list.current_status === 'Online' && IsLoggedIn">
                    <span class="icon-chat"></span>
                  </a>
                  <a *ngIf="list.current_status === 'Offline'">
                    <span class="icon-chat-bussy"></span>
                  </a>
                  <a *ngIf="list.current_status === 'Busy'">
                    <span class="icon-chat-offline"></span>
                  </a>
                </div>
                <div class="astro-section">
                  <h5>{{ list.full_name }}</h5>
                  <p>{{ list.expertise }}</p>
                  <div class="ratting">
                    <div class="language-astrologer">
                      <i class="fa fa-language" aria-hidden="true"></i>
                      <span>{{ list.langknown }}</span>
                    </div>
                    <div class="price">
                      <span><i class="fa fa-inr" aria-hidden="true"></i>
                        {{ list.service_price }}<span>/Min</span>
                      </span>
                      <div class="discount_price">30<span>/Min</span></div>
                    </div>
                  </div>
                </div>
                <div class="follow-section">
                  <span class="follow-style">Follow</span>
                  <span class="unfollow-style">Unfollow</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Tarot">
        <ng-template mat-tab-label>
          <span (click)="changecategory('5')">Tarot</span>
      </ng-template>
        <div class="container">
          <div class="astrolger-section heading">
            <h2>Tarot</h2>
            <div class="row">
              <div *ngFor="let list of HomeastrologerlistService?.response.data" class="card-box">
                <div class="astro-img" (click)="astrodetailspage(list.astrologer_id)">
                  <img src='{{ list.photo_url }}' alt="kundali">
                  <div class="light-shad"></div>
                </div>
                <div class="switch">
                  <span *ngIf="list.current_status === 'Online'" class="online"></span>
                  <span *ngIf="list.current_status === 'Offline'" class="offline"></span>
                  <span *ngIf="list.current_status === 'Busy'" class="busy"></span>
                </div>
                <div class="status-section">
                  <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                  <span>{{ list.experience }}</span>Year
                </div>
                <div class="star-ratings">
                  <span><i class="fa fa-star" aria-hidden="true"></i></span>
                  <div class="count-rating">{{ list.rating | number:'1.0-0' }}</div>
                  <div class="count-rating newlyaddedastro">New</div>
                </div>
                <div class="call-status-astrolger">
                  <a *ngIf="list.current_status === 'Online' && IsLoggedIn" (click)="openDialog(list.astrologer_id)">
                    <span class="icon-call"></span>
                  </a>
                  <a *ngIf="!IsLoggedIn" (click)="logindialogopen(list.astrologer_id)">
                    <span class="icon-call"></span>
                  </a>
                  <a *ngIf="!IsLoggedIn && list.current_status === 'Online'" (click)="logindialogopen(list.astrologer_id)">
                    <span class="icon-chat"></span>
                  </a>
                  <a *ngIf="list.current_status === 'Offline' && IsLoggedIn">
                    <span class="icon-call-bussy"></span>
                  </a>
                  <a *ngIf="list.current_status === 'Busy'">
                    <span class="icon-call-offline"></span>
                  </a>
                  <a *ngIf="list.current_status === 'Online' && IsLoggedIn">
                    <span class="icon-chat"></span>
                  </a>
                  <a *ngIf="list.current_status === 'Offline'">
                    <span class="icon-chat-bussy"></span>
                  </a>
                  <a *ngIf="list.current_status === 'Busy'">
                    <span class="icon-chat-offline"></span>
                  </a>
                </div>
                <div class="astro-section">
                  <h5>{{ list.full_name }}</h5>
                  <p>{{ list.expertise }}</p>
                  <div class="ratting">
                    <div class="language-astrologer">
                      <i class="fa fa-language" aria-hidden="true"></i>
                      <span>{{ list.langknown }}</span>
                    </div>
                    <div class="price">
                      <span><i class="fa fa-inr" aria-hidden="true"></i>
                        {{ list.service_price }}<span>/Min</span>
                      </span>
                      <div class="discount_price">30<span>/Min</span></div>
                    </div>
                  </div>
                </div>
                <div class="follow-section">
                  <span class="follow-style">Follow</span>
                  <span class="unfollow-style">Unfollow</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Psychics">
        <ng-template mat-tab-label>
          <span (click)="changecategory('26')">Psychics</span>
        </ng-template>
        <div class="example-large-box mat-elevation-z4">
          <div class="container">
            <div class="astrolger-section heading">
              <h2>Psychics</h2>
              <div class="row">
                <div *ngFor="let list of HomeastrologerlistService?.response.data" class="card-box">
                  <div class="astro-img" (click)="astrodetailspage(list.astrologer_id)">
                    <img src='{{ list.photo_url }}' alt="kundali">
                    <div class="light-shad"></div>
                  </div>
                  <div class="switch">
                    <span *ngIf="list.current_status === 'Online'" class="online"></span>
                    <span *ngIf="list.current_status === 'Offline'" class="offline"></span>
                    <span *ngIf="list.current_status === 'Busy'" class="busy"></span>
                  </div>
                  <div class="status-section">
                    <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                    <span>{{ list.experience }}</span>Year
                  </div>
                  <div class="star-ratings">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <div class="count-rating">{{ list.rating | number:'1.0-0' }}</div>
                    <div class="count-rating newlyaddedastro">New</div>
                  </div>
                  <div class="call-status-astrolger">
                    <a *ngIf="list.current_status === 'Online' && IsLoggedIn" (click)="openDialog(list.astrologer_id)">
                      <span class="icon-call"></span>
                    </a>
                    <a *ngIf="!IsLoggedIn" (click)="logindialogopen(list.astrologer_id)">
                      <span class="icon-call"></span>
                    </a>
                    <a *ngIf="!IsLoggedIn && list.current_status === 'Online'" (click)="logindialogopen(list.astrologer_id)">
                      <span class="icon-chat"></span>
                    </a>
                    <a *ngIf="list.current_status === 'Offline' && IsLoggedIn">
                      <span class="icon-call-bussy"></span>
                    </a>
                    <a *ngIf="list.current_status === 'Busy'">
                      <span class="icon-call-offline"></span>
                    </a>
                    <a *ngIf="list.current_status === 'Online' && IsLoggedIn">
                      <span class="icon-chat"></span>
                    </a>
                    <a *ngIf="list.current_status === 'Offline'">
                      <span class="icon-chat-bussy"></span>
                    </a>
                    <a *ngIf="list.current_status === 'Busy'">
                      <span class="icon-chat-offline"></span>
                    </a>
                  </div>
                  <div class="astro-section">
                    <h5>{{ list.full_name }}</h5>
                    <p>{{ list.expertise }}</p>
                    <div class="ratting">
                      <div class="language-astrologer">
                        <i class="fa fa-language" aria-hidden="true"></i>
                        <span>{{ list.langknown }}</span>
                      </div>
                      <div class="price">
                        <span><i class="fa fa-inr" aria-hidden="true"></i>
                          {{ list.service_price }}<span>/Min</span>
                        </span>
                        <div class="discount_price">30<span>/Min</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="follow-section">
                    <span class="follow-style">Follow</span>
                    <span class="unfollow-style">Unfollow</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
