<section class="following_page">
    <div class="container">
        <div class="chat_card">
            <ul>
                <li>
                    <div class="card_astro">
                        <div class="astro-img">
                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                alt="kundali">
                            <div class="light-shad"></div>
                        </div>
                        <div class="status-section">
                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                            <span>24</span>Year
                        </div>
                        <div class="star-ratings">
                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                            <div class="count-rating">8.5</div>
                            <div class="count-rating newlyaddedastro">New</div>
                        </div>
                        <div class="call-status-astrolger">
                            <a href="#">
                                <span class="sprite-chat-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-call-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-joincall-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-offline-astrologer"></span>
                            </a>
                        </div>
                        <div class="astro-section">
                            <h5>Poonam</h5>
                            <p>Psychic-Medium</p>
                            <div class="ratting">
                                <div class="language-astrologer">
                                    <i class="fa fa-language" aria-hidden="true"></i>
                                    <span>Hindi</span>
                                    <span>English</span>
                                    <span>Punjabi</span>
                                </div>
                                <div class="skills-astrologer">
                                    <span>Love</span>
                                    <span>Marriage</span>
                                </div>
                                <div class="price">
                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                        80<span>/Min</span>
                                    </span>
                                    <div class="discount_price">30<span>/Min</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="follow-section">
                            <span class="follow-style">Follow</span>
                            <span class="unfollow-style">Unfollow</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card_astro">
                        <div class="astro-img">
                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                alt="kundali">
                            <div class="light-shad"></div>
                        </div>
                        <div class="status-section">
                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                            <span>24</span>Year
                        </div>
                        <div class="star-ratings">
                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                            <div class="count-rating">8.5</div>
                            <div class="count-rating newlyaddedastro">New</div>
                        </div>
                        <div class="call-status-astrolger">
                            <a href="#">
                                <span class="sprite-chat-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-call-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-joincall-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-offline-astrologer"></span>
                            </a>
                        </div>
                        <div class="astro-section">
                            <h5>Poonam</h5>
                            <p>Psychic-Medium</p>
                            <div class="ratting">
                                <div class="language-astrologer">
                                    <i class="fa fa-language" aria-hidden="true"></i>
                                    <span>Hindi</span>
                                    <span>English</span>
                                    <span>Punjabi</span>
                                </div>
                                <div class="skills-astrologer">
                                    <span>Love</span>
                                    <span>Marriage</span>
                                </div>
                                <div class="price">
                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                        80<span>/Min</span>
                                    </span>
                                    <div class="discount_price">30<span>/Min</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="follow-section">
                            <span class="follow-style">Follow</span>
                            <span class="unfollow-style">Unfollow</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card_astro">
                        <div class="astro-img">
                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                alt="kundali">
                            <div class="light-shad"></div>
                        </div>
                        <div class="status-section">
                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                            <span>24</span>Year
                        </div>
                        <div class="star-ratings">
                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                            <div class="count-rating">8.5</div>
                            <div class="count-rating newlyaddedastro">New</div>
                        </div>
                        <div class="call-status-astrolger">
                            <a href="#">
                                <span class="sprite-chat-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-call-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-joincall-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-offline-astrologer"></span>
                            </a>
                        </div>
                        <div class="astro-section">
                            <h5>Poonam</h5>
                            <p>Psychic-Medium</p>
                            <div class="ratting">
                                <div class="language-astrologer">
                                    <i class="fa fa-language" aria-hidden="true"></i>
                                    <span>Hindi</span>
                                    <span>English</span>
                                    <span>Punjabi</span>
                                </div>
                                <div class="skills-astrologer">
                                    <span>Love</span>
                                    <span>Marriage</span>
                                </div>
                                <div class="price">
                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                        80<span>/Min</span>
                                    </span>
                                    <div class="discount_price">30<span>/Min</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="follow-section">
                            <span class="follow-style">Follow</span>
                            <span class="unfollow-style">Unfollow</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card_astro">
                        <div class="astro-img">
                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                alt="kundali">
                            <div class="light-shad"></div>
                        </div>
                        <div class="status-section">
                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                            <span>24</span>Year
                        </div>
                        <div class="star-ratings">
                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                            <div class="count-rating">8.5</div>
                            <div class="count-rating newlyaddedastro">New</div>
                        </div>
                        <div class="call-status-astrolger">
                            <a href="#">
                                <span class="sprite-chat-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-call-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-joincall-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-offline-astrologer"></span>
                            </a>
                        </div>
                        <div class="astro-section">
                            <h5>Poonam</h5>
                            <p>Psychic-Medium</p>
                            <div class="ratting">
                                <div class="language-astrologer">
                                    <i class="fa fa-language" aria-hidden="true"></i>
                                    <span>Hindi</span>
                                    <span>English</span>
                                    <span>Punjabi</span>
                                </div>
                                <div class="skills-astrologer">
                                    <span>Love</span>
                                    <span>Marriage</span>
                                </div>
                                <div class="price">
                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                        80<span>/Min</span>
                                    </span>
                                    <div class="discount_price">30<span>/Min</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="follow-section">
                            <span class="follow-style">Follow</span>
                            <span class="unfollow-style">Unfollow</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card_astro">
                        <div class="astro-img">
                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                alt="kundali">
                            <div class="light-shad"></div>
                        </div>
                        <div class="status-section">
                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                            <span>24</span>Year
                        </div>
                        <div class="star-ratings">
                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                            <div class="count-rating">8.5</div>
                            <div class="count-rating newlyaddedastro">New</div>
                        </div>
                        <div class="call-status-astrolger">
                            <a href="#">
                                <span class="sprite-chat-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-call-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-joincall-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-offline-astrologer"></span>
                            </a>
                        </div>
                        <div class="astro-section">
                            <h5>Poonam</h5>
                            <p>Psychic-Medium</p>
                            <div class="ratting">
                                <div class="language-astrologer">
                                    <i class="fa fa-language" aria-hidden="true"></i>
                                    <span>Hindi</span>
                                    <span>English</span>
                                    <span>Punjabi</span>
                                </div>
                                <div class="skills-astrologer">
                                    <span>Love</span>
                                    <span>Marriage</span>
                                </div>
                                <div class="price">
                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                        80<span>/Min</span>
                                    </span>
                                    <div class="discount_price">30<span>/Min</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="follow-section">
                            <span class="follow-style">Follow</span>
                            <span class="unfollow-style">Unfollow</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card_astro">
                        <div class="astro-img">
                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                alt="kundali">
                            <div class="light-shad"></div>
                        </div>
                        <div class="status-section">
                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                            <span>24</span>Year
                        </div>
                        <div class="star-ratings">
                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                            <div class="count-rating">8.5</div>
                            <div class="count-rating newlyaddedastro">New</div>
                        </div>
                        <div class="call-status-astrolger">
                            <a href="#">
                                <span class="sprite-chat-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-call-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-joincall-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-offline-astrologer"></span>
                            </a>
                        </div>
                        <div class="astro-section">
                            <h5>Poonam</h5>
                            <p>Psychic-Medium</p>
                            <div class="ratting">
                                <div class="language-astrologer">
                                    <i class="fa fa-language" aria-hidden="true"></i>
                                    <span>Hindi</span>
                                    <span>English</span>
                                    <span>Punjabi</span>
                                </div>
                                <div class="skills-astrologer">
                                    <span>Love</span>
                                    <span>Marriage</span>
                                </div>
                                <div class="price">
                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                        80<span>/Min</span>
                                    </span>
                                    <div class="discount_price">30<span>/Min</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="follow-section">
                            <span class="follow-style">Follow</span>
                            <span class="unfollow-style">Unfollow</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card_astro">
                        <div class="astro-img">
                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                alt="kundali">
                            <div class="light-shad"></div>
                        </div>
                        <div class="status-section">
                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                            <span>24</span>Year
                        </div>
                        <div class="star-ratings">
                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                            <div class="count-rating">8.5</div>
                            <div class="count-rating newlyaddedastro">New</div>
                        </div>
                        <div class="call-status-astrolger">
                            <a href="#">
                                <span class="sprite-chat-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-call-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-joincall-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-offline-astrologer"></span>
                            </a>
                        </div>
                        <div class="astro-section">
                            <h5>Poonam</h5>
                            <p>Psychic-Medium</p>
                            <div class="ratting">
                                <div class="language-astrologer">
                                    <i class="fa fa-language" aria-hidden="true"></i>
                                    <span>Hindi</span>
                                    <span>English</span>
                                    <span>Punjabi</span>
                                </div>
                                <div class="skills-astrologer">
                                    <span>Love</span>
                                    <span>Marriage</span>
                                </div>
                                <div class="price">
                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                        80<span>/Min</span>
                                    </span>
                                    <div class="discount_price">30<span>/Min</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="follow-section">
                            <span class="follow-style">Follow</span>
                            <span class="unfollow-style">Unfollow</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card_astro">
                        <div class="astro-img">
                            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1628103206226x670460344299477000%2FStacey%2520Head%2520Shot%2520.jpg?w=384&h=387&auto=compress&fit=crop&dpr=1.25"
                                alt="kundali">
                            <div class="light-shad"></div>
                        </div>
                        <div class="status-section">
                            <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                            <span>24</span>Year
                        </div>
                        <div class="star-ratings">
                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                            <div class="count-rating">8.5</div>
                            <div class="count-rating newlyaddedastro">New</div>
                        </div>
                        <div class="call-status-astrolger">
                            <a href="#">
                                <span class="sprite-chat-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-call-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-joincall-astrologer"></span>
                            </a>
                            <a href="#">
                                <span class="sprite-offline-astrologer"></span>
                            </a>
                        </div>
                        <div class="astro-section">
                            <h5>Poonam</h5>
                            <p>Psychic-Medium</p>
                            <div class="ratting">
                                <div class="language-astrologer">
                                    <i class="fa fa-language" aria-hidden="true"></i>
                                    <span>Hindi</span>
                                    <span>English</span>
                                    <span>Punjabi</span>
                                </div>
                                <div class="skills-astrologer">
                                    <span>Love</span>
                                    <span>Marriage</span>
                                </div>
                                <div class="price">
                                    <span><i class="fa fa-inr" aria-hidden="true"></i>
                                        80<span>/Min</span>
                                    </span>
                                    <div class="discount_price">30<span>/Min</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="follow-section">
                            <span class="follow-style">Follow</span>
                            <span class="unfollow-style">Unfollow</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
