
<div class="container">

    <div class="astrologer_breadcrumbs">
        <ul>
            <li><a href="/">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>
                <a href="/blogpage">Blog</a>
            </li>
            <li>
                <a href="/blogpage/bloginnerpage" class="current active text-capitalize">Blog inner</a>
            </li>
        </ul>
    </div>

    <section class="blog_inner_page">

        <section class="inner-blogbanner">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="image-banner-section">
                        <img src='{{ blogdetails.data.photoURL }}' alt="blog-banner">
                        <div class="black_shadow"></div>
                        <div class="inner-details-section">
                            By:<h6>Mrs. Ram Singh</h6> |
                            <div class="post-inner-data"> Updated at :<span> 28 Jun</span> 2022 <span>01:18 PM</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div  class="inner-text-box">
                <div class="categories-tag">
                    <a href="#">Love</a>
                    <a href="#">Relactionship</a>
                    <a href="#">Career</a>
                </div>
                <h4>{{ blogdetails.data.heading }}</h4>
                <div class="inner-details-section">
                    By:<h6>ONEGODMED</h6> |
                    <div class="post-inner-data"> Updated at :<span> {{ blogdetails.data.date }}</span><span>01:18 PM</span></div>
                </div>
                <div [innerHTML]='blogdetails.data.discription'></div>
            </div>
        </section>

        <div class="adds-banner">
            <a href="#">
                <img src="https://www.onegodmed.com/admin-assets/assets/blog-images/Jagannath_Rath_Yatra.png">
            </a>
        </div>

        <div class="related-inner-section heading">
            <h2>Related Blogs</h2>
            <ul>
                <li>
                    <span>
                        <img src="https://www.onegodmed.com/admin-assets/assets/blog-images/Why_isro_used_panchang.png" alt="">
                    </span>
                    <div class="view-post-section">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <span>129</span>
                    </div>
                    <div class="articles-text-box">
                        <h4>the Personality traits, characteristics, and temperament of </h4>
                        <div class="articles-details-section">
                            <h6>Shiv Kumar</h6>
                            <div class="post-articles-date"><span>Jun</span> 16 ,2022</div>
                        </div>
                    </div>
                </li>
                <li>
                    <span>
                        <img src="https://www.onegodmed.com/admin-assets/assets/blog-images/Why_isro_used_panchang.png" alt="">
                    </span>
                    <div class="view-post-section">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <span>1354</span>
                    </div>
                    <div class="articles-text-box">
                        <h4>characteristics,Know the Personality traits, characteristics,“Taurus”</h4>
                        <div class="articles-details-section">
                            <h6>Ram Singh</h6>
                            <div class="post-articles-date"><span>Jun</span> 26 ,2022</div>
                        </div>
                    </div>
                </li>
                <li>
                    <span>
                        <img src="https://www.onegodmed.com/admin-assets/assets/blog-images/Why_isro_used_panchang.png" alt="">
                    </span>
                    <div class="view-post-section">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <span>1013</span>
                    </div>
                    <div class="articles-text-box">
                        <h4>Know the Personality traits, characteristics, and temperament of “Taurus”</h4>
                        <div class="articles-details-section">
                            <h6>R.k</h6>
                            <div class="post-articles-date"><span>Feb</span> 03 ,2021</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <div class="adds-banner">
            <a href="#">
                <img src="https://www.onegodmed.com/front-assets/images/panchang-impotant.png">
            </a>
        </div>

    </section>




    <app-side-bar-section></app-side-bar-section>

</div>

