
<div class="container heading">

    <div class="astrologer_breadcrumbs">
        <ul>
            <li><a href="/">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>
                <a href="/blogpage" class="current active text-capitalize">Blog</a>
            </li>
        </ul>
    </div>

    <section class="banner-blog">
        <div class="latest-inner-section">
            <h2>Latest</h2>
            <ul>
                <li *ngFor="let list of bloglistService?.response.data" (click)="forbloginnerpage(list.blog_id)">
                    <span>
                        <img src='{{ list.photoURL }}' alt="">
                    </span>
                    <div class="view-post-section">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <span>{{ list.view }}</span>
                    </div>
                    <div class="articles-text-box">
                        <h4>{{ list.heading }}</h4>
                        <div class="articles-details-section">
                            <h6>ONEGODMED</h6>
                            <div class="post-articles-date"><span>{{ list.date }}</span></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="adds-banner">
            <a href="#">
                <img src="../../assets/images/blog-adds-banner.png">
            </a>
        </div>
        <!-- <div class="latest-inner-section">
            <ul>
                <li>
                    <span>
                        <img src="https://www.onegodmed.com/admin-assets/assets/blog-images/Why_isro_used_panchang.png" alt="">
                    </span>
                    <div class="view-post-section">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <span>129</span>
                    </div>
                    <div class="articles-text-box">
                        <h4>the Personality traits, characteristics, and temperament of </h4>
                        <div class="articles-details-section">
                            <h6>Shiv Kumar</h6>
                            <div class="post-articles-date"><span>Jun</span> 16 ,2022</div>
                        </div>
                    </div>
                </li>
                <li>
                    <span>
                        <img src="https://www.onegodmed.com/admin-assets/assets/blog-images/Why_isro_used_panchang.png" alt="">
                    </span>
                    <div class="view-post-section">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <span>1354</span>
                    </div>
                    <div class="articles-text-box">
                        <h4>characteristics,Know the Personality traits, characteristics,“Taurus”</h4>
                        <div class="articles-details-section">
                            <h6>Ram Singh</h6>
                            <div class="post-articles-date"><span>Jun</span> 26 ,2022</div>
                        </div>
                    </div>
                </li>
                <li>
                    <span>
                        <img src="https://www.onegodmed.com/admin-assets/assets/blog-images/Why_isro_used_panchang.png" alt="">
                    </span>
                    <div class="view-post-section">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <span>1013</span>
                    </div>
                    <div class="articles-text-box">
                        <h4>Know the Personality traits, characteristics, and temperament of “Taurus”</h4>
                        <div class="articles-details-section">
                            <h6>R.k</h6>
                            <div class="post-articles-date"><span>Feb</span> 03 ,2021</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div> -->

        <div class="paginator-blog">
            <mat-paginator [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page">
            </mat-paginator>
        </div>

    </section>

    <app-side-bar-section></app-side-bar-section>

</div>
<app-faqpage-page></app-faqpage-page>