@import '~src/assets/scss/theme-color.scss';
@import '~src/assets/scss/font-size.scss';

.banner-blog{
    float: left;
    margin-top: 40px;
    width: 72%;
    .latest-inner-section{
        float: left;
        margin-bottom: 10px;
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            width: 100%;
            float: left;
            li{
                display: inline-block;
                width: 31%;
                vertical-align: top;
                margin-bottom: 40px;
                margin-right: 3%;
                box-shadow: $box_shadow_blog_card_section;
                border-radius: 8px;
                min-height: 350px;
                position: relative;
                transition: $transition_out_5s;
                background: $blog_card_section_bg_color;
                cursor: pointer;
                &:hover{
                    -webkit-transform: $transform_hover_blog_card_section;
                    transform: $transform_hover_blog_card_section;
                    background: $background_blog_card_section;
                }
                &:nth-child(3n){
                    margin-right: 0;
                }     
                span{
                    float: left;
                    img{
                        width: 100%;
                        border-radius: 8px;
                        min-height: 150px;
                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
                .view-post-section {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: $background_blog_view_count_section;
                    padding: 4px;
                    display: flex;
                    color: $title_white_color;
                    border-bottom-right-radius: 8px;
                    border-top-left-radius: 8px;
                    font-size: $title_size_12px;
                    font-weight: $font-weight_400;
                    font-family: "Roboto Mono", monospace;
                    i{
                        margin-top: 3px;
                        margin-right: 3px;
                    }
                }
                .articles-text-box{
                    float: left;
                    width: 100%;
                    padding: 15px;
                    box-sizing: border-box;
                    h4{
                        float: left;
                        font-family: "Roboto Mono", monospace;
                        letter-spacing: 0.5px;
                        font-size: $title_size_16px;
                        font-weight: $font-weight_600;
                        line-height: 30px;
                        color: $title_dark_gray_color;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        height: 85px;
                        width: 100%;
                    }
                    .articles-details-section{
                        float: left;
                        width: 100%;
                        font-family: "Roboto Mono", monospace;
                        font-size: $title_size_16px;
                        font-weight: $font-weight_400;
                        letter-spacing: 0.5px;
                        line-height: 25px;
                        h6{
                            color: $title_dark_gray_color;
                            font-size: $title_size_12px;
                            font-weight: $font-weight_400;
                            line-height: 10px;
                            margin-bottom: 10px;
                            letter-spacing: 1px;
                            float: left;
                        }
                        .post-articles-date {
                            font-size: $title_size_14px;
                            font-weight: $font-weight_600;
                            float: right;
                            margin-top: -10px;
                        }
                    }
                }
            }
        }
    }
    .adds-banner{
        width: 100%;
        float: left;
        margin: 20px 0 60px;
        a{
            text-decoration: none;
            img{
                width: 100%;
                border-radius: 8px;
            }
        }
    }
    .trending-inner-section{
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            width: 100%;
            float: left;
            li{
                display: inline-block;
                width: 24.4%;
                vertical-align: top;
                margin-bottom: 30px;
                margin-right: 30px;   
                box-shadow: $box_shadow_blog_page;
                border-radius: 8px;
                min-height: 370px;
                position: relative;
                transition: $transition_out_5s;
                cursor: pointer;
                &:hover{
                    -webkit-transform: $transform_hover_blog_card_section;
                    transform: $transform_hover_blog_card_section;
                }
                &:nth-child(2){
                    width: 45%;
                    span{
                        img{
                            width: 100%;
                            height: 350px;
                        }
                    }
                }
                &:nth-child(3n){
                    margin-right: 0;
                }     
                span{
                    float: left;
                    img{
                        width: 100%;
                        border-radius: 8px;
                        min-height: 180px;
                    }
                }
                .articles-text-box{
                    float: left;
                    width: 100%;
                    padding: 15px;
                    box-sizing: border-box;
                }
                .view-post-section{
                    position: absolute;
                }
            }
        }
    }
}

@media only screen  and (max-width: 768px) {
    .astrologer_breadcrumbs{ display: none; }
    .banner-blog{
        width: 100%;
        margin-top: 0;
        .latest-inner-section{
            margin-bottom: 0;
            h2{
                font-size: 15px;
                margin: 10px 0;
                line-height: 20px;
            }
            ul{
                li{
                    width: 100%;
                    margin-bottom: 15px;
                    min-height: auto;
                    span{
                        img{
                            height: auto;
                            max-height: 110px;
                            min-height: auto;
                        }
                    }
                    .articles-text-box{
                        padding: 10px 15px;
                        h4{
                            font-size: 12px;
                            height: auto;
                            line-height: 18px;    
                            margin-bottom: 5px;                    
                        }
                        .articles-details-section{
                            font-size: 12px;
                            .post-articles-date{
                                font-size: 12px;
                                margin-top: 0px;
                            }
                            h6{
                                margin-top: 6px;
                            }
                        }
                    }
                }
            }
        }
        .adds-banner{
            margin: 10px 0 20px;
        }
        .paginator-blog{
            display: none;
        }
    }
}  
